[2018-08-07 01:37] dhmlau commented on #722
@bushybuffalo , thanks for reporting this!  The example repo has been moved to this location: https://github.com/strongloop-community/loopback-example-connector.   Hope it will get you going before the docs is fixed.

In the meanwhile, would you be interested in submitting a PR to fix this?  Thanks.

[2018-08-09 00:47] bschrammIBM commented on #686
I have added the following links to database connectors per @jannyHou input:
loopback-connector-db2
loopback-connector-dashdb
loopback-connector-db2iseries
loopback-connector-db2z
loopback-connector-informix

I looked through the loopback-connector-* repos and did not find any other database connectors with a transaction.js file.

Suggest that this can be closed.

[2018-08-09 00:49] dhmlau commented on #686
@bschrammIBM , thanks for looking into it.  Where did you make the changes?  When i go to the database transaction page (https://loopback.io/doc/en/lb3/Using-database-transactions.html), it still doesn't have the connectors you've listed above.

[2018-08-09 18:32] bschrammIBM commented on #686
It's there now on the page https://loopback.io/doc/en/lb3/Using-database-transactions.html

[2018-08-09 21:30] dhmlau commented on #714
@virkt25 ,  you were just looking at AccessToken related area.  Could you PTAL?  Thanks.

[2018-08-09 23:42] bschrammIBM commented on #708
The files have been updated but for some reason the topic is not displayed on https://loopback.io/doc/en/lb3/index.html Will check back in case it is just a delay in the automated update.

[2018-08-10 14:28] virkt25 commented on #708
The reason for it failing is because the YAML added has Syntax error (extra spaces for `url` and `output`. As a result, the build fails and the site doesn't get updated.

[code]

vs. the correct output:

[code]

[2018-08-10 16:41] marioestradarosa commented on #708
FYI , I had VSCode prettier plugin making this type of indentation automatically. I had to add .yml at the end of the .prettierignore file .

[2018-08-10 20:59] dhmlau commented on #686
Closing as resolved.

[2018-08-10 20:59] #686 closed

[2018-08-13 17:12] bschrammIBM commented on #708
The page has been added to the loopback.io doc site at
https://loopback.io/doc/en/lb3/zOSconnectEE.html
Closing

[2018-08-13 17:12] #708 closed

[2018-08-14 13:51] dhmlau commented on #713
@hajdun, sorry that we haven't had the chance to clean up the docs after the service in webservicex.net become unavailable.  Would you be interested in submitting a PR for fixing the docs?

A community user helped us to fix the tests by using another web service: https://github.com/strongloop/loopback-connector-soap/blob/master/test/test.js.

[2018-08-24 14:09] virkt25 commented on #714
LoopBack creates a new token for each `login()` request received. The tokens are stored in a new table (userId, accessToken, ttl). So it's possible for a user to be logged in from multiple devices with this approach. The same token isn't re-used AFAIK. Resetting a password will invalidate all previous tokens for the user.

Hope this helps. If you have any more questions, feel free to ask.

[2018-09-10 22:22] bs85 opened #737 "Fix remote methods source property values documentation"
## URL of the page

https://loopback.io/doc/en/lb3/Remote-methods.html

## Nature of the issue

In the "Using an object with a source property" section, it says " Note that query and path are aliases for form".

Looking at the code, all 3 have different behaviors. `form` picks from the request body, `query` from the query params, and `path` from both.

[2018-09-14 22:07] ghmendonca opened #739 "Using hasMany and belongsTo together"
When I define a hasMany relation from model A to model B, it works just fine, I can use the "include" filter to include the B's that belongs to A. But, with only this, I can't include A from B, so when I query B and try to include A, it says that the relation is not defined, and it's correct.

If I do the opposite way, define that B belongs to A, it works just fine too, I can now include the A mod

[2018-09-17 19:06] b-admike commented on #739
@ghmendonca Thank you for explaining the issue. Can you provide us a sandbox application which showcases the issue or perhaps use https://github.com/strongloop/loopback-example-relations to do it since it defines a two way relation for `Customer` and `Order` models (i.e. Customer has many orders and Order belongs to Customer)?

[2018-09-18 19:18] charlie-s commented on #687
How are you defining these relationships? (do you have sample code)

[2018-09-23 00:56] dhmlau commented on #714
Closing this issue as resolved.

[2018-09-23 00:56] #714 closed

[2018-10-11 02:11] gemyero commented on #737
@bs85 I have solved this and my PR is already merged
https://github.com/strongloop/loopback.io/pull/744

[2018-10-11 14:58] bs85 commented on #737
Cheers!

[2018-10-11 14:58] #737 closed

[2018-10-25 16:24] b-admike commented on #713
From @raymondfeng:
- Create and use a dockerized SOAP web service which can be used as a test bed for the example for the documentation page

[2018-10-31 02:30] dhmlau opened #757 "Change banner for loopback.io documentation site and apidocs.loopback.io"
## Description
Related to: https://github.com/strongloop/v4.loopback.io/issues/52
As part of the unified web site experience story, we will change the banner for the following sites to the current LB4 theme.

## Acceptance Criteria
For docs site (https://loopback.io/doc), apidocs site (http://apidocs.loopback.io/),
- [x] change the banner color to LB4 color scheme: https://github.com/strongloop/v4

[2018-10-31 02:33] dhmlau opened #758 "Clean up "Contributing to LoopBack" page"
## Description
The current [Contributing to LoopBack page](https://loopback.io/doc/en/contrib/index.html) only contains information on how to contribute in LB3.  We should include info on how to contribute on LB4 as well.

## Acceptance Critera
Clean up the contributing pages for LB3 and LB4 because they are different:
- [x] create "Contributing to LB3" page, possibly with the current content
- [x

[2018-10-31 12:03] Archynet-GitHub opened #759 "Error: The query object is too deep or circular"
I've done a find query on a model and i get the error above. I get this error from a few days, before it works. The filter where is the following:

[code]
Since before the same filter worked, i suppose that is an issue.

[2018-11-02 19:24] gbosetti opened #762 "Static web pages can not be added"
## URL of the page

https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb3/Add-a-static-web-page.md

## Nature of the issue

The provided example is not working.

## Expected behavior

To load a simple static html file

## Actual behavior

Error
404 There is no method to handle GET /
Error: There is no method to handle GET /
    at restUrlNotFound ...

## Suggested resolution

How do

[2018-11-12 13:10] hajdun commented on #713
I cannot, that is a 3rd party. Here is a free SOAP API I found (also 3rd party): https://geoservices.tamu.edu/Services/Geocode/WebService/v04_01/Simple/SOAP/

[2018-11-13 03:59] raymondfeng commented on #759
See https://github.com/strongloop/loopback-datasource-juggler/pull/1638#issuecomment-437407868

You should configure `maxDepthOfQuery` for the datasource or model settings.

[2018-11-17 14:02] dhmlau commented on #759
Cross posting @raymondfeng's comment from https://github.com/strongloop/loopback-datasource-juggler/issues/1653#issuecomment-434750713:

[2018-11-17 14:03] dhmlau commented on #759
Closing this issue as resolved. Thanks.

[2018-11-17 14:03] #759 closed

[2018-11-19 06:36] nguyenjk opened #774 "document link missing in integrate geo-coding service"
## URL of the page
https://loopback.io/doc/en/lb4/todo-tutorial-geocoding-service.html
## Nature of the issue
the link is broken:
https://loopback.io/doc/en/lb4/Calling-other-APIs-and-web-services.md

## Expected behavior

can you correct the link or make it available ?

## Actual behavior

you should see the content

## Suggested resolution

the file permission or missing file should be updated

[2018-11-19 15:18] dhmlau commented on #774
the link should be https://loopback.io/doc/en/lb4/Calling-other-APIs-and-web-services.html, instead of `.md`.
Would you like to submit a PR?  It's coming from this file: https://github.com/strongloop/loopback-next/blob/master/docs/site/todo-tutorial-geocoding-service.md.

[2018-11-20 09:24] ashtrisk commented on #540
How can I add a common prefix to all API path e.g. /api/v1 in Loopback 4?

[2018-11-20 13:57] Tyler-RCSD opened #777 "Scrollbar position on new theme"
## URL of the page

https://loopback.io/doc/en/lb3/Defining-models.html

## Nature of the issue

On screen widths larger than 1600 pixels the scrollbar overlaps the main content text.
![lb](https://user-images.githubusercontent.com/42674425/48778102-f5099f00-ec99-11e8-87d4-4a78921f3287.PNG)

## Suggested resolution

Revert theme or fix css.

[2018-11-20 21:43] dhmlau commented on #777
@nabdelgadir, could you please take a look? thanks.

[2018-11-21 18:09] dhmlau commented on #757
Closing as done.

[2018-11-21 18:09] #757 closed

[2018-11-21 21:04] dhmlau commented on #777
Should be fixed via #778. Could you please verify? Thanks.

[2018-11-21 21:05] Tyler-RCSD commented on #777
Much better. Thank you!

[2018-11-21 21:05] #777 closed

[2018-12-10 02:51] dhmlau commented on #762
@hacksparrow , could you please take a look? Thanks.

[2018-12-12 18:25] dhmlau opened #786 "Promote LB4 in loopback.io site"
With LB4 being the current release and LB3 as LTS release, it would be great if LB4 shows up as a more prominent location in loopback.io web site.

Discussed with @raymondfeng @bajtos, we're thinking along the line of [Node.js web site](https://nodejs.org/en/). See screen shot below:

![screen shot 2018-12-12 at 1 21 38 pm](https://user-images.githubusercontent.com/25489897/49889916-b9817100-fe10-

[2018-12-12 18:27] joesepi commented on #786
I think this makes perfect sense. Perhaps have a short bit of text above the buttons highlighting v4 and that v3 is "LTS" or however you'd phrase that. I could potentially help with this work after the holidays. Thanks.

[2018-12-12 19:48] aharbis opened #787 "Doc incorrectly states Models do not inherit ACLs from their Base model"
## URL of the page

https://loopback.io/doc/en/lb3/Managing-users.html#security-considerations

## Nature of the issue

Unclear content.

## Expected behavior

Documentation on model inheritance and built-in ACLs should be clear.

## Actual behavior

This page has the following content:

This appears to be incorrect from my discussion with @raymondfeng. I have also found lengthy discussion in http

[2018-12-12 19:49] aharbis commented on #787
I know LB3 is ending support next year, but this has been a pain-point for me when reviewing documentation and trying to build out our own "user" model architecture. Hopefully this is an easy clarification to make in the doc.

[2018-12-13 03:40] dhmlau commented on #787
@aharbis, would you be interested in submitting a PR? Thanks.

[2018-12-17 11:43] hacksparrow commented on #762
@gbosetti I agree, the guide can be simpler and clearer.

Serving static files is actually very simple. You just need to keep your static files in the `client` directory and add the following to `middleware.json` file:

[code]

@dhmlau I tried to rewrite the content, but it is a part of a series; cannot make edits without disruption, which will result in more work.

[2018-12-17 11:43] #762 closed

[2019-01-05 13:44] initfusion opened #791 "File upload in LoopBack 4"
Hi,

I am new to LoopBack, How to upload file in spacific foler in LoopBack 4.

Thanks.

[2019-01-08 09:41] phansw opened #792 "3.x Getting Started part II - create new model incorrect instructions"
## URL of the page
https://loopback.io/doc/en/lb3/Create-new-models.html

## Nature of the issue
Under the section 'Define the Reviewer model', instructions to create the base class states to 'Use the down-arrow key to select User'. Using version 3.24, the way to set the base class to 'User' is to select custom from the menu, and then manually typing in User.

## Suggested resolution

Update the d

[2019-01-09 00:31] dhmlau commented on #792
@phansw, thanks for pointing it out.  Would you like to submit a PR?
In case you're new to submit PR to our repos, you can find some instructions in here: https://loopback.io/doc/en/contrib/doc-contrib.html.  Thanks.

[2019-01-09 00:35] dhmlau commented on #758
Closing as done.
[Contributing code instruction](https://loopback.io/doc/en/contrib/code-contrib.html) and [contributing docs instruction](https://loopback.io/doc/en/contrib/doc-contrib.html) have been updated.

[2019-01-09 00:35] #758 closed

[2019-01-09 09:10] phansw commented on #792
Alright I'll submit a PR

[2019-01-11 03:44] dhmlau commented on #792
Thanks for submitting PR https://github.com/strongloop/loopback.io/pull/793.
I just added some comments over there. Thanks.

[2019-01-15 19:21] dhmlau commented on #791
@initfusion , you might want to check out the following articles:
https://loopback.io/doc/en/lb4/Parsing-requests.html
https://strongloop.com/strongblog/the-journey-to-extensible-request-body-parsing/

Hope it helps.

[2019-01-17 12:36] gaurav21r opened #796 "Incomplete Documentaion on how to use Cookies with LB3"
## URL of the page

https://loopback.io/doc/en/lb3/Making-authenticated-requests.html

## Nature of the issue

Missing Documentation

## Expected behavior

A complete example of how to use Loopback Authentication with Cookies

## Actual behavior

Current Documentation / Sample Code Repo does not solve this

## Suggested resolution

Please see https://github.com/strongloop/loopback/issues/2142#issu

[2019-01-17 15:59] dhmlau commented on #796
@gaurav21r , would you like to submit a PR?  The corresponding file is https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb3/Making-authenticated-requests.md.

[2019-01-21 10:57] gaurav21r commented on #796
Ok i'll try, will update here if im going ahead

[2019-01-21 17:58] #786 closed

[2019-01-25 11:52] ri8ika opened #799 "hiding api for users not allowing to login loopback"
I am just learning loopback (version 3x). And was following [this tutorial](https://loopback.io/doc/en/lb3/Tutorial-access-control.html).

The tutorial states to hide the api for users:

`Expose via REST: No`

I thought, it would just not display in the explorer. But I am also not able to login through any means. For eg. I tried to login from postman. It says there's no method.

When I expose the

[2019-01-25 22:39] jannyHou commented on #799
@ri8ika "Hiding the api" means there is no http endpoint exposed for the corresponding model's functions, e.g. `GET Users/{id}` won't be exposed for `User.findById()`, which means `GET Users/{id}` doesn't exist.
That's why whichever tool you use, postman or curl, doesn't make a difference.

LoopBack defines a set of REST functions for persisted model, like `find()`, `findById()`, `patch()`, `delet

[2019-01-26 05:56] ri8ika commented on #799
@jannyHou Thanks for your reply.

Okay, hiding api for `/users` will not allow to perform its method. But,  shouldn't we also be able to login? Please check the tutorial I have linked and let me know.

Thanks again.

[2019-01-27 22:58] dhmlau commented on #792
Closing this issue as it doesn't seem to be a problem.  My finding and the discussion with @phansw are captured in https://github.com/strongloop/loopback.io/pull/793.

[2019-01-27 22:58] #792 closed

[2019-01-28 12:52] bajtos commented on #799
@ri8ika To hide a method from REST API Explorer, but keep it still accessible to clients, one can set `documented: false` in remoting metadata of such method.

Here is a mock-up to illustrate what I mean, it may not work out of the box.

[code]

[2019-02-08 23:00] dhmlau commented on #791
@initfusion , i'd like to continue the discussion about file upload in this issue: https://github.com/strongloop/loopback-next/issues/1873.  As a result, closing this issue as duplicate of https://github.com/strongloop/loopback-next/issues/1873. Thanks.

[2019-02-08 23:00] #791 closed

[2019-02-11 12:23] rahulrkr08 opened #808 "Search "sidebar" replacing with lb3"
## URL of the page

https://loopback.io/search/?q=rest&sidebar=lb4_sidebar

## Nature of the issue

Re-searching from search page, replacing sidebar option to lb3 instead of lb4 and results are coming again from lb3.

## Expected behavior

Keep the state of sidebar as "lb4_sidebar"if it is in query.

[2019-02-13 04:46] ri8ika opened #810 "lb-tsc: not found"
When I'm trying to deploy my app in heroku. I get this log:

`lb-tsc: not found`

Please help me what can be a fix.

It's a loopback 4 application.

[2019-02-13 05:14] raymondfeng commented on #810
Is `@loopback/build` a dev dependency in your module's package.json? If so, does `npm install` happen?

[2019-02-13 06:42] bhojport commented on #810
Yes. It is there in dev dependency.

[2019-02-13 06:44] ri8ika commented on #810
Yes. It's there in dev dependency.

[2019-02-13 08:16] ri8ika commented on #810
Ah, thanks. I need to do `npm install`.
Thanks

[2019-02-13 09:58] ri8ika commented on #810
For more information, I have defined the DB_PORT in heroku from setting and also in the application:
[code]

[2019-02-13 17:25] #810 closed

[2019-02-13 17:36] ri8ika opened #811 "How to let app insert id automatically?"
In loopback 3, the id was inserted automatically. But in loopback 4, it is required even when creating models.

[code]

After removing the required: true option worked when I was working with mongodb - the id was created automatically when post request happens. But for giving it a try to live on heroku, I needed to use postgres rather than mongodb. So, I decided to create  new project locally and

[2019-02-13 21:32] dhmlau commented on #811
@ri8ika, IIRC, last time I got it to work for postgresql is:
[code]

In case you're running issue with the postgresql setup, I've put together some information here: https://medium.com/loopback/loopback-4-todo-list-example-switching-to-a-sql-or-nosql-database-24cd68cf3647.

[2019-02-14 02:17] ri8ika commented on #811
Ah, I tried it but still getting error:
[code]

[2019-02-14 07:53] ri8ika opened #813 "What environment variables should we use for database configuration?"
After following [medium blog](https://itnext.io/loopback-4-database-configuration-8f085399268), I set the following variables:
[code]

But this is not working.

After some research I found this issue:

https://github.com/strongloop/loopback-boot/issues/4

But I am still not sure what database environment variables are available to use in loopback 4.

[2019-02-14 09:10] chi-tran opened #814 "Does Loopback 3 support MongoDb 4 transactions?"
Mongo 4 supports transactions, has anyone got this working with loopback 3?

[2019-02-14 18:07] dhmlau commented on #811
@ri8ika , I just tried it out.
[code]
Please note that the `id` variable (last line of the above snippet) is not optional.

[2019-02-14 18:19] ri8ika commented on #811
Yes, I used generated option but it didn't work. Maybe the type is string in my case?
[code]

[2019-02-14 18:21] ri8ika commented on #811
Ah, I will try it.

[2019-02-14 18:27] ri8ika commented on #811
Sorry, still not working for me. Maybe the type is string in my case?
[code]

[2019-02-14 18:39] ri8ika commented on #811
I just tried using number, but still getting same error. Are you also using postgres?

[2019-02-14 18:50] dhmlau commented on #811
Yes, I'm using postgres.  I assume you're not using the `automigrate` function to create the table?
I just realized that if I use `npm run migrate` to get the table generated, it has some extra values in the property/column that we want to have id auto-gen.
[code]
See the `nextval...`.

I'm hitting a bug described in here: https://github.com/strongloop/loopback-next/issues/2398.
Still investigatin

[2019-02-14 19:03] dhmlau commented on #811
@ri8ika, I think I might know the key to get this to work.  I created the table on postgresql using `npm run migrate` command.  In that case, it adds the `nextval` in the column as mentioned [above](https://github.com/strongloop/loopback.io/issues/811#issuecomment-463745812).

I've tried it with column type being `integer` or `text` (on postgresql).  You can see my repo:
https://github.com/dhmlau/

[2019-02-14 19:03] ri8ika commented on #811
Hmm, I had run the migration, but currently not seeing such `nextval`

[2019-02-14 19:06] dhmlau commented on #811
did you run `npm run build` to make sure the latest code got transpiled? just in case..

[2019-02-14 19:09] ri8ika commented on #811
Never. But why to run build? I'm testing it in development. Still no luck running after build.

[2019-02-14 19:15] ri8ika commented on #811
I will try to figure out on this later. But I'm facing a major issue. Can you please help me on this?

https://github.com/strongloop/loopback.io/issues/813

The repo I have hosted in heroku is:

github.com/bhojport/nexserver

[2019-02-14 20:46] dhmlau commented on #813
@ri8ika , I think the error occurred because the IP is not correct.  I haven't tried it on Heroku but I think you need to modify the `index.js`.  Please see https://loopback.io/doc/en/lb4/deploying_to_ibm_cloud_kubernetes.html#step-2-modify-deploy-testindexjs.

[2019-02-16 02:51] dhmlau commented on #811
@ri8ika , i just had a chance to review your repo, and noticed that the id field is optional. https://github.com/bhojport/nexserver/blob/master/src/models/product.model.ts#L43-L48.

It should be the following instead:
[code]

You can see my example [here](https://github.com/dhmlau/loopback4-example-todo-customized).

[2019-02-16 04:45] ri8ika commented on #811
@dhmlau Yes, it's optional there. I have not updated the repo. But as per your suggestion, I already tried and didn't get it working - locally and so not updated in repo.

[2019-02-19 14:03] nabdelgadir commented on #808
Fixed via #815, thanks for the contribution!

[2019-02-19 14:03] #808 closed

[2019-02-21 17:37] dhmlau commented on #811
@ri8ika , I haven't got a chance to run your example.  But if it's the same as my example, try running `npm run clean` on your app and see if it helps.

[2019-02-21 18:00] ri8ika commented on #811
Sorry, I can't migrate the db in heroku so stopped working on it.

[2019-02-28 03:54] dhmlau commented on #774
Closing as fixed.

[2019-02-28 03:54] #774 closed

[2019-03-01 03:19] dhmlau commented on #799
Closing as resolved.

[2019-03-01 03:19] #799 closed

[2019-03-05 05:38] Jackclarify opened #818 "Unable to convert to instance of "Geofencing": TypeError: Cannot assign to read only property '0' of string '4099ce8e-a136-42a8-be78-e7555f0a1cab' when query with where filter `near`"
## URL of the page

If applicable.

## Nature of the issue

Is this an issue with the layout/behavior/UX of the site or a problem with missing/inaccurate documentation content?
In general, use this (loopback.io) repo for issues with layout/behavior/UX of the site, and other repos for doc content.
dependancies:
[code]
geofencing.json
[code]
modules:
[code]
## Expected behavior
Query out the results

[2019-03-05 06:50] #818 closed

[2019-03-13 19:07] MaryJJ opened #821 "Method create does not create new instance"
## Nature of the issue

Hello:
I'm developing an API, with my own authentication.
 I created an account model that inherits from User and I created a session model that inherits from AccessToken.
//Account
{
  "name": "account",
  "plural": "accounts",
  "base": "User",
  "idInjection": true,
  "options": {
    "validateUpsert": true
  },
  "relations": {
    "roleMappings": {
      "type": "hasOn

[2019-03-15 23:26] WorldWideWebb opened #822 "Large file uploads fail silently in LB3"
I have a relatively empty remote method set up (I've stripped out everything else to debug this), and any time I POST a large file (been trying one that's around 700MB) to the method, it fails silently - no errors, no nothing. On the client side (hitting this from a test page in my app), the request waits in a pending status forever. In the remote method, I added a log to the console as the very f

[2019-03-19 15:13] dhmlau commented on #814
@chi-tran , sorry about the late reply.  Cross posting [my comment](https://github.com/strongloop/loopback-next/issues/1599):

I've created a github issue for documenting how to open a transaction: https://github.com/strongloop/loopback-next/issues/2614.

For the transaction support, please continue the discussion in https://github.com/strongloop/loopback-next/issues/1599. Thanks.

[2019-03-19 15:13] #814 closed

[2019-03-21 13:47] SirBertly opened #824 "The HasManyThrough relations page is incomplete and misleading"
## URL of the page
https://loopback.io/doc/en/lb3/HasManyThrough-relations.html

## Nature of the issue
The documentation is incomplete and misleading

## Expected behavior
The Has Many Through relationship has a joining Appointment model that is important and cannot be overlooked, unlike the join table in a HABTM relationship.

**Missing:**

- the has many relationship definition between the pati

[2019-03-22 22:06] dhmlau commented on #824
@SirBertly , would you be interested in helping us to improve the documentation?

[2019-03-28 07:57] sukeerthi117 opened #827 "How to convert lb2 app to lb3/4"
Hi ,

i am new to loopback.i want to convert lb2 project to lb3/4 .For this do i need to re-implement the project ?or is there any auto-convertion way ?

can u plz help me.

Thank you

[2019-03-30 02:14] dhmlau commented on #827
@sukeerthi117, I'd like to point you to our recent blog post: https://strongloop.com/strongblog/lb3-extended-lts/.  I believe it covers the information you're looking for.

[2019-04-03 09:28] Jackclarify commented on #818
Because of the find() will return a array, not a only one geofencing object.

[2019-04-05 16:45] dhmlau commented on #827
Closing it as resolved. @sukeerthi117, if you have further questions, please let ping me here so that i can reopen this issue or open a new issue.  Thanks.

[2019-04-05 16:45] #827 closed

[2019-04-08 15:49] Sarkhad opened #829 "Loopback 4 crashes when fetch entity that has embedded object from MongoDb"
When loopback trying to fetch entities it crashes. But writing to a database works properly. Stack trace below:

`Server is running at http://127.0.0.1:3000
Try http://127.0.0.1:3000/ping
C:\Users\DABRYNIN_AA\WebstormProjects\rfu-digital-backend\node_modules\mongodb\lib\utils.js:132
      throw err;
      ^

TypeError: Cannot read property 'properties' of undefined
    at MongoDB.fromDatabase (C:\

[2019-04-08 20:42] dhmlau commented on #829
I think when you're defining the property `orderDetails`, instead of
[code]
it should be:

[code]

[2019-05-21 20:30] woodmanhu opened #838 "How to connect Rest server using Digest authentication client in Loopback rest connector"
## Nature of the issue

The target REST server that I'm going to connect to get data from has Digest authentication set up for external connection. I've initialized loopback 3 project in my local machine(win10, VScode as SDK), created datasource.json and model (TestOne) under common folder. when I run the program I kept geting 401 unautherized or 403 forbidden no matter how and where I specify the

[2019-05-24 20:18] dhmlau opened #839 "[Proposal] Change main pages of loopback.io to use v4 pages"
### Background
Currently we have 2 LoopBack web sites: loopback.io and v4.loopback.io. Our initial plan was to make the v4.loopback.io repo ready so that when we are ready (docs pages and everything are set up properly), we can make v4.loopback.io repo to serve at loopback.io.

Since we are planning to keep most of the documentation infrastructure, it might be a good idea to make changes to the ex

[2019-05-24 20:55] nabdelgadir commented on #839
I like this proposal more than the other way around (suggested in https://github.com/strongloop/v4.loopback.io/issues/65), but if for any reason this way doesn't work we still have the other proposal.

If we do this switch, then should we add redirections for current lb3 pages like loopback.io/examples -> https://loopback.io/doc/en/lb4/Examples.html to not break existing urls? I don't think this i

[2019-05-25 11:59] dhmlau commented on #839
that's good point. Thanks for bringing this up.

[2019-05-31 09:54] mwlalata commented on #811
loopback has the worst docs

[2019-06-04 18:18] dhmlau commented on #839
Closing it as done. via PR https://github.com/strongloop/loopback.io/pull/840

[2019-06-04 18:18] #839 closed

[2019-06-26 02:34] dhmlau commented on #260
I just tried... most of the links no longer work.
I'd like to close this issue due to inactivity.

[2019-06-26 02:34] #260 closed

[2019-06-27 18:36] dhmlau commented on #65
Closing due to inactivity.

[2019-06-27 18:36] #65 closed

[2019-07-15 23:17] dhmlau commented on #518
Closing due to inactivity.

[2019-07-15 23:17] #518 closed

[2019-08-13 17:21] ctrevisan commented on #811
Just ran into a similar issue. As @dhmlau pointed out, the `generated` property needs to be set to `true`. However, _auto-updating_ (`npm run migrate`) doesn't seem to set the column to auto-increment; only _auto-migrating_ (`npm run migrate -- --rebuild`, which drops the tables and creates them again) seemed to work.

[2019-08-18 08:48] 1057437122 opened #872 "how to set table's charset while creating a new model"
I created a model with command `lb4 model` and finished all the settings. But after i did the migration with `yarn migrate` , I found the table was created with charset latin1 ( I'm useing mysql 5.7.26), and the mysql command `show create table ` returns like this
[code]
how can i change the charset to  utf8 while create the model file ?

[2019-08-23 21:16] ktaletsk opened #876 "ESLint links are broken"
## URL of the page

https://loopback.io/doc/en/lb4/todo-tutorial-scaffolding.html

## Nature of the issue

Links for ESLint are broken:
- https://palantir.github.io/eslint/usage/eslint-json/
- https://palantir.github.io/eslint/usage/eslint-json/

Source code line:
https://github.com/strongloop/loopback.io/blame/gh-pages/pages/en/lb4/tutorials/todo/todo-tutorial-scaffolding.md#L90

## Expected beha

[2019-08-25 13:20] dhmlau commented on #876
@ktaletsk , thanks for reporting this.  Would you like to submit a patch? Thanks.

[2019-08-29 20:26] Gotemperor opened #879 ""message": "Unexpected token e in JSON at position 1","
I am using angular 7 and loopback 3.
I am making a simple post http call to default Users (the one, that comes with loopback app).
i am posting a valid Json from angular
{email: "myemail@abv.bg", password: "password1%", name: "ggggggg"}

but in loopback I get  error

{
  "error": {
    "statusCode": 400,
    "name": "SyntaxError",
    "message": "Unexpected token e in JSON at position 1",
    "exp

[2019-09-22 22:15] irineul commented on #810
Hi @raymondfeng I'm trying to build a development environment, following these instructions: https://loopback.io/doc/en/lb4/code-contrib-lb4.html#setting-up-development-environment

I'm receiving the same error when I try to do `npm run build`

sh: lb-tsc: command not found

[2019-09-23 02:12] raymondfeng commented on #810
Make sure you run `npm install` at the `loopback-next` directory first.

[2019-09-27 08:22] lokesh1197 opened #889 "Links targeting to MD files broken"
## URL of the page
https://loopback.io/doc/en/lb4/todo-tutorial-putting-it-together.html

## Nature of the issue
Broken links

## Expected behavior
Links should target to html files

## Actual behavior
Links target to md files

[2019-09-27 21:49] dhmlau commented on #889
@lokesh1197, thanks for catching this. I've commented on your PR, please see https://github.com/strongloop/loopback.io/pull/890#issuecomment-536107281.  Thanks!

[2019-09-30 07:38] lokeshmohanty commented on #889
I have submitted a pull request here: https://github.com/strongloop/loopback-next/pull/3841
I will close the issue when it gets accepted

[2019-10-01 14:11] #889 closed

[2019-10-21 21:24] irineul commented on #810
Hey, it's working now. For those who are having an error with build, maybe could help:
`sudo npm cache clear --force`
`npm run update-package-locks`
`npm ci` (again)
`npm run build`

[2019-10-26 05:37] sirajalam049 commented on #824
Well, yes, I really would, Loopback documentation needs many improvements.

[2019-10-28 04:05] aceraizel opened #897 "Define unique multiple column in model"
How to define unique multiple column in model?
I'm using loopback 4.
Thank in advance!

[2019-10-28 16:17] dhmlau commented on #876
Fixed via https://github.com/strongloop/loopback-next/pull/3864.  Closing this issue.

[2019-10-28 16:17] #876 closed

[2019-10-29 14:19] adrianhill102 commented on #673
This link is still down, who can fix this?

[2019-11-03 15:50] danchirillo opened #902 "Missing Prompt in Tutorial: Add TodoList Model"
## URL of the page
[Tutorial Add TodoList page ](https://loopback.io/doc/en/lb4/todo-list-tutorial-model.html)

## Environment
macOS 10.15.1
`node` version v10.17.0
@loopback/cli version: 1.24.0

## Nature of the issue
There's a prompt when adding a property to a model not included in the tutorial:  `Is <property> generated automatically?`

![image](https://user-images.githubusercontent.com/120073

[2019-11-03 15:59] #902 closed

[2019-11-08 16:57] hevillalobosccxc commented on #897
Example
[code]

@aceraizel

[2019-11-20 08:33] QuentinLB opened #907 "Broken anchor link"
## URL of the page

https://loopback.io/doc/en/lb4/Model.html

## Nature of the issue

In section Model Decorator > Supported Entries of Settings
Link to https://loopback.io/doc/en/lb4/Model.html#id-properties is broken because the anchor is missing from the page, content relative to id properties seems also missing from this page and nothing meaningful came out of a site wide search.

## Expected

[2019-11-20 15:59] dhmlau commented on #907
@QuentinLB, thanks for reporting this issue. I wonder if the anchor meant to point to content something like in https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#id-properties.  Would you like to submit a PR for that? The corresponding docs page is https://github.com/strongloop/loopback-next/blob/master/docs/site/Model.md.

For your question about generated id, you can use the `genera

[2019-11-20 16:12] QuentinLB commented on #907
Hey @dhmlau, thanks for your answer. Sorry for the PR but I don't want to sign the CLA, I hope you understand.

[2019-11-20 16:13] QuentinLB commented on #907
Feel free to grab the referenced commit though.

[2019-11-20 16:43] dhmlau commented on #907
No problem @QuentinLB, I understand.  We're planning to switch the contribution method from CLA to DCO (https://github.com/probot/dco) in a near future.  Do you think you would be able to contribute in the future with DCO in place?

[2019-11-20 17:12] dhmlau commented on #907
I'd like to keep this issue open because that's something should be fixed.

[2019-11-21 13:11] QuentinLB commented on #907
I understand that it may be important for your org & legal team but I don't want to have this discussion with my legal department and explain them open source and contributions. Sorry.

[2019-11-22 01:39] dhmlau commented on #897
@aceraizel, i believe @hevillalobosccxc has answered your question. I'll close this issue. Thanks.

[2019-11-22 01:39] #897 closed

[2019-11-26 20:02] CliffWMiller opened #908 "Information on LoopBack landing page is vague and uninformative for potential users"
## URL of the page
https://loopback.io/

## Nature of the issue
This is an issue with the UX, information architecture, and/or copy used on your landing page.

## Expected behavior
I expect to quickly understand what the library and/or product does and how it might be useful to me.
Is this a library? Is it a BaaS? Is it a tool?

## Actual behavior
I had to dig to even get a hint of what LoopBack i

[2019-11-26 20:04] cliff-km commented on #908
I hope this doesn't come across as harsh. My intention was for this to be helpful. Most people who experience this would just bounce but I was actually pretty curious what the tool does.

[2019-11-27 03:31] dhmlau commented on #908
@CliffWMiller, thanks for your feedback and suggestions! I agree that the "second title" under LoopBack 4 is only meaningful to people who know what LoopBack is.

Taking your suggestion, I'm thinking:

Option 1: Minimal change. Keeping the main title and update the secondary title to be more descriptive of what LoopBack is.
<img width="1006" alt="Screen Shot 2019-11-26 at 10 23 10 PM" src="https:/

[2019-11-27 03:32] dhmlau commented on #908
cc @strongloop/loopback-maintainers  ^^

[2019-11-27 08:29] joeytwiddle opened #911 "Setting up authentication is difficult! Improve docs?"
https://loopback.io/doc/en/lb4/Loopback-component-authentication.html

The authentication document is very detailed in explanation, but perhaps less helpful than it could be for developers.

I am working on the idea that a developer with mid-level web experience wants to start adding authentication to their app. They might care less about how the system works internally and more about the steps re

[2019-11-27 14:34] dhmlau commented on #911
@joeytwiddle, thanks a lot for the tutorial.  I've commented in your PR https://github.com/strongloop/loopback.io/pull/910 that the source of our docs is in loopback-next repo.

[2019-11-27 19:25] cliff-km commented on #908
@dhmlau
I think I agree with you and like the second one a little more than the first.

On the get started thing. I was just looking at the page again and noticed the "Ready to build amazing things?" block at the bottom. Maybe that could get moved up.

I'm not sure exactly where but my gut feel is maybe right after the features section. So it's kind of like you come to the site, get introduced, th

[2019-11-29 03:28] dhmlau commented on #908
@CliffWMiller, I think the flow you described above makes sense.  If we're moving the "get started" section up, we probably need to change the background color of that section too. :)

FYI - I have an article about creating a frontend on top of the REST APIs created by LoopBack: https://developer.ibm.com/tutorials/end-to-end-nodejs-application-with-loopback-4-cloudant-and-angular/. Despite the lin

[2019-12-03 19:29] agnes512 commented on #907
Maybe we can find something to check if we have any dangling links

[2019-12-15 15:49] jgutix opened #916 "passport-adapter"
## URL of the page

If applicable.

## Nature of the issue

Is this an issue with the layout/behavior/UX of the site or a problem with missing/inaccurate documentation content?
In general, use this (loopback.io) repo for issues with layout/behavior/UX of the site, and other repos for doc content.

## Expected behavior

What did you expect to happen?

## Actual behavior

What actually happenend, wi

[2019-12-15 15:50] #916 closed

[2019-12-23 19:16] pranavatgithub commented on #810
still having issue while deploying in heroku

lb-tsc: not found

[2019-12-28 19:41] afilp commented on #810
Me too, I cannot deploy on heroku, any ideas? Thanks!

2019-12-28T19:18:57.580830+00:00 app[web.1]: > lb-tsc
2019-12-28T19:18:57.580831+00:00 app[web.1]:
2019-12-28T19:18:57.599490+00:00 app[web.1]: sh: 1: lb-tsc: not found

[2019-12-28 20:04] asaurav025 commented on #810
@afilp @pranavatgithub Try deploying using the container. This is the only method which is currently working for heroku now.

[2019-12-28 21:46] afilp commented on #810
@asaurav025 Thank you, can you please show us what you mean by "container"? You mean docker? Is there a page maybe with instructions for Heroku (or for just the container)?

Thanks again!

[2019-12-28 23:35] afilp commented on #810
I think I have good news, I read somewhere to replace `web: slc run` with `web: node .` in `Procfile`, and it seems to be working in Heroku! I do see the `explorer` and can use all the endpoints.

@pranavatgithub @asaurav025 Can you please also verify this? Thanks.

[2019-12-29 10:10] asaurav025 commented on #810
@afilp Yes I meant docker. Here is the [link ](https://devcenter.heroku.com/articles/container-registry-and-runtime) which you can follow to know more.

[2020-01-20 05:33] achrinza opened #925 "bug: External LoopBack API Validator default Swagger JSON URL to uses HTTP"
## URL of the page

https://loopback.io/api-explorer/

## Nature of the issue

A functional issue.

## Expected behavior

The default Swagger JSON URL should be valid.

## Actual behavior

A mixed-content error occurs.

## Suggested resolution

The default Swagger JSON URL should be using HTTPS as per-[Swagger API Validator](http://petstore.swagger.io/).

[2020-01-26 04:08] jgwinner opened #927 "Doc update for URL"
## URL of the page

https://loopback.io/doc/en/lb3/Security-considerations.html

## Nature of the issue

The last line has a URL that goes to a 404

## Expected behavior

I click on the line "Cookies vs Tokens. Getting auth right with Angular.JS" and it goes to a webpage.

## Actual behavior

You get a 404

## Suggested resolution

Replace the URL with this one: https://sking7.github.io/articles/1

[2020-01-31 10:07] skaluva opened #929 "Loopback soap integration run failing in API Explorer"
https://loopback.io/doc/en/lb4/Connecting-to-SOAP.html

I followed above tutorial and able to succesfully integrate one of our web service as API Explorer.
But when i run API in APIExplorer, its always giving me error 406 - Unacceptable.
I copied the cURL given in API Explorer and ran in Postman.
Observed that API Explorer adding "--header 'Accept: text/plain'", when i remove the same in Postman,

[2020-01-31 22:26] dhmlau commented on #929
@skaluva, I think it's better to call the SOAP service as the service proxy, as shown in https://loopback.io/doc/en/lb4/Calling-other-APIs-and-web-services.html.
I also have a running app: https://github.com/dhmlau/loopback4-external-apis.

Will try to see if [this docs](https://loopback.io/doc/en/lb4/Connecting-to-SOAP.html) is applicable to LB3 only.

[2020-02-03 07:47] skaluva commented on #929
@dhmlau  Thanks for the reply. But i have 100s of APIs in a webservice and i have multiple webservices like that. In the approach you suggested, i need to input all API details. But whatever tutorial i followed it automatically generates all API implementations without much effort.   As postman works nicely by removing the Accept Header, i think it is something to do with API Explorer only to corr

[2020-02-03 16:19] dhmlau commented on #929
Thanks @skaluva  for your explanation.
@hacksparrow, could you please take a look when you're available? Thanks.

[2020-02-05 13:16] #927 closed

[2020-02-05 18:14] jgwinner commented on #927
Thank you!

[2020-02-09 02:27] #811 closed

[2020-02-22 04:19] dhmlau commented on #397
Closing due to inactivity.

[2020-02-22 04:19] #397 closed

[2020-02-26 23:59] dhmlau commented on #315
Closing due to inactivity.

[2020-02-26 23:59] #315 closed

[2020-03-11 08:42] hacksparrow opened #938 "Add a FAQ section"
Let's have a FAQ section so our users can quickly find some of the common questions and queries instead of having to browse through multiple pages to get the answer.

Examples:

1. What's the difference between `ctx.bind()` and `ctx.configure()`?
2. Where do I find the default binding keys?
3. How do I use Express middleware with LoopBack 4?
4. How do I disable the API Explorer?
5. How do send a c

[2020-03-11 16:09] agnes512 commented on #938
❤️ I like the idea cause we get similar questions from users sometimes.

Some questions/suggestions to consider:
- Do we want to have the FAQ section for each large concept/topic? example: topics under [Key concepts](https://loopback.io/doc/en/lb4/Concepts.html) page
- What kind of answers we would like to have? short explanations? detailed examples? or links?
 (Personally, if I were a user, I'd l

[2020-03-12 05:25] skaluva commented on #929
@dhmlau @hacksparrow any plans to take up this? This is the only bug stopping me integrating my SOAP webservices :(

[2020-03-12 06:22] hacksparrow commented on #929
@skaluva if you can share a simple app which reproduces this promlem, I can take a look at this issue today.

[2020-03-12 06:58] hacksparrow commented on #938
We should start small on a single page. If they grow into more than 50, then we can categorize them under sub-sections on the same page.

(Personally, if I were a user, I'd like to have a short example to show setups/usages)

Short explanations and relevant links. No examples. When in doubt, ask yourself, "What would Siri do?".

No FAQ's on docs pages themselves. One-click access to the answers on

[2020-03-12 15:08] #907 closed

[2020-03-13 13:29] aharbis commented on #787
bump

[2020-03-19 10:00] W2AlharbiMe opened #949 "html parsing issue [docs]"
## URL of the page

https://loopback.io/doc/en/lb4/PostgreSQL-connector.html#properties

## Nature of the issue

this an issue in the process of paring the html markup in the properties section.

[2020-03-19 14:29] dhmlau commented on #949
@agnes512, I think you were looking into this. Could you please take a look? Thanks.

[2020-03-19 17:32] #949 closed

[2020-03-21 00:09] #925 closed

[2020-03-27 08:37] #336 closed

[2020-03-27 08:37] #389 closed

[2020-03-27 08:37] #331 closed

[2020-03-27 08:37] #379 closed

[2020-03-27 08:37] #541 closed

[2020-03-27 08:37] #560 closed

[2020-03-27 08:38] #434 closed

[2020-03-27 08:38] #89 closed

[2020-03-27 08:38] #739 closed

[2020-03-27 08:38] #687 closed

[2020-03-27 08:38] #540 closed

[2020-03-27 08:38] #821 closed

[2020-03-27 08:38] #822 closed

[2020-03-27 08:38] #722 closed

[2020-03-27 08:38] #796 closed

[2020-03-27 08:38] #713 closed

[2020-03-27 08:38] #576 closed

[2020-03-27 08:38] #824 closed

[2020-03-27 08:38] #673 closed

[2020-03-27 08:38] #908 closed

[2020-03-31 02:16] dhmlau commented on #929
@skaluva, how does your controller for that endpoint look like?
If the endpoint is expecting content type to be `text/xml`, you might want to do the following:
[code]
I've tried the above solution to call the endpoint from API Explorer, the curl command contains `-H "Content-Type: text/xml"`.

Please give it a try.  Thanks.

[2020-04-08 14:38] dhmlau commented on #929
@skaluva, we believe we've addressed your question. I'd like to close this issue now, please feel free to open a new issue if you have other questions. Thanks.

[2020-04-08 14:39] #482 closed

[2020-04-08 14:39] dhmlau commented on #582
Closing due to inactivity.

[2020-04-08 14:39] #582 closed

[2020-04-10 03:17] ryan-senn opened #962 "Broken link"
## URL of the page

https://loopback.io/doc/index.html

## Nature of the issue

The tag "getting started" at the bottom of the page links to https://loopback.io/doc/tag_getting_started.html, which shows me a 404 not found.

### Acceptance Criteria (Updated by the LoopBack team)
- [ ] remove the broken link in the page.

_For longer term solution, we might want to think about re-introducing tags in

[2020-04-16 16:47] dhmlau commented on #962
@ryan-senn, thanks for reporting this.
Ideally, this would point to LB4 docs with `getting_started` tag.  But it seems like the LB4 docs are not using the `tag` field in the front matter.

As the quick fix, I think we can remove the broken link in the page.
For longer term solution, we might want to think about re-introducing tags in the LB4 docs.

[2020-04-16 22:23] remicarette commented on #810
@afilp I have tried many solutions and it works when a create a Procfile :
```web: node index.js```

and I also added a `heroku-postbuild` script in the package.json
```"heroku-postbuild": "npm run build"```

hope it helps.

[2020-04-28 18:18] dhmlau commented on #962
Discussion from today's estimation meeting:
- we'll remove the broken link as a shorter term solution
- for longer term solution, it might be a good idea to use tags for discovery of the content.

[2020-04-28 18:45] #962 closed

[2020-04-28 20:20] ThePrez opened #975 "Database connectors summary page out of sync with sidebar"
## URL of the page

https://loopback.io/doc/en/lb4/Database-connectors.html

## Nature of the issue
The following anomalies (at minumum) show that the sidebar is correct but this summary page is not:
- Db2 for IBM i is missing
- DB2 for iSeries is a dead link
- "DB2 Connector" doesn't match sidebar name

This looks to be oversight upon resolution of #943 & https://github.com/strongloop/loopback-ne

[2020-04-29 02:19] #975 closed

[2020-05-16 02:07] dhmlau opened #984 "Fix Travis build from discovery-upload.js script"
Travis build failed because of the `Unexpected token in JSON` in `_site/posts.json`.  See error stack below, coming from https://travis-ci.com/github/strongloop/loopback.io/builds/166415595.

[code]

Going through the commit, it's possible that it's caused by the translation PR. See https://github.com/strongloop/loopback.io/commits/gh-pages.

## Acceptance Criteria
- [ ] look into where in the `po

[2020-05-17 01:14] dhmlau commented on #911
With the new extension `@loopback/authentication-jwt`, we're going to tailor the tutorial to use that extension. See https://github.com/strongloop/loopback-next/pull/5421.

[2020-05-19 03:09] joeytwiddle commented on #911
I had wanted to share a JWT-free approach, for developers who perhaps want to integrate with an existing authentication system (e.g. migrating an existing service to Loopback).

I wanted to show the very basics of LB authentication, with few assumptions, so the developer can fill in their specific method. (Although I did assume OAuth2 in the end!)

Anyway that was just my use case. Please do whate

[2020-05-20 18:52] dhmlau opened #987 "Better solution for translating express-with-lb4-rest-tutorial.md"
@saotak @kaim01, we might need your help on the Japanese version of the docs.

At some point, we had a json issue with the generated `_site/posts.json` and it seems to be coming from one of the Japanese docs. Without knowing Japanese, I created this PR https://github.com/strongloop/loopback.io/pull/986 to remove `プロジェクトフォルダー内で` in order to get rid of this validation issue. Could you please help

[2020-05-20 19:30] #984 closed

[2020-05-25 19:27] dhmlau commented on #987
Fixed https://github.com/strongloop/loopback.io/pull/989. Thanks @kaim01!

[2020-05-25 19:27] #987 closed

[2020-05-27 11:33] GitMastStas opened #991 "SQS integration"
Was just trying to find implementation of SQS from AWS for loopback 4 but cant seem to find any resources whatsoever, would appreciate any sort of information on this topic and how to get it done.

[2020-05-27 19:00] dhmlau commented on #991
@GitMastStas, we haven't looked into SQS in particular. @raymondfeng did a POC on using web socket: https://github.com/raymondfeng/loopback4-example-websocket. Would that be something enough to get you started?

[2020-05-30 06:37] #787 closed

[2020-06-05 16:19] dacamposol commented on #810
Sorry for the delayed response, but in case that you're still wondering how to do that:

Create an **heroku.yml** file at the root folder of your project, the basic _Dockerfile_ shall be automatically created by the Loopback CLI, so just add the following text in that file:
[code]

Then, you will have to change the way that you're staging your app in Heroku, so perform the command **heroku stack:s

[2020-06-08 08:19] skaluva commented on #929
@dhmlau
Apologies for the late reply. Still not working. If i select "text/xml" from the content type drop down in API, It is still adding "text/plain" to the headers list. Not sure why. PFA screenshots for your reference.

![image](https://user-images.githubusercontent.com/2105229/84007935-b7a95700-a98e-11ea-9da5-6509740f97fa.png)
![image](https://user-images.githubusercontent.com/2105229/8400795

[2020-06-25 11:55] ismirnov-ekoniva opened #1003 "Broken documentation page (Model-definition-JSON-file)"
## URL of the page

Github: https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb3/Model-definition-JSON-file.md
Site: https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html

## Nature of the issue

All documentation content after "Data mapping properties" section is not displayed in documentation site (but persists in Github)

## Expected behavior

Github page content is equ

[2020-06-25 13:44] dhmlau commented on #1003
@ismirnov-ekoniva, thanks for reporting it. Looking at the source on GH, looks like the table  didn't get render properly. Are you interested in submitting a PR? Thanks.

[2020-06-26 17:58] teamtofu opened #1004 "Search not working in Firefox due to Same Origin Policy"
## URL of the page

[https://loopback.io/search/?q=%40property&sidebar=lb4_sidebar](https://loopback.io/search/?q=%40property&sidebar=lb4_sidebar)

## Nature of the issue

Origin policy blocking load of search api via ajax.

[code]

## Expected behavior

Search results would load. (User-Agent: `Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:78.0) Gecko/20100101 Firefox/78.0"`)

## Actual behavior

P

[2020-07-01 00:12] dhmlau commented on #1004
@teamtofu, do you know if it only happens on Firefox?
I tried it on Mac with Firefox and it seems to be fine.  Will try to get a Windows machine to reproduce this problem.

[2020-07-08 00:47] dhmlau opened #1005 "loopback.io header not collapsed for mobile"
## URL of the page

Reported by a user from Slack channel: https://loopbackio.slack.com/archives/C01177XQN8N/p1592276970025300,

![Image from iOS](https://user-images.githubusercontent.com/25489897/86860450-de90a100-c092-11ea-8eb3-6c61d296d1fb.png)

The navbar does collapse after certain point eventually.. on desktop. :)

[2020-07-20 16:13] dhmlau opened #1012 "[doc/zh] tutorials.html show as untranslated"
## URL of the page

The tutorials page: https://loopback.io/doc/zh/lb4/Tutorials.html shows up fine for LB4 Chinese translation. However, if I go from the sidebar and click "教程" (see screen shot below), it shows has untranslated.

<img width="664" alt="Screen Shot 2020-07-20 at 11 56 33 AM" src="https://user-images.githubusercontent.com/25489897/87959212-8c7f5080-ca80-11ea-80ef-f86d1ac3dc44.png">

[2020-07-20 16:14] dhmlau commented on #1012
@zyqVizzzzz, could you please help taking a look at it? Thanks!
I'm not sure if the parentheses in the `title` field is the cause of the issue.

[2020-07-29 18:32] dhmlau commented on #911
@joeytwiddle, we believe we've improved the authentication related documentation. I'm closing this issue. Please feel free to open a new issue if you have other feedback. Thanks.

[2020-07-29 18:32] #911 closed

[2020-08-06 15:05] renovate[bot] opened #1023 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore: update dependency fastclick to v0.6.12
 - [ ] chore: update dependency ibm-watson to ^4.5.4
 - [ ] chore: update dependency jquery to v2.2.4
 - [ ] chore: update dependency jquery-placeholder to v2.3.1

[2020-08-15 13:38] emredmrl commented on #811
@ctrevisan thank you!!!

[2020-08-24 16:12] ismirnov-ekoniva commented on #1003
@dhmlau fixed non-closed div, but I cannot test it. Can you help me with this? I am also don't know how (and why I should) sign-off my commit, so pre-commit checks prevent my PR to be approved.
Is there any way to do something with my PR? People still cannot see 80% of most important documentation page of this framework (seriously, model definition is a Rosetta Stone for Loopback). Is this OK?

[2020-08-25 15:27] dhmlau commented on #1003
@ismirnov-ekoniva  thanks. I added a comment in https://github.com/strongloop/loopback.io/pull/1055#issuecomment-680091428 for signing the commit.

To test it locally, you run:
[code]

[2020-08-26 14:42] #1005 closed

[2020-09-04 05:54] ewrayjohnson commented on #1003
I need this page fixed.  Would love to help but don't know how to fix.

[2020-09-06 19:31] #1003 closed

[2020-09-13 01:44] #1004 closed

[2020-09-19 07:39] likexoo opened #1069 "Duplicate page content titles in toc caused by translation.html"
For example:
[Binding.md v4 zh](https://loopback.io/doc/zh/lb4/Binding.html)
[Getting-started.md v4 es](https://loopback.io/doc/es/lb4/Getting-started.html)

![image](https://user-images.githubusercontent.com/15852426/93661775-105bb600-fa8d-11ea-90cd-aaec3d1e0aee.png)
![image](https://user-images.githubusercontent.com/15852426/93661780-1b164b00-fa8d-11ea-8ba2-dddd5a40bad1.png)

All pages (What i h

[2020-09-21 00:57] dhmlau commented on #1069
@likexoo, thanks for submitting PR #1070. Since it's landed, I'm closing this issue as resolved.

[2020-09-21 00:57] #1069 closed

[2020-09-25 11:08] Tyagi0502 commented on #759
I've been facing QUERY_OBJECT_TOO_DEEP issue quite a lot recently. Specifically for a particular API.

I had the maxDepthOfQuery set to default and it was working. Until suddenly it stoped working. I increased maxDepthOfQuery value to 64 and it worked for a few months and then it came up again. I increased maxDepthOfQuery to 64 and it went away for a couple of days and back it came.

Can you pleas

[2020-09-25 11:11] Tyagi0502 commented on #759
I've been facing QUERY_OBJECT_TOO_DEEP issue quite a lot recently. Specifically for a particular API.

I had the maxDepthOfQuery set to default and it was working. Until suddenly it stoped working. I increased maxDepthOfQuery value to 64 and it worked for a few months and then it came up again. I increased maxDepthOfQuery to 64 and it went away for a couple of days and back it came.

Can you pleas

[2020-09-25 11:12] Tyagi0502 opened #1072 "Recurring QUERY_OBJECT_TOO_DEEP error even after increasing query depth to 128"
I've been facing QUERY_OBJECT_TOO_DEEP issue quite a lot recently. Specifically for a particular API.

I had the maxDepthOfQuery set to default and it was working. Until suddenly it stoped working. I increased maxDepthOfQuery value to 64 and it worked for a few months and then it came up again. I increased maxDepthOfQuery to 128 and it went away for a couple of days and back it came.

Can you plea

[2020-09-25 12:37] Tyagi0502 commented on #1072
It started to work after I restarted the server

[2020-09-27 00:50] dhmlau commented on #1072
@Tyagi0502, since it's working now, is this issue good to close? If not, I'll transfer this issue to `loopback-datasource-juggler` repo. Thanks.

[2020-10-05 17:30] dhmlau commented on #1012
PR #1076 in progress.

[2020-10-05 23:53] #1012 closed

[2020-10-25 00:17] dhmlau commented on #1072
Closing due to inactivity.

[2020-10-25 00:17] #1072 closed

[2021-06-23 17:07] VishalSingh28 opened #1202 "I am new in loopback how can i upload image in data base with model and controller"
## URL of the page

If applicable.

## Nature of the issue

Is this an issue with the layout/behavior/UX of the site or a problem with missing/inaccurate documentation content?
In general, use this (loopback.io) repo for issues with layout/behavior/UX of the site, and other repos for doc content.

## Expected behavior

What did you expect to happen?

## Actual behavior

What actually happenend, wi

[2021-06-23 19:11] dhmlau commented on #1202
@VishalSingh28 , you might want to take a look at the file transfer example: https://github.com/strongloop/loopback-next/tree/master/examples/file-transfer, coming from https://loopback.io/doc/en/lb4/Examples.html.

btw, for further LoopBack 4 issues, please open it in https://github.com/strongloop/loopback-next.
I'd also like to point you to our Slack workspace: https://join.slack.com/t/loopbacki

[2021-06-24 23:31] dhmlau commented on #1202
I believe your question has been answered. Closing as resolved.
For further questions, please open an issue in  https://github.com/strongloop/loopback-next. Thanks.

[2021-06-24 23:31] #1202 closed

[2021-07-29 13:27] kurly09 opened #1214 "Page not found"
## URL of the page
https://loopback.io/doc/en/lb4/Calling-other-APIs-and-web-services.html

## Nature of the issue

Is this an issue with the layout/behavior/UX of the site or a problem with missing/inaccurate documentation content?
In general, use this (loopback.io) repo for issues with layout/behavior/UX of the site, and other repos for doc content.

## Expected behavior

I need a latest documen

[2021-07-30 00:25] dhmlau commented on #1214
@kurly09, thanks for reporting this. May I know where did you get the link from?
The page was turned into separate pages for SOAP and REST services, so we've updated it. But it's possible that we've missed some places.

[2021-09-07 18:07] dhmlau commented on #1214
@kurly09, I found the reference https://loopback.io/doc/en/lb4/Calling-other-APIs-and-web-services.html in  https://loopback.io/doc/en/lb4/OpenAPI-connector.html#loopback-4-usage, and updated it. I'm closing this issue as fixed. Thanks.

[2021-09-07 18:07] #1214 closed

[2021-10-10 07:21] Ojvar opened #1242 "Typo in Documentation"
Hello,
In the page: **https://loopback.io/doc/en/lb4/express-with-lb4-rest-tutorial.html**,

According to example, this snippet in document:

[code]
must be :
[code]

Thanks

[2021-10-13 09:40] buokae opened #1246 "https://apidocs.loopback.io/loopback returns an "Internal Server Error"."
## URL of the page
This happens at https://apidocs.loopback.io/loopback for instance, but it happes with every link on the main page at https://apidocs.loopback.io/.

## Nature of the issue
Site returns an "Internal Server Error".

## Expected behavior
Show the LoopBack 3 api docs website.

## Actual behavior
Site returns an "Internal Server Error".

[2021-10-14 18:14] dhmlau commented on #1246
@buokae, thanks for reporting this.
@raymondfeng, do you know where the LB3 apidocs are being hosted?

[2021-10-26 11:53] buokae commented on #1246
It seems to be working again, thanks!

[2021-10-26 11:53] #1246 closed, assigned to nobody

[2021-12-13 18:04] bradharms opened #1269 "Documentation Change Logs are Frequently Outdated"
**EDIT**: I am going to close this and re-open it over at the main Loopback issue tracker for improved visibility.

## URL of the page

https://loopback.io/doc/en/lb4/changelog.repository.html
(and possibly others)

## Nature of the issue

The change logs for Loopback packages on the official documentation site sometimes go without any updates for a long time after new versions are published on np

[2021-12-13 18:17] bradharms commented on #1269
Re-opened at https://github.com/loopbackio/loopback-next/issues/8120

[2021-12-13 18:17] #1269 closed

[2021-12-13 18:46] achrinza commented on #1269
Duplicate of https://github.com/loopbackio/loopback-next/issues/8120

[2022-02-17 16:22] chirappa-vishnupriya opened #1302 "Binding.on getting issue"
## URL of the page

If applicable.

## Nature of the issue

TypeError: binding.on is not a function
    node_modules/@loopback/core/node_modules/@loopback/context/src/context-tag-indexer.ts:50:17)

## Expected behavior

What did you expect to happen?this.comonent(Compoent) in Application.ts

when i tried to bind component it should work like

## Actual behavior

What actually happenend, with steps

[2022-03-21 06:02] VaishnaviMudaliar commented on #1242
hey is this issue still open?? can I work on it??

[2022-04-05 07:52] achrinza opened #1338 "Add LoopBack Public Calendar"
The LoopBack Public Calendar - which is currently used to track the Monthly Maintainers Call - should be added to the LoopBack website for ease of access. Currently, it's only referenced within the #loopback-maintainers Slack channel, which means it's hard to find.

[2022-04-20 14:57] dhmlau commented on #1242
@VaishnaviMudaliar, sorry about the late reply.
Definitely! The source is coming from the loopback-next repo: https://github.com/loopbackio/loopback-next/blob/master/docs/site/express-with-lb4-rest-tutorial.md.

[2022-04-26 17:50] dhmlau commented on #321
Since LoopBack 3 has reached end-of-life, closing this issue.

[2022-04-26 17:50] #321 closed

[2022-05-18 11:05] olivierwilkinson commented on #1246
This appears to be happening again as I've just encountered it.

[2022-06-22 14:47] DoReVo commented on #1246
This is happening again for loopback 3

[2022-08-27 04:44] achrinza opened #1377 "Modernise website technology stack"

[2022-09-28 17:23] kamilml opened #1390 "LoopBack 3 API Documentation (broken url)"
## URL of the page
http://apidocs.loopback.io/loopback

## Nature of the issue
The url of the LoopBack API Documentation for v3 is broken

## Expected behavior
Load the page

## Actual behavior
Internal Server Error

## Suggested resolution
Please fix the url guys :)

[2022-11-04 10:35] shubhamp-sf opened #1410 "search feature isn't working on loopback.io"
### Describe the bug

![image](https://user-images.githubusercontent.com/110156023/199952474-1d770b19-681d-44ec-aaaf-e1651fdfdccb.png)

### Logs

_No response_

### Additional information

_No response_

### Reproduction

visit https://loopback.io/search/?q=datasource

[2022-11-05 19:44] dhmlau commented on #1377
I wonder.. since our blog site is using Docusaurus, would we also consider that for this site as well?

[2022-11-14 08:42] shubhamp-sf commented on #1410
Now it says,

![image](https://user-images.githubusercontent.com/110156023/201614324-544df872-abc3-458b-a293-5fc2993b1c91.png)

[2022-11-16 14:12] shubhamp-sf commented on #1410
@dhmlau, can it be fixed anytime soon?
Search is a vital component of this site.

[2022-11-16 21:02] #1242 closed

[2022-11-22 18:23] dhmlau commented on #1410
@shubhamp-sf, Thanks for bringing this up. I'm looking into Alogia as a replacement, and waiting for the invitation link.