[2014-07-26 16:40] amolc opened #4 "Yo install issue"
yo loopback

Error: Cannot find module 'ansi-styles'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object.<anonymous> (/usr/local/lib/node_modules/generator-loopback/node_modules/yeoman-generator/node_modules/chalk/index.js:2:12)
    at Module._compile (mod

[2014-07-26 17:54] raymondfeng commented on #4
Can you run `slc update` to make sure all the strongloop command line tools are up to date? Please use `slc version` to report back the versions too.

[2014-10-01 22:42] #4 closed, assigned to nobody

[2015-02-17 03:56] kidwm opened #13 "typo in documentation"
In http://docs.strongloop.com/display/public/LB/Add+a+static+web+page

`/clientt/index.html` => `/client/index.html`

and in second `server/middleware.json` snippet, the curly brackets does not be paired, that makes confusing.

[2015-02-17 04:18] raymondfeng commented on #13
Fixed. Thank you for reporting it.

[2015-02-17 04:18] #13 closed

[2015-02-17 04:39] kidwm commented on #13
[code]

Thanks, could you also add the right bracket in the fourth line?

[2015-02-17 16:56] crandmck commented on #13
Thanks @raymondfeng for fixing the typo.
@kidwm I added the missing curly brace.  Thanks again!

[2015-02-18 23:49] crandmck opened #14 "Add new Contributing page with corresponding navigation elements"
Per @altsang we want to have a new "Contributing" page that will contain the info I added in 4d335a276b43a0a70b04734caf79bb5218c695b7 and a bit more.  We will also need a "Contributing" navigation element in the header.

I haven't been able to figure out how to add a new nav element without screwing up the layout, so please @rosshj could you do this in a new branch?  If you can add the nav element

[2015-02-19 06:08] rosshj commented on #14
@crandmck @altsang

I'm concerned about the amount of navigation links are going into the header. It's starting to get a bit bloated. Usually you want to keep the main navigation focused and concise for not only keeping the design in check, but also clear for the user. With the addition of 'Who's Using' and now 'Contributing' we will be up to 6 + the Github star.

Maybe we can look into consolidat

[2015-02-19 06:08] rosshj commented on #14
In some cases (certain screen sizes) with the addition of 'Who's Using' it's already breaking.

![screen shot 2015-02-18 at 10 07 18 pm](https://cloud.githubusercontent.com/assets/723030/6262557/ad02cef6-b7ba-11e4-82fa-ebcc99edb760.png)

[2015-02-19 18:35] crandmck commented on #14
Yes, I agree, but need to discuss with @altsang.  We could leave this stuff in the "Resources" page, put it somewhere else, orr rethink the nav entirely.

[2015-02-20 00:15] crandmck commented on #14
Al noted that currently the "About" nav link is the same as the home page (and the LoopBack logo), so it's redundant.  He suggested that we could remove "About" and add "Contributing" without making the nav header too big.  Will that work?

[2015-02-24 13:40] rosshj commented on #14
That could work. I will still need to adjust the header a little bit, but I should be able to squeeze all that in if we drop the 'About' section. We could always keep 'About' link in the footer nav.

[2015-02-24 17:03] crandmck commented on #14
OK, please do that.  I think it's the best option at this point.  If you add a stub "Contributing" page in a branch, I will add the requisite content.

[2015-02-26 22:10] crandmck commented on #14
@rosshj Do you need any more information to move forward on this?

[2015-02-27 02:39] rosshj commented on #14
@crandmck @altsang Hey guys. I'm going to try and take a stab at this later tonight.

Is there more content than just what appear on 'Contributing to LoopBack' section this page? http://loopback.io/resources/

[2015-02-27 17:44] crandmck commented on #14
That's all we have atm. We can probably add a bit more that's currently in the wiki.  I'll take a stab at it on the branch you just created.

[2015-02-27 22:58] crandmck commented on #14
OK, in 2dcdefa7f8ad2f9aab4778d6e31f99c6fcee4a9b, I added a bit more content to the "Contributing" page.  I also changed the nav text from "Contributing?" to "Contributing" and changed the copyright to 2015 everywhere.

@altsang Do you want to take a look?

[2015-02-28 19:16] altsang commented on #14
Yup will take a look, thx!

[2015-03-02 18:16] crandmck commented on #14
I merged the PR, but Al said:

Rather than open a new issue, will track that here.  I started a draft in the wiki based on Hapi Governance/Maintainers content: https://github.com/strongloop/loopback.io/wiki/Draft-%22Contributing%22-pages

@altsang Let's discuss or edit the page as you wish.

[2015-03-02 18:59] altsang commented on #14
looks great!

I would just have a list of the maintainers that show Raymond, Ritchie,
Miroslav and Samuel, Fabien and Clark with links to the GH profiles.  The
purpose of this is to show that the project is not just all SL employees

-a-

On Mon, Mar 2, 2015 at 10:16 AM, Rand McKinney notifications@github.com
wrote:

##

Al Tsang
Co-Founder and CTO @ StrongLoop, Inc.

_StrongLoop http://strongloop

[2015-03-02 20:58] crandmck commented on #14
OK, added the maintainers list to https://github.com/strongloop/loopback.io/wiki/Draft-%22Contributing%22-pages#loopback-lead-maintainers.  Question: by "Samuel" do you mean Sam Roberts?  He hasn't made many (any?) commits to LB, so not sure that's who you meant.

Also, Hapi makes a distinction between "Core contributors" and "community contributors" but it doesn't seem to make sense for us(?) Sho

[2015-03-02 21:39] altsang commented on #14
nope Samuel Reed - https://github.com/STRML

Yeah let's delete the last paragraph. I was confused by it too :)

Hopefully we can get some nice profiles displayed in a 2 x3 grid or
something

-a-

On Mon, Mar 2, 2015 at 12:58 PM, Rand McKinney notifications@github.com
wrote:

##

Al Tsang
Co-Founder and CTO @ StrongLoop, Inc.

_StrongLoop http://strongloop.com/_\* makes it easy to **develop APIs
ht

[2015-03-03 19:45] crandmck commented on #14
Currently, the [governance branch](https://github.com/strongloop/loopback.io/tree/governance), just has a bullet list of lead maintainers.  But in #14 you said:

I mocked up something using http://lab.lepture.com/github-cards/
See http://screencast.com/t/Fk9Acz9pOIy

This was relatively easy, but if we want to (for example) change the background color or remove the "(Not) for hire" line, it would

[2015-03-03 19:51] altsang commented on #14
heh - Rand the ever so resourceful.  Yeah this will work great, please take
your best stab and making something that blends in with the rest of the
background and the look and feel color-wise and yes please remove the gun
for hire tagline (or not for hire).  Good going!

-a-

On Tue, Mar 3, 2015 at 11:45 AM, Rand McKinney notifications@github.com
wrote:

##

Al Tsang
Co-Founder and CTO @ StrongLoo

[2015-03-04 00:41] crandmck commented on #14
Well it turns out to be fairly difficult to restyle those GitHub "cards".   They don't have options to omit the "For hire" tag or change background color.  They are generated by a server-side Python script, so it's not just a matter of incorporating the JS and CSS.  I'm not sure how hard it would be grab the script and run it ourselves on the site, but I'm probably not the best person to do that.

[2015-03-11 23:24] #14 closed

[2015-03-11 23:26] crandmck opened #17 "Add B of A logo to front page"
@altsang asked to replace the Sapient logo on the front page with B of A.  So, we need to replace the Sapient logo in http://loopback.io/images/logo-collage.jpg with B&W version of https://strongloop.com/wp-content/uploads/2015/01/baml.png.

[2015-03-15 21:59] rosshj commented on #17
Opened a new PR https://github.com/strongloop/loopback.io/pull/18

[2015-03-16 22:11] crandmck commented on #17
Thank you - merged!

[2015-03-16 22:11] #17 closed

[2015-06-24 08:37] as0n opened #23 "Link to the docs in the header"
The website clearly lacks a big, visible link to the [docs](http://docs.strongloop.com/display/LB) in the header. I had to read all the way to the bottom of the [getting started](http://loopback.io/getting-started) page to finally find one (although I later found another one at the bottom of the main page) and it's kinda frustrating.

Why not have a menu that goes like `Getting started` `Examples`

[2015-06-24 17:54] rmg commented on #23
A direct link to the docs _would_ be nice, but I'm not sure there's room in the header and I'm not sure any of the current header links are unimportant enough to be demoted..

@as0n what about a big `Docs` button beside the `Get Started` button on the main landing page? Think that would be visible enough?

@crandmck thoughts?

[2015-06-24 21:55] crandmck commented on #23
Thanks for the suggestion @as0n.  Agreed we need a more prominent link to the docs.

But as @rmg notes, we don't have any more room in the header.  I like the suggestion of a "Read Docs" button next to "Get Started".   Here's my suggestion: http://screencast.com/t/34gKJjIG

What do you think?  @ritch @rmg

[2015-06-24 22:48] rmg commented on #23
@crandmck I think your proposal is worth deploying. For some reason I'm picturing the buttons each being a different colour, but I can't tell you what colours or which button should be witch. I say push what you've got and we can refine it later.

[2015-06-25 08:13] n6g7 commented on #23
@rmg @crandmck Yup I think a big button beside the `Get Started` would be great.

[2015-06-26 00:13] crandmck commented on #23
OK, check it out.  Right now, it's the same color, etc, as the "Get Started" button, but I could make it a different color.... IMHO it looks OK as is, though.  I'll go ahead and close this.

[2015-06-26 00:23] #23 closed

[2015-06-26 09:38] n6g7 commented on #23
:+1:

[2015-09-02 23:23] crandmck opened #25 "Add meteor"
Add Meteor to http://loopback.io/resources/#compare

https://www.meteor.com/

[2015-09-09 22:59] crandmck commented on #25
See working draft at https://github.com/strongloop/loopback.io/blob/gh-pages/resources/compare.md

[2015-09-09 23:06] tenzan commented on #25
Thanks. I will share this with the Meteor community. ;)

[2015-09-10 00:46] tenzan commented on #25
I think it's worth to mention about https://www.meteor.com/ddp

[2015-09-24 23:22] crandmck commented on #25
@ritch Do you know anything about Meteor?  Can you help fill in https://github.com/strongloop/loopback.io/blob/gh-pages/resources/compare.md.  There are just a few missing items.

Also @chanda PTAL.

[2015-09-25 05:07] ritch commented on #25
My knowledge is somewhat dated.

[2015-09-25 05:11] ritch commented on #25
Afaik they don't have acls and they do have modules for extensions. I wouldn't mention the proprietary protocol (ddp).

[2015-09-25 07:28] tenzan commented on #25
Some opinions from the Meteor forum https://forums.meteor.com/t/comparing-meteor-with-loopback-and-others/9566/3

[2015-09-28 21:07] crandmck commented on #25
OK, I updated [the table](https://github.com/strongloop/loopback.io/blob/gh-pages/resources/compare.md) with the info from the above forum.  It looks reasonably complete now.

@tenzan Please take a final look, and if you don't have any further suggestions I'll add it to the site.
@chandadharap @raymondfeng @altsang Final chance for input if you are interested.

[2015-09-28 23:12] tenzan commented on #25
Thanks. I'll take a look and let you know.

[2015-10-03 07:12] tenzan commented on #25
I got additional replies from the Meteor community at
- https://forums.meteor.com/t/comparing-meteor-with-loopback-and-others/9566/7?u=tenzan
- https://forums.meteor.com/t/comparing-meteor-with-loopback-and-others/9566/8?u=tenzan

Recommended changes:
1. **Suitable For**: change from `web apps` to `Simple and Complex web apps`
2. **Extensions**: add also `NPM`
3. **Client SDKs**: add `React and An

[2015-10-14 21:37] crandmck commented on #25
Thanks.  I incorporated the above and a few other suggestions.

Updated http://loopback.io/resources/ with ff29899cd3c7451f1dfaf774188214ec5b84e545

[2015-10-14 21:37] #25 closed

[2015-10-15 00:07] tenzan commented on #25
Thanks, guys! :smile:

[2016-07-11 23:58] crandmck opened #28 "Create Jekyll template for doc site"
We need a JavaScript widget that essentially duplicates the navigation panel on http://docs.strongloop.com.  The source of the nav content will be nested lists in markdown and the result at runtime should be a nice "expandable" navigation widget.

This is part of [Proposal to make LoopBack documentation open source](https://github.com/strongloop/loopback.io/wiki/Proposal-to-make-LoopBack-documenta

[2016-07-12 00:00] crandmck opened #29 "Migrate Conflunce content to markdown"
This involves not only duplicating the content, but also getting all the images over.  See [Migrating LoopBack Docs to Markdown for use with Jekyll](https://github.com/strongloop/loopback.io/wiki/Migrating-LoopBack-Docs-to-Markdown-for-use-with-Jekyll).

This is part of [Proposal to make LoopBack documentation open source](https://github.com/strongloop/loopback.io/wiki/Proposal-to-make-LoopBack-do

[2016-07-12 00:05] crandmck opened #30 "Devise way to transclude markdown content from other repos"
Figure out how to deal with content that we currently "transclude" (dynamically include) from other GitHub repos. Typically, these are example repo README files. We use a special Confluence macro to "single source" this content; we can do something similar with a Jekyll plugin, but there are wrinkles.

This is part of [Proposal to make LoopBack documentation open source](https://github.com/strongl

[2016-07-12 00:07] crandmck opened #31 "Add Google Custom Search widget to new site"
Create and add something similar to https://docs.strongloop.com/display/APIC/Search+LoopBack+docs to the new doc site.

[2016-07-12 00:13] superkhau commented on #28
Big thumbs up! :clap:

[2016-07-12 17:54] crandmck commented on #28
I found an excellent Jekyll theme that we should be able to leverage: http://idratherbewriting.com/documentation-theme-jekyll/ (source in https://github.com/tomjohnson1492/documentation-theme-jekyll).  This has almost everything we need and is MIT-licensed.

Also, for comparison, this is _very close_ to what we're looking for: http://hamishwillee.github.io/jekyll-bootstrap-docsite/ (source in http

[2016-08-05 00:15] crandmck commented on #29
[Confluence-space-export-234853-39588.html.zip](https://github.com/strongloop/loopback.io/files/402904/Confluence-space-export-234853-39588.html.zip)

This zip file contains an export of the entire APIC space (which is largely duplicated in the LB space).  It has the following:
- `attachments` folder: contains all the images used in articles. All the images for an article are in a separate sub-fol

[2016-08-11 17:58] crandmck opened #33 "Set up structure and process for localization"
Need to establish a framework for localization.  This includes:
- Basic internationalization infrastructure along the lines of what we have at http://expressjs.com.
- Copying existing translations listed in https://docs.strongloop.com/display/public/LB/Docs+in+other+languages (as appropriate)
- Writing up procedure for translators to follow.

[2016-08-11 23:41] crandmck commented on #33
Based on how we do it in expressjs.com, we'll need to create folders for each language under the `pages` folder, for example `en` for English, `de` for German, `zh` for Chinese, etc.
These folders would then contain the docs in that language, e.g. `lb2` and `lb3` folders, for LoopBack 2.x and LoopBack 3.  Some languages might decide to just have 3.0 content or 2.x content.

This will also affect h

[2016-08-12 23:24] marc-ed-raffalli commented on #29
The content is ready, just need to clarify the points below:
- The [link rules](https://github.com/strongloop/loopback.io/wiki/Conversion-rules#links) makes no mention of the anchors which are linking images in the same page. Should we keep them ?
- Do you have some guidelines for the tables ?
  Some do not seem to be easily maintainable if we convert them to github flavored MD.
- Some pages have

[2016-08-15 17:44] crandmck commented on #29
Thanks @marc-ed-raffalli

I'm not sure what these are... I couldn't find an example in the export.  Could you give me an example so I can understand what these are?

Tables are a bit problematic in MD.  For now, let's just keep them in HTML.  I _think_ that should work OK at least for a first cut.  Later I can look at making some of the simple ones markdown, and adding some custom styles for table

[2016-08-15 17:58] crandmck commented on #29
BTW, I just pushed an update to the repo that reflects the changes required to support localization: d35c8d6f4afd2e68566e581c918af60431ea5e13

[2016-08-15 22:57] marc-ed-raffalli commented on #29
No problem, it is updated. I just need to finish the file content review (180+ files).

Edited: issue solved, (long day I presume ;) )

I'll post later a report of places where the different issues were, it will help to understand and fix if applicable.

[2016-08-23 20:52] crandmck commented on #29
The initial conversion was accomplished in #34 (thanks @marc-ed-raffalli !)

We (I) still need to:
- Review and revise the migrated content to fix any glitches.  This may take a while.
- Fix up the nav sidebar; It's limited to 3 levels, but the Confluence sidebar has some 4th-level entries.  Need to sort that out somehow.
- Ensure that all the content from LB and APIC spaces was migrated.  I may h

[2016-08-23 21:28] crandmck commented on #28
I'm going to close this, since we've chosen the `documentation-theme-jekyll` template and largely implemented it in http://loopback.io/doc/.

[2016-08-23 21:28] #28 closed

[2016-08-23 21:39] crandmck commented on #30
Unfortunately, GitHub Pages [only supports a few Jekyll plug-ins](https://help.github.com/articles/adding-jekyll-plugins-to-a-github-pages-site/).  For security reasons, you can't add other plug-ins such as the remote markdown plugin.

And we don't want to have to use Jekyll as a static site generator and check in the `_site` directory.

The alternative is to have a script/program to get the READM

[2016-08-23 23:42] crandmck opened #35 "Navigation sidebar doesn't open child topics when viewing container topic"
The original implementation of the sidebar didn't allow sidebar container items to be linked to a topic.  You can see the default implementation in http://idratherbewriting.com/documentation-theme-jekyll/: The sidebar container items "Overview", "Release Notes", "Installation", etc.  are _only_ containers, they are not pages themselves.

But since our topic hierarchy was laid out such that contain

[2016-08-24 19:26] nuba commented on #33
Here's a thread describing and linking to a number of different approaches for making multilingual sites with jekyll https://talk.jekyllrb.com/t/multi-language-strategies-with-jekyll/315

[2016-08-24 20:40] crandmck commented on #33
I think this is the best approach since it will work with GH Pages: https://www.sylvaindurand.org/making-jekyll-multilingual/  I like how it provides a language selector on each page.

It's similar to what we use on http://expressjs.com/.  I need to look into it a bit more to see how we would implement this with our Jekyll template; specifically, how we would add this to the layout templates that

[2016-08-29 17:31] crandmck commented on #29
[Confluence-space-export-171136-47671.html.zip](https://github.com/strongloop/loopback.io/files/443004/Confluence-space-export-171136-47671.html.zip)

Here is the export of the pages modified since the initial export on Aug. 4.

However @marc-ed-raffalli I cannot get these to convert using [your conversion script](https://github.com/marc-ed-raffalli/confluence-to-jekyll).  I get the following erro

[2016-08-29 17:40] marc-ed-raffalli commented on #29
Will get an eye to it

[2016-08-29 18:17] marc-ed-raffalli commented on #29
The HTML structure is slightly different.
@crandmck It is just a few tweaks to make but once fixed I can merge and send a PR with the files

[2016-08-29 21:36] crandmck commented on #29
Awesome, thank you!  I'm not sure why the structure is different, but if you can easily fix it, that's great!!

[2016-09-01 18:37] crandmck opened #37 "Migrate translated content"
In addition to the English content (which is mostly migrated--still some work to do, but maybe 80% done atm), we need to migrate community-translated content from Confluence to Jekyll/Markdown in the following languages:
- Chinese: https://docs.strongloop.com/display/zh
- French: https://docs.strongloop.com/display/FR/LoopBack
- Japanese: https://docs.strongloop.com/display/JA/LoopBack
- Korean: h

[2016-09-01 18:47] crandmck opened #38 "Notify community when ready to accept translation PRs."
This will be a general issue to notify the community when we're ready to accept translation PRs.
See #37 for more details on localization.

Please comment here if you're interested in translating LoopBack docs so you'll receive a GH notification.

@dejaneves This issue replaces https://github.com/strongloop/loopback/issues/2700 and I'll comment here when we're ready to accept translation PRs.

[2016-09-01 21:03] jaimeneeves commented on #38
ok

[2016-09-02 07:35] PhilippeCorreges commented on #38
Of course I would be keen to participating in FR translations as I used to.

Kind Regards,

[2016-09-02 17:58] marc-ed-raffalli commented on #38
I can help reviewing FR content

[2016-09-07 18:47] crandmck commented on #37
I think we're ready for the final phase: QA / testing of the content.

[2016-09-07 18:52] crandmck opened #39 "Go-live checklist"
This is the series of events that has to happen to switch from http://docs.strongloop.com to http://loopback.io/doc:
- [x] Review and test all migrated English content.
- [x] Fix all broken links per #44
- [x] Fix search feature per #31.
- [x] Incorporate README content from example repos, etc. per #30.
- [x] Import translated docs from Confluence per #37.
- [x] Fix tags per #41 (not required, but

[2016-09-07 19:10] jaimeneeves commented on #37
@crandmck  what's the first step that I have to follow, because I'm going to do the translation to Portuguese?

[2016-09-07 20:20] doublemarked commented on #31
IMHO search is essential as the hierarchy of the docs is not always intuitive. Currently the search box isn't working - assuming it's known and related to this Issue.

[2016-09-07 20:21] doublemarked opened #40 "Annotator errors"
This is minor, but all pages I've loaded are producing the following error on the console:

```Uncaught TypeError: $(...).annotator is not a function```

The offending code is the following page-end script,
[code]

This does not appear to be impacting anything, but may be a sign of something missing/broken that you guys know about.

[2016-09-07 20:50] doublemarked opened #41 "Tags are broken"
For example, http://loopback.io/doc/en/contrib/tag_getting_started.html

Found on the following page: http://loopback.io/doc/en/contrib/index.html

[2016-09-07 21:10] crandmck commented on #31
Yes @doublemarked it's known, and I agree it is absolutely essential.  I'm going to try to fix this today if I can.

[2016-09-07 21:13] crandmck commented on #37
Hi @dejaneves The first step is for me (with help from anyone who wants to contribute) to clean up the English content, since that's what you'll translate from.  We're close to being "done" with that.  Then, I'll create a section where you can translate the articles "in place" to Portuguese and I'll provide simple instructions.

It should just be a little longer... thanks for your patience!

[2016-09-07 21:13] crandmck commented on #40
Thanks, I wasn't aware of this.  I'll look into it.

[2016-09-07 21:17] crandmck commented on #41
Yes, thanks for reporting. Here is what they are: http://idratherbewriting.com/documentation-theme-jekyll/mydoc_tags.html

I haven't had a chance to work on tags yet, and IMHO they are not critical, but they are "nice to have" and we should try to fix them up before we go live. I'll add this to the go-live checklist.

[2016-09-07 23:22] crandmck commented on #31
OK, 6deb3287e4b0daf6c86f616e03205b6de8395f72 added an initial implementation using Google Custom search.  I wanted to customize the CSS, and the only way I could figure out how to do that was to use the older version of GCS.  It seems to work OK, but I think we can still improve the look.   Help with CSS is appreciated.

Also, I don't like that every time you load a page, it displays "Loading" bef

[2016-09-08 04:51] crandmck commented on #40
Ha, this appears to be a bogus script introduced by the Jekyll template author: https://github.com/tomjohnson1492/documentation-theme-jekyll/issues/31

[2016-09-08 04:53] crandmck commented on #40
Fixed by above commit.  Thanks for reporting it!

[2016-09-08 04:53] #40 closed

[2016-09-08 18:05] crandmck opened #44 "Check all links"
We need to run a comprehensive link-check on the site to identify broken links.

[2016-09-08 18:20] crandmck opened #45 "Set up Google Analytics"
The Jekyll template has provision for this.  We just have to set the GA ID in `_config.yml` via `google_analytics`

For docs.strongloop.com, we used `'UA-37775386-1'` .  Should we reuse this or use a diff ID?

[2016-09-08 18:23] crandmck commented on #31
I've marked this as "done" in #39 checklist, because it is functional.  However, there is room for cosmetic improvement so I'm going to leave this issue open for the time being.  Anyone with CSS-fu is welcome to make it look better.   See https://github.com/strongloop/loopback.io/blob/gh-pages/_includes/topnav.html and https://github.com/strongloop/loopback.io/blob/gh-pages/css/gcs.css for a start

[2016-09-08 18:47] crandmck commented on #29
I'm going to close this as the basic work is done.  At this point, it's testing, fixing, refinement, etc, which we'll handle in other issues.

[2016-09-08 18:47] #29 closed

[2016-09-08 20:35] doublemarked commented on #44
Hey Rand - I've given the links a pass. There are two types of problems, 404's and links to valid pages but with an invalid fragment identifier. I've stuck everything in the following spreadsheet:

 https://docs.google.com/spreadsheets/d/1cXtr617d_FiK2dDernkWkrJ8tFZRXw3ptqWpyQe1zTw/edit#gid=1949899933

Give it a look at let me know if you have any questions. There are a lot of dupes in the first s

[2016-09-08 23:51] crandmck commented on #44
Awesome!  I'll get on it ASAP.

[2016-09-09 01:55] qxl1231 commented on #38
![image](https://cloud.githubusercontent.com/assets/8305742/18373042/59655736-7673-11e6-83e8-b8297b74c7b2.png)
it's me, and im coming up!

im in!

[2016-09-09 07:47] bajtos commented on #30
@crandmck could you please reach out to support@github.com and ask them to support our use case? It won't solve our problem right now, but it may make our life easier in the future.

It makes me wonder if we can automate this somehow. For example, list all projects that we are sourcing README files from in this module's dependencies/devDependencies. Then use CIS infrastructure to trigger a CI buil

[2016-09-09 17:43] crandmck commented on #30
Thanks @bajtos I actually have a solution for this, though it's not quite as convenient as using the "remote markdown" plugin.  I'm currently using a similar method in expressjs.com to pull in READMEs of the middleware modules in the expressjs org.  I just got it working last night and populated https://github.com/strongloop/loopback.io/tree/gh-pages/_includes/readmes, and I'm starting to fold the

[2016-09-09 20:09] crandmck commented on #30
Update: I create a new "readme" template specifically for transcluding README content (example repos are biggest example currently, but once we get this ironed out, we can use it for any relevant repo).

Here's an example:  http://loopback.io/doc/en/lb2/Tutorial-access-control.html
Source: https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb2/Tutorial-access-control.md
Copied README

[2016-09-13 10:41] bajtos commented on #30
@rmg, but he is quite busy right now working on important CI improvements, at least that's what I've been told.

We would like to get @gunjpan more involved with all things CI-related, this may be a good starter for him.

[2016-09-13 10:44] bajtos commented on #30
@strongloop/loopback-dev Please keep this in mind when writing markdown files and reviewing pull requests, to save us pain later in the future.

@crandmck what happens with files missing the space? Will Kramdown print any warning/error? I am wondering how much effort will be required to write a simple linter/checker tool that can be run as part of CI to reject pull requests containing changes with

[2016-09-13 16:15] crandmck commented on #30
What I've seen is it just rendering the `#Heading` line as text, rather than formatting with `<h1>...` or whatever.  I didn't see any error messages, but it's possible there might be some in debug mode or something, or it could just silently fail because it doesn't even recognize that it's intended to be md formatting.  It's probably worth looking into, but I intend anyway to go through all the RE

[2016-09-13 19:30] superkhau commented on #30
I don't agree with this, we should just figure out how to integrate a linter as you suggested to check for us (instead of relying on our memories).

[2016-09-13 21:20] crandmck commented on #30
Using a linter for the READMEs is probably a good idea.

According to [the CommonMark spec](http://spec.commonmark.org/0.26/#atx-headings)*, you MUST have a space (or newline) between the `#` characters and the text in a heading.  So a bunch of our READMEs are malformed.  Apparently npm is using this for their parser, so pages that don't follow it won't layout properly on npmjs.com.  That doesn't

[2016-09-13 21:31] crandmck opened #47 "Problems with liquid include parameters containing non-Western characters"
I ran into a roadblock working on #37.  Jekyll/Liquid generates an error when processing includes with non-Western parameter values, e.g.
[code]
The error is:
[code]

The English content makes extensive use of Liquid includes (with parameters) for [alerts](http://loopback.io/doc/en/contrib/alerts.html) and numerous other things.  So we need to resolve this or find a workaround, otherwise it's goin

[2016-09-13 21:34] crandmck commented on #38
Hello, folks interested in translation....I ran into a blocker to get localization working: #47.   I Googled a bit, but didn't find anything obvious.  By default Jekyll uses UTF-8 encoding, but I think it's an issue with Liquid.

I would appreciate any help!

NOTE: This turned out to be pilot error, and is not a blocker for localization.

[2016-09-13 21:43] superkhau commented on #30
I think CommonMark is a fine standard to follow, let's get on it. ;)

[2016-09-14 01:34] qxl1231 opened #48 "how can i start translate en version?"
i find all branch, there is nothing of en version page(only demo page).so i need to write the page all?i'm confused...
please show me the guide. thank you

[2016-09-14 14:22] bajtos commented on #30
Let's do that!

remark-lint ([package](https://www.npmjs.com/package/remark-lint), [docs](https://github.com/wooorm/remark-lint/blob/master/readme.md)) looks like a great tool for this purpose.

@superkhau what's the plan?

[2016-09-14 18:04] crandmck commented on #48
Hi @qxl1231 As I mentioned several times previously, we are not ready yet for translation.  The English content still has lots of issues (broken links, missing tags, formatting / layout, etc.).   Since your starting point will be the English content , we want to ensure that it's in acceptable shape before beginning any translation.

So, please just be patient.  I'm working as fast as I can to clea

[2016-09-14 18:11] crandmck commented on #47
@Setogit @eddiemonge @cfjedimaster @joesepi  Would appreciate any help based on your Jekyll experience.  To repro, just copy/paste above into any page in the repo and then follow instructions in the README... Thanks!

[2016-09-14 18:22] crandmck commented on #44
Hi @doublemarked I ran thru that spreadsheet, and fixed all the links--well, I _think_ so anyway.  Many of the breakages were due to a couple broken links in the nav sidebar and in include templates, so that knocked out a bunch out.

If you would like, please run the link check again, and we'll see what's left!  :-)

Thanks for your help!

[2016-09-14 18:24] crandmck commented on #31
On second thought, I'll go ahead and close this.  We'll just open separate issues for cosmetic or other improvements to the search feature.

[2016-09-14 18:24] #31 closed

[2016-09-14 18:25] #48 closed

[2016-09-14 19:00] superkhau opened #49 "Markdown linter integration"
Come up with a proposal to answer the following:

- What linter to use
  - Must support Kramdown
  - [remark-lint](https://github.com/wooorm/remark-lint) suggested by @bajtos is a good place to start
- General Usage
  - Ad hoc (ie. npm run lint)
  - CI (ie. posttest: npm run lint)
- List of things to do during the actual tasks (ie. update readme with ad hoc usage instructions for loopback.io repo,

[2016-09-14 19:03] superkhau commented on #30
@bajtos I think we should spike first: https://github.com/strongloop/loopback.io/issues/49. The outcome of that spike should be a list of concrete tasks. The only thing left is we assign the task to someone, but I'll leave the prioritizing on your plate. ;) I'll just put it on TOB for now, not sure if it's major. Discuss more during +1 tmr.

[2016-09-14 19:40] joesepi commented on #47
I think this is an issue with Liquid. This may be related? https://github.com/Shopify/liquid/issues/31

I'm on my phone so I am not able to test.

[2016-09-14 20:25] crandmck commented on #47
Thanks @joesepi This may indeed be the source of the issue. Need to see if we can come up with a workaround, or if we're just hosed. :-(

[2016-09-15 21:52] crandmck commented on #35
Fixed by e377bccaa76440640644e50f2bb2f71d78c9e5e8

[2016-09-15 21:52] #35 closed

[2016-09-16 05:17] crandmck opened #51 "Navbar layout issues"
![2016-09-15_2215](https://cloud.githubusercontent.com/assets/2925364/18575992/08b9618c-7b92-11e6-9ef7-8eef213db231.png)

This is on the live site http://loopback.io/doc/en/lb2/
@ritch

[2016-09-16 09:56] doublemarked commented on #31
Yea sure - functional and ugly is still functional :)

[2016-09-16 17:48] crandmck opened #52 "Replace navigation widget"
The [navgoco](https://github.com/tefra/navgoco) JavaScript nav widget has a number of limitations and issues, and we probably should just replace it with something else.

For the most part, the server-side part that turns the [YAML sidebar file](https://github.com/strongloop/loopback.io/blob/gh-pages/_data/sidebars/lb2_sidebar.yml) into an unordered list is working OK.  One exception is that it do

[2016-09-16 18:06] crandmck commented on #45
This is done.

[2016-09-16 18:06] #45 closed

[2016-09-16 18:10] crandmck opened #53 "Replace pages for connectors with READMEs"
Need to go through the site and find the pages for data source connectors that should be tied directlyt to module READMEs instead of a distinct md file.  Then follow procedure in https://github.com/strongloop/loopback.io#getting-external-readmes to get the READMEs in the site.

Also: https://github.com/strongloop/strong-error-handler README --> http://loopback.io/doc/en/lb2/Using-strong-error-hand

[2016-09-16 18:11] crandmck commented on #30
The basic work in this repo is done.  We got the example READMEs, but still need to do #53 for the connectors.

[2016-09-16 18:11] #30 closed

[2016-09-16 20:28] doublemarked commented on #44
@crandmck Updated the spreadsheet: https://docs.google.com/spreadsheets/d/1cXtr617d_FiK2dDernkWkrJ8tFZRXw3ptqWpyQe1zTw/edit#gid=487594605

From the looks of it, just a handful of 404s remain but a lot of identifiers need to be fixed.

[2016-09-16 20:52] doublemarked commented on #44
Let me share with you how I'm generating these lists. I'm still happy to rerun things too, just let me know.

For the broken links I'm using the following tool: http://peacockmedia.software/mac/integrity-plus/

For the bad identifiers I hacked together the following (execute from within `_site/doc/en/lb2`):
1. Find all identifiers and map them into a list of valid urls w/ identifiers: `for i in *.

[2016-09-16 23:47] crandmck commented on #44
Awesome, thanks @doublemarked. I'll try to get to this over the weekend.

[2016-09-20 15:04] crandmck opened #55 "General review and testing"
Before launch, it would be good to go through the content in http://loopback.io/doc/en/lb2/ and do  thorough review for accuracy, completeness, formatting, etc.
- Did anything from https://docs.strongloop.com/display/LB/LoopBack get left out?
- Did anything get messed up in migration?
- Any formatting or layout glitches?

[2016-09-20 15:43] bajtos commented on #55
Nice to have: which pages should be changed in LB 3.x docs?

[2016-09-20 20:59] crandmck commented on #44
Thanks again @doublemarked, I fixed all the links identified in the Google doc.  And I fixed a few others I found myself. ...

Thanks alsofor providing how you did this--could be useful in the future.  I didn't have a chance to run it myself, so if you want to do so again, that would be great.  At this point, I _hope_ that most of the broken links have been fixed!

[2016-09-20 21:12] doublemarked commented on #44
@crandmck getting closer, but a few things remain. Spreadsheet updated w/ round 3 data!

[2016-09-20 23:06] crandmck commented on #44
OK, done!  Third time is charm, I hope... (fingers crossed)

[2016-09-20 23:11] crandmck commented on #47
OK, it turns out that the issue is the liquid variable `{{page.lang}}` in the include parameter text, not the Chinese characters.  Doh!

The good news is that we can move forward with localization plans.

[2016-09-20 23:11] #47 closed

[2016-09-21 19:45] doublemarked commented on #44
The 404s from the crawler are unchanged. However, it looks like all the bad identifiers are fixed :)

[2016-09-21 23:09] crandmck commented on #44
Ha ha, I missed that whole tab!

So, the broken link to feed.xml was on every page.  Fixed that with an edit to `_config.yml`.

I fixed all the other links, except for:
- Links to "tag" pages, e.g. http://loopback.io/doc/en/lb2/tag_getting_started.html.  This is already covered by #41.  I hope to fix it soon, but it's not top priority.  (I colored these green in the sheet).
- Links in example app

[2016-09-21 23:09] #44 closed

[2016-09-22 12:07] doublemarked commented on #44
@crandmck ok all sounds good!

Just one response regarding,

Does not appear to be an artifact of the link checker. These are bad relative links to things that are probably supposed to be off-site or something. For example the projects.ejs one - it's caused by this link from readmes/loopback-example-access-control.md (included by Tutorial-access-control.md):

[code]

[2016-09-22 16:07] Sequoia commented on #52
Looking into this

[2016-09-22 16:32] crandmck commented on #44
Aha!  Thanks for clarification.  This makes more sense.

This is caused by relative links in included READMEs (2nd bullet in my previous comment).  So, we'll address those in each README.  Basically: a relative link in a README to another file in the repo  works fine in GitHub, but not when the document is used anywhere else (e.g. npm or loopback.io).

[2016-09-23 14:08] Sequoia commented on #52
So if I understand you correctly: when someone clicks on a 2nd level nav "container," they should be sent to another page. I'll work with that assumption, please let me know if I'm wrong here

[2016-09-23 14:11] Sequoia commented on #52
~~Thought: If we're doing a page reload on every nav click, why are we using JS at all?~~

Oh I see, there are two possible types of click on any tree container:
1. Click **title** 👉  navigate to new page
2. Click **arrow** 👉  open that tree level

[2016-09-23 15:42] crandmck commented on #52
Yes, that's how it works now, but IMO it's not a great UX.  Both options are not always obvious.  I think it would be better to always open the tree and (if there's a link) open it as well.  This is how the Confluence navigation worked (except that every item in the nav tree was _always_ linked).

[2016-09-23 16:34] crandmck commented on #52
@Sequoia I pinged you via Google, so we can start a hangout.

[2016-09-23 18:46] crandmck commented on #55
@davidcheung Let me know if you have questions.  We're launching the site next week, so please have a look ASAP.

[2016-09-23 18:51] crandmck commented on #33
I added a "Translations" dropdown selector in the top bar, and added some languages as examples.  I documented the basic structure and process in:
- http://loopback.io/doc/en/contrib/Adding_a_new_language.html
- http://loopback.io/doc/en/contrib/Translating_articles.html

I didn't add anything fancy (yet) to link to the other languages; We could make a number of improvements, but the basic setup i

[2016-09-23 18:51] #33 closed

[2016-09-23 19:39] crandmck commented on #37
OK, it turns out that there is also no existing translated content for French, in addition to Portuguese.

I imported the [Russian](http://loopback.io/doc/ru/lb2/) and [Japanese](http://loopback.io/doc/ja/lb2/) content, and created stub areas for [French](http://loopback.io/doc/fr/lb2/), [Portuguese](http://loopback.io/doc/pt-br/lb2/), and [Korean](http://loopback.io/doc/ko/lb2/).

I ran out of ti

[2016-09-23 19:50] crandmck commented on #37
For instructions one what you need to do to use the exported/converted content, see [Importing existing translations](http:loopback.io/doc/en/contrib/Adding_a_new_language.html#importing-existing-translations).

[2016-09-23 20:30] crandmck commented on #38
Hello everyone.  I'm happy to say that the site is ready to accept translation PRs!

In case you haven't noticed, I recently added a "Translations" dropdown selector in the top bar, and added some languages as examples.  I documented the basic structure and process in:
- http://loopback.io/doc/en/contrib/Adding_a_new_language.html
- http://loopback.io/doc/en/contrib/Translating_articles.html

The

[2016-09-23 22:13] crandmck commented on #51
This will be fixed when we replace the navgoco sidebar with something else per #52.

[2016-09-23 22:13] #51 closed

[2016-09-24 17:53] #52 closed

[2016-09-26 13:43] PhilippeCorreges commented on #38
Can i start on French translation ?

Philippe

[2016-09-26 13:45] davidcheung commented on #55
@crandmck will get on it today

[2016-09-26 15:36] crandmck commented on #38
@PhilippeCorreges Yes!  Please read the articles linked to above, and let me know if you have any questions.  We're kind of figuring out the process as we go, so please be patient....I _think_ I've explained how to do everything, but there might be gaps, and some of the process may change along the way.

[2016-09-26 16:49] crandmck opened #59 "Review old doc site for any remaining misc articles to move over"
We've migrated all the LoopBack content from docs.strongloop.com, but there are some pages that didn't get moved that are not part of LoopBack _per se_, but are related.

Should we move any or all of these?
- [Building a real-time app using socket.io and AngularJS](https://docs.strongloop.com/display/MSG/Building+a+real-time+app+using+socket.io+and+AngularJS)
- [Pub-sub](https://docs.strongloop.co

[2016-09-26 20:02] davidcheung commented on #55
# Suggestion
- [x] Table of content always contains the parent item "LoopBack 2.0"
  i find it a little confusing, would rather have it removed or named `Home` if its customizable, for example if im trying to [create simple api](http://loopback.io/doc/en/lb2/Create-a-simple-API.html) and the first item on table of content sends me back to homepage.
- [x] `create an application`  should fall under

[2016-09-26 21:46] crandmck opened #60 "When nav expands below bottom of page, it's cut off"
From #55:
Sometimes when left nav expands it goes too far and is unscrollable [example](http://loopback.io/doc/en/lb2/Database-connectors.html) you(I) cant see all the options.
If possible, we should fix this.

[2016-09-27 00:10] crandmck commented on #55
That was just a glitch... fixed.

[http://loopback.io/doc/en/lb2/Create-a-simple-API.html](Create a simple API) basically covers that territory. (BTW, Issac wanted to call it "create an API" and not "create an app"). In contrast, [Creating an application](http://loopback.io/doc/en/lb2/Creating-an-application.html) is more of a general task-oriented article vs. a tutorial.

Created #60 to fix this.

[2016-09-27 01:47] qxl1231 commented on #38
For Korean and Chinese, see my comments on issue 37 . so Chinese translation still need waiting ha

[2016-09-27 16:18] crandmck commented on #38
@qxl1231 I don't see any comments from you on #37...?

For Chinese, I was hoping you or someone else could help with the [errors from the conversion script](https://github.com/strongloop/loopback.io/issues/37#issuecomment-249284115) with the Chinese content.

For Korean, the conversion worked (see the zip file attached to #37) but the converted content needs to be cleaned up and added to the repo.

[2016-09-27 17:07] Sequoia commented on #55
As @crandmck mentioned, we discussed the possibilities for side-nav "container"/folder items and the following seemed to be the options:
1. parent/"folder" **never** has a page, always redirects to first child
2. parent/"folder" **always** has a page
3. parent/"folder" **sometimes** has a page, sometimes doesn't.

Confluence allowed for option 3 above. I argue(d) that this behavior is confusing as

[2016-09-27 17:09] Sequoia commented on #52
recommend closing this with additional bugs/issues tracked on other tickets e.g. #55

[2016-09-27 17:25] crandmck commented on #55
Actually, on the old Confluence site https://docs.strongloop.com/ every "leaf" in the navigation "tree" corresponds to a page (which may or may not have children).  If you click on the `+` then it expands the children in the nav tree; if you click on the page title, it displays the page and expands the children in the nav tree.

This is also how it's currently working on loopback.io, which is grea

[2016-09-27 17:40] davidcheung commented on #55
In this scenario to be specific,
why dont we move the url from the `child` to the `sub-parent`, then delete the child since they are duplicates
https://github.com/strongloop/loopback.io/blob/ef191bba2e7561192f684226d3eae221da1206df/_data/sidebars/lb2_sidebar.yml#L345-L352

because right now on http://loopback.io/doc/en/lb2/Model-property-reference.html, when you click on `Built-in models REST API`

[2016-09-27 17:51] crandmck commented on #55
@davidcheung Yes, there are quite a few examples of similar problems. I'm working on the sidebar right now to address these.  Will let you know when I'm done so you can check it out.

[2016-09-27 18:36] #60 closed

[2016-09-27 22:12] crandmck commented on #41
OK, I fixed the basic problem with 2d572d1185cc36a410412989f48e84f505e89baf.  For example, see http://loopback.io/doc/en/lb2/tag_getting_started.html.  This commit adds the requisite tag archive files for both LB2 and LB3, and I modified the tag configuration a bit (see details in http://loopback.io/doc/en/contrib/tags.html#tags-overview).

I started adding tags to all the pages, but was not able

[2016-09-27 22:12] #41 closed

[2016-09-27 22:13] crandmck opened #65 "Add tags to all articles"
Most of the articles need tags, per http://loopback.io/doc/en/contrib/tags.html.

[2016-09-27 22:21] crandmck commented on #55
So, I've fixed the sidebar (David pointed out one issue I missed, and I fixed it).  So, I think we can close this, since we're essentially "launching" the site tomorrow with the blog post, etc..  Thanks for your help @davidcheung!

[2016-09-27 22:21] #55 closed

[2016-09-27 23:01] crandmck opened #66 "Enhance sidebar nav to take another level of hierarchy"
Currently, the sidebar nav only allows three levels of hierarchy:
- Top-level "folders"
  - Second-level "subfolders"
     - Third-level "subfolder items"

This works for most of our content, but there are a few areas where we could use one more level.  The code that processes the `yml` sidebar file does not currently support this.

In addition, there is an oddity left over from the original imple

[2016-09-28 00:34] qxl1231 commented on #38
@crandmck  #37 i have know it ,but cant find any help infomation for this error

[2016-09-28 16:51] Sequoia commented on #66
[`links.html`](https://github.com/strongloop/loopback.io/blob/gh-pages/_includes/links.html#L3-L20) purports to also use the sidebar menu scheme (which I'm revamping), and it looks like [all the pages in `/pages/en/contrib/`](https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/contrib/) _include_ the file, but **it appears to do nothing**.

To wit, when I add `<hr />`s at the top and

[2016-09-28 17:00] Sequoia commented on #66
Other templates that use the existing menu YAML schema:
- [`tocpage.html`](https://github.com/strongloop/loopback.io/blob/gh-pages/scripts-pdf/pdfconfigs/tocpage.html): Looks like its for PDF generation. Will update
- [`prince-list.txt`](https://github.com/strongloop/loopback.io/blob/gh-pages/scripts-pdf/pdfconfigs/prince-list.txt): Also appears to be related to PDF generation? Will update as well

[2016-09-28 19:06] Sequoia opened #67 "Create Issue Template"
[Issue templates](https://github.com/blog/2111-issue-and-pull-request-templates)

## Some possible info to request (for this *docs* repo)

Maybe not all of this...

1. URL
2. Site bug or Content bug/errata
3. What was the content problem?
  * missing docs?
  * inaccurate docs?
4. What question were you looking for an answer for in the docs?
5. What change would you like to see? *(what would "resol

[2016-09-28 20:11] crandmck commented on #38
I'm hoping that @marc-ed-raffalli, who wrote the conversion code, can help...

[2016-09-28 22:05] crandmck commented on #66
Sounds good.  BTW, `prince-list.txt` is explained in http://idratherbewriting.com/documentation-theme-jekyll/mydoc_generating_pdfs.html.

[2016-09-28 22:14] crandmck commented on #67
Hey @Sequoia I went ahead and created https://github.com/strongloop/loopback.io/blob/gh-pages/ISSUE_TEMPLATE.md.  In general, I'd like to keep issues in this repo primarily for the layout/behavior of the doc site itself; and use other repos (e.g. `loopback`) for issues around doc content.  That being said, I expect people will open doc content issues here anyway, and I don't think it's that big of

[2016-09-28 22:14] #67 closed

[2016-09-28 22:19] crandmck opened #68 "Improve translation infrastructure"
## Nature of the issue

Currently, for non-English spaces, untranslated articles simply return a 404 Not Found.  For example: http://loopback.io/doc/fr/lb2/Creating-an-application.html.

## Expected behavior

I would like the page to display a message saying that it hasn't yet been translated, and provide a link to the corresponding English page.

## Actual behavior

Currently displays "Page Not F

[2016-09-28 23:54] crandmck commented on #38
I'm going to close this issue.  Feel free to open new issues if/when problems occur around translation.

[2016-09-28 23:54] #38 closed

[2016-09-29 00:18] crandmck opened #69 "Layout tweaks"
There are a few styling tweaks I would like.  @Sequoia I can probably figure these out (when I can find the time) if I try, but if you can easily fix them, please do so.

There is a bit too much whitespace between the page content and the title bar (top bar).  I know a certain amount of whitespace is good, but screen real estate is also valuable, so I just think we can bring it down by 10 - 20px o

[2016-09-29 16:02] marc-ed-raffalli commented on #37
Hi @crandmck, the script should be language agnostic.
What I suspect is the markup has some differences, will check that out and send an MR for each

[2016-09-29 16:05] crandmck opened #71 "Docs for LoopBack 3.0 release"
Just before LB 3.0 release, need to:
- Copy the 2.x articles from `pages/en/lb2` to `pages/en/lb3`, except (obviously) for the 3.0-specific pages that are already there.
- Rename any 3.0-specific articles to remove "3.0" from the title, e.g. `Operation-hooks-version-3.0.html`.
- Copy the 2.x sidebar nav to 3.
- Update `pages/en/lb3/index.html` to reflect release status, etc.
- Review the release n

[2016-09-29 18:13] juanscolari opened #72 "Spanish translations for the documentation"
Are you planning spanish translations for the documentation? I don't see the option in the Translations menu

If so, i could help with that!

[2016-09-29 19:11] marc-ed-raffalli commented on #37
I created the MR https://github.com/strongloop/loopback.io/pull/74

The root of the issue was the macro were assumed to all have an icon.
But in these pages, 7 had a macro without icon.

Also, fair to you @crandmck, the script has hard codded `en`, could be more agnostic ;)
I left the original file name when it contains chinese / special chars.

[2016-09-29 20:47] Sequoia commented on #66
See #73

[2016-09-29 21:41] crandmck commented on #72
We don't have any specific plans for translations.  At this point, it's up to the community.  Your help is welcome!

We haven't added it yet.  Follow the instructions in  http://loopback.io/doc/en/contrib/Adding_a_new_language.html to add it.  Let me know if you need any help.

NOTE: We in the process of changing the format of the sidebar `.yml` files slightly (see #73).   So, you should probably

[2016-09-29 22:32] #69 closed

[2016-09-30 01:40] dejaneves opened #77 "translation of files inside (_ includes/readmes )"
How do I translate the files inside the folder (_ includes/readmes ) ?

[2016-09-30 06:46] crandmck commented on #77
An excellent question.

Here's a summary of how they are pulled into the repo: http://loopback.io/doc/en/contrib/Including-READMEs.html

I haven't come up with a good way to localize these yet.  I'll work on this, but in the meantime, you can do this:
- Find the file where the README is included, e.g. `Angular-example-app.md`.
- Delete the line that does include, e.g. `{% include readmes/loopback-

[2016-09-30 17:33] crandmck opened #80 "Sidebar container items indented too far"
Sidebar container items are left-indented more than items that are not containers:
![sidebar-layout](https://cloud.githubusercontent.com/assets/2925364/19000695/d0c1ddb4-86f8-11e6-97ca-1adc3ee1d8f8.png)

The left-padding of these articles should be the same whether they are a container or not, because an item is at the same "level" in the hierarchy, regardless of whether it has children or not.

S

[2016-09-30 17:37] Sequoia commented on #80
@crandmck What browser are you using?

[2016-09-30 20:20] crandmck commented on #80
Chrome - Version 53.0.2785.116 (64-bit)

[2016-09-30 20:21] Sequoia commented on #80
Does this revision look right?
![](https://i.imgur.com/5i3J3Tw.png)

I ended up changing the styles around some to remove take block display off the menu links. This made it easier to get everything to line up but means that the tree parent menu text will wrap directly below the `+`, and I'm not sure if that meets your requirements.

I'll look into another approach that preserves the block styles

[2016-09-30 20:25] crandmck commented on #80
Yes, the alignment looks fine, but I'd like to keep the existing "highlighting" (blue rounded box) rather than what's shown above (bold, blue bar to left).

And, the text wrapping immediately below the "+" is not ideal; would be better to have the text wrap align with the beginning of the label if possible.

[2016-09-30 20:46] Sequoia commented on #80
I've fixed the wrapping issue

![screen shot 2016-09-30 at 4 45 48 pm](https://cloud.githubusercontent.com/assets/317498/19006441/74fe6cb0-872d-11e6-90e7-ca185b174cd7.png)

I'll see about restoring the highlighting. The issue there was one of padding... anyway I'll see what I can do :)

[2016-09-30 21:12] crandmck commented on #80
Cool, thanks!

[2016-10-03 16:45] crandmck opened #86 "Enhance in-page TOC"
It would be great if the auto-generated page TOC had these features:
- UI element to "minify" the TOC display.  This would help esp. for long TOCs.
- Ability for author to specify that TOC displays only elements up to a certain level, eg. h1's only, or h1 & h2's only, etc.  Sometimes you don't need to show _all_ the lower-level headings.

[2016-10-03 17:31] crandmck commented on #77
Hi @dejaneves I'm going to close this.  Please let me know if you have questions or run into any other issues.  Thanks for helping us pioneer translations!

[2016-10-03 17:31] #77 closed

[2016-10-03 17:32] crandmck commented on #66
This fixed in #73.

[2016-10-03 17:32] #66 closed

[2016-10-03 21:15] crandmck commented on #80
Fixed by #84

[2016-10-03 21:15] #80 closed

[2016-10-05 16:26] crandmck opened #89 "Set up and test PDF generation"
The original [Jekyll theme](https://github.com/tomjohnson1492/documentation-theme-jekyll) upon which the site is based provided for generating PDFs: http://idratherbewriting.com/documentation-theme-jekyll/mydoc_generating_pdfs.html.

However, we haven't tried doing this yet, and because we've made a number of changes to the overall infrastructure we may need to make some changes to get PDF generat

[2016-10-05 18:34] crandmck commented on #68
Fixed with #90

[2016-10-05 18:34] #68 closed

[2016-10-05 18:47] Sequoia commented on #49
@crandmck pointed me to me this ticket as something I might be able to help with. What's the specific goal/deliverable here?

Is it: **Create a script that reads & validates (lints) the top level `README.md` files across all strongloop repos**?

[2016-10-05 20:26] crandmck commented on #49
@superkhau ^

[2016-10-05 21:23] superkhau opened #91 "Change FA owners doc to table format"
## URL of the page

FA owners doc page.
## Nature of the issue

layout
## Expected behavior

just look like a table for easy reading
## Actual behavior

a tree list ATM
## Suggested resolution

Refactor

[2016-10-06 07:37] superkhau commented on #49
@Sequoia Start with loopback.io files. We can decide after that trial run to see if we want to integrate the script into each LB repo afterwards based on your discoveries (and standards you decide upon in the configuration of remark-lint -- we can discuss more during the review of your PR to loopback.io -- cc me in that PR).

[2016-10-06 07:39] superkhau commented on #49
@Sequoia Please reference your PR to this issue too.

[2016-10-06 11:58] raviranjan528 opened #93 "i have Windows10 .and npm version 3.10.6 . when i am installing npm install -g strongloop. giving error . the error is"
## URL of the page
npm ERR! Windows_NT 10.0.10586
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Users\\HP\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js" "install" "node-pre-gyp"
npm ERR! node v4.4.7
npm ERR! npm  v3.10.6
npm ERR! path C:\Users\HP\AppData\Roaming\npm\node_modules\.staging\sqlite3-246ee2c4
npm ERR! code EBUSY
npm ERR! errno -4082
npm ERR! syscall rmdir

npm E

[2016-10-06 16:12] crandmck commented on #93
This repo is for issues related to the documentation.

Please open your issue in the loopback repo: https://github.com/strongloop/loopback/issues.

[2016-10-06 16:12] #93 closed

[2016-10-06 16:27] crandmck commented on #49
To clarify: the point of this exercise was to detect and resolve layout errors in loopback.io due to poorly-formatted markdown.  Very little of that exists in the "regular" markdown files in `pages` directory of loopback.io.

Far more useful would be to correct problems in the READMEs being pulled into the docs from other repos ([repos.json](https://github.com/strongloop/loopback.io/blob/gh-pages/

[2016-10-06 19:57] Sequoia commented on #49
[mdl](https://github.com/mivok/markdownlint) uses Kramdown (and looks like it could do the job). Noting that here in case there are issues with remark-lint (which uses remark). Moving forward with remark-lint because while this repo _does_ already depend on ruby, this particular task (extra-repo READMEs) already uses JS (get-readmes).

[2016-10-06 20:42] Sequoia commented on #49
Starting point: linting [_includes/readmes](https://github.com/strongloop/loopback.io/tree/gh-pages/_includes/readmes):

<details>
<summary>

`remark ./_includes/readmes` 745 warnings</summary>

[code]

</details>

These are primarily `list-item-indent` type warnings, _which don't actually break the markdown parser_.

[2016-10-06 21:51] Sequoia commented on #49
Still working on this... `remark-lint` ended up being very challenging to configure, it's configured in a style much like babel6: configs, presets, plugins, plugin-configs etc..

I had to do a bit of a deep-dive to figure out why remark-lint was not catching any of the faulty headings (I wasn't sure if I was configuring it wrong or what). Turns out the issue is a bit trickier: because `remark` par

[2016-10-06 23:59] crandmck commented on #49
OK, great...please do see if you can find a tool that detects the header issue (missing space after `#`), because I think we have a lot of those.

[2016-10-07 06:59] superkhau commented on #49
Should also try to see if the tool you're trying out supports a `--fix` option like ESLint to auto fix errors based on explicit rules from a config file.

[2016-10-07 17:11] Sequoia commented on #49
# Fenced code blocks in nested lists

This one is _very_ tricky...

## 7 Space indent

### OL > UL

[code]
- ✅  Works with kramdown
- _also works on github_

### UL > UL

[code]
- ❌ **Does not work** with kramdown
- _works on github_

## 4 spaces indent

### OL > UL

[code]
- ❌  **Does not work** with kramdown
- _works on github_

### UL > UL

[code]
- ✅  **Works** with kramdown
- _also works on g

[2016-10-07 17:11] Sequoia commented on #49
I'm still working on finding a combination of rules that would detect this issue.

[2016-10-07 17:18] Sequoia commented on #49
I do not believe there's any combination of rules that will detect the fenced code block issue (using [markdownlint](https://github.com/DavidAnson/markdownlint/blob/master/doc/Rules.md) which I'm using because it can detect the `#no space header` issue).

[2016-10-07 18:32] Sequoia commented on #49
# Newline missing before list items

This was present in the [loopback-android-getting-started README](https://github.com/strongloop/loopback-android-getting-started):

[code]

That bit in the middle "See this page for more details" breaks the list rendering starting with "Add google-play-services...", _even if the `<android-sdk>` fenced block is removed_.

![](https://i.imgur.com/hjgzh66.png)

#

[2016-10-07 18:37] Sequoia commented on #49
# Working version

For the record, making that list completely lint-free _did_ cause it to render as expected (with the major ⚠️  caveat that it did not help me get the correct indent on the fenced code block in nested list, I got that from trial and error).

[code]

So perhaps the organization should enforce markdown style rules across all repos: while it would be more work for authors, it is _li

[2016-10-07 19:22] crandmck commented on #49
Thanks for chasing this all down @Sequoia.

Your findings mostly align with my experience, in that there are lots of wrinkles to how GH/Jekyll handles markdown, especially around lists.  In general, I do think we need to be able to use code blocks in lists (ordered and unordered), but I also think it's fine if we have to fix these manually.

That's fine by me, and I think it's the most realistic s

[2016-10-08 00:21] superkhau commented on #49
@crandmck @Sequoia I feel we need to cater for GitHub based workflows and not Jekyll. The contributors all know GHFM. Maybe there is a GHFM->Kramdown converter? Spike on more libs?
1. GHFM as first class citizen
2. If not possible, take notes in the loopback-knowledge-base so the doc team knows about the quirks and manually fixes for now (and us devs can see the pains and hoops that you guys need

[2016-10-08 22:20] plug-n-play opened #97 "Getting Started | Unable to 'git checkout step1'"
## URL of the page : http://loopback.io/doc/en/lb2/Use-API-Explorer.html

## Nature of the issue:  'git checkout step1' not working

## Expected behavior
Executing 'git checkout step1' should work

## Actual behavior
Get following error:
"error: pathspec 'step1' did not match any file(s) known to git."

## Suggested resolution
This should work as expected instead of giving an error

[2016-10-09 20:09] crandmck commented on #97
@superkhau As I mentioned you need to replace the tagged releases https://github.com/strongloop/loopback-getting-started/releases

[2016-10-10 21:30] Sequoia commented on #49
**Summary:** _Use Github’s markdown parser so behavior is consistent from GH to Jeyll_.

Thanks for the info @superkhau! With those priorities in mind, here are my thoughts:

Markdown has no formal standard, so each parser has its own de-facto standard style. It’s best therefore to treat the parser as the standard.

Building a tool to translate or transform one style to another would, in my opinio

[2016-10-11 17:55] crandmck commented on #49
Thanks again Sequoia for looking into this...

If the diffs between kramdown and GFM are causing an issue, I _think_ we could configure kramdown to parse markdown as GFM by using the `gfm_quirks` [config option](http://kramdown.gettalong.org/options.html) (cf https://help.github.com/articles/configuring-jekyll/).

However, before we spend any more time on this, I think it's important to remember t

[2016-10-11 19:38] Sequoia commented on #49
@crandmck I'm happy to do that checking/editing, I can start right away! I hadn't considered that because I'd taken from this discussion that "requiring devs on different repos to change their readmes is a no-go." I can go ahead and do that editing & start sending PRs.

A couple more observations/thoughts:
1. Changing the kramdown config to `gfm:true` (which it already is) fixes the fenced code bl

[2016-10-11 19:38] Sequoia commented on #49
For now I'll work on sending PRs to offending repos.

[2016-10-11 21:26] crandmck commented on #49
OK, thanks @Sequoia.

Certainly cleaning up READMEs manully is NOT a "no go"... I just think @superkhau rightly was looking for a way to automate it.  My point is just that it's relatively straightforward (the number of files and corrections is not that huge), so perhaps the easiest way to achieve our high-level goal is to "just do it" and not spend a lot of time on the intricacies of markdown par

[2016-10-12 07:20] superkhau commented on #49
@crandmck @Sequoia Let's agree on the vision before deciding on the solutions:
- GFM as first class citizen whenever possible
- Document edge cases where GFM can't be used with why and what the workaround for that particular repo/set of repos are
- Automate if possible, if not then manual intervention as described by @crandmck is possible, but must be documented since these are technically edge ca

[2016-10-12 13:54] Sequoia commented on #49
@superkhau That sounds good.

One key point: It's not a 100% solution, but in many of the cases I've seen, **adhering strictly to the rules set out in [the original markdown "spec"](daringfireball.net/projects/markdown/syntax) eliminates most issues.** For example, github permits indenting sub-lists with 2 spaces but if you use 4 per the spec* **the problems go away**.

It's hard to target Redcarp

[2016-10-12 13:55] Sequoia commented on #49
Also, I'm in the office today so please let me know if you'd like to call-- I think the thread's gotten long enough that real-time hashing-out is advisable at this point. 😸

[2016-10-12 14:31] Sequoia commented on #49
Starting to compile info here: https://gist.github.com/Sequoia/8698d97b15db349e7f97c8b218f094de Let me know where to move it & I shall do so.

[2016-10-12 18:18] crandmck commented on #49
@superkhau I think the items you outlined actually are also a "solution".

The "vision" is that we want documentation written in markdown to display properly in GitHub, npm, and on loopback.io (i.e. Jekyll) with minimal effort and overhead.

HOW we achieve that is the solution, and may or may not require using a linter or any of the other items in your list.  A style guide is fine, but cf. "minima

[2016-10-12 21:23] Sequoia commented on #49
I've reviewed all markdown files in `repos.json` and their output & sent PRs where needed.

[2016-10-13 18:01] Sequoia opened #105 "Verify that fenced blocks don't work in a blockquote"
https://github.com/gettalong/kramdown/issues/374

[2016-10-13 20:27] crandmck commented on #105
In general, I wouldn't think there would be much call for code blocks inside a block quote.  Is there an example?

[2016-10-13 21:00] Sequoia commented on #105
https://github.com/strongloop/loopback-example-database/blob/oracle/README.md#automatic-path-modification

This is one of the two places I saw it. I filed an issue https://github.com/gettalong/kramdown/issues/374 & afterward found out that it _does_ appear to work, so my style guide entry might be inaccurate. I thought it wouldn't work-- now I think there was some other formatting issue breaking i

[2016-10-13 21:05] crandmck commented on #105
Even it if _is_ technically legal markdown, I think we should discourage this and actively remove it when we see it.  There are better ways to achieve the same effect IMHO.  OTOH it's not end of the world if someone does it....Just looks silly. ;-)

[2016-10-13 21:23] Sequoia commented on #105
Yeah I agree 100%. My response is "don't do that."

I'd said it wasn't possible in the guide tho & now that I know that it is I want remove that bit so the guide isn't full of falsehood. 😋

[2016-10-13 22:38] #105 closed

[2016-10-13 22:44] crandmck opened #107 "Clean up example READMEs"
We fetch the following READMEs into the docs:

- loopback-android-getting-started
- loopback-example-angular
- loopback-example-app-logic
- loopback-example-access-control
- loopback-example-angular-live-set
- loopback-example-connector", "branch": "remote
- loopback-example-connector", "branch": "rest
- loopback-example-connector", "branch": "soap
- loopback-example-database", "branch": "mssql
-

[2016-10-13 22:50] crandmck opened #108 "Pull in READMEs for connectors, components"
We should use the [same technique](http://loopback.io/doc/en/contrib/Including-READMEs.html) that we currently use to fetch the example repo READMEs to get the READMEs for all the data source connectors and the components.  Also look at any other READMEs we should include into the docs.

This may require some minor modifications to the `get-readmes` code to allow for a second `repos.json` file in

[2016-10-13 23:51] crandmck commented on #49
Discussion among @Sequoia @superkhau and @crandmck came to following conclusions:
- Using a markdown linter does not provide many advantages (see above) and costs in productivity and process.  It won't catch all issues in any case.  Initial adoption could lead to a significant amount of work for both doc and eng. teams.
- For now, doc team will manually review and correct README files to ensure th

[2016-10-13 23:51] #49 closed

[2016-10-14 18:16] crandmck commented on #72
@juanscolari If you want me to add a "space" for Spanish language, just let me know and I'll do that.

If you have any specific questions, want to involve anyone else in the community in the Spanish translation effort, or have any other reason to keep this issue open, please comment here.
Otherwise, I'll close this issue--thanks!

[2016-10-14 21:41] juanscolari commented on #72
I was waiting for #73 to be closed to start with the sidebar. I have just seen that it was merged. Closing this!

[2016-10-14 21:41] #72 closed

[2016-10-14 22:03] crandmck opened #114 "Add redirects on docs.strongloop.com to new site."
Add redirects on docs.strongloop.com to corresponding pages in http://loopback.io/doc and deprecation notices everywhere else.  Need to cover:
- LB space
- APIC space

Also look for any links to pages in those spaces in remaining docs.strongloop.com pages.

[2016-10-14 22:04] crandmck commented on #39
Redirects task covered by #114

[2016-10-14 22:04] #39 closed

[2016-10-14 22:13] crandmck opened #115 "Add CI branching info/rules"
## URL of the page

Add info from internal KB on CI/branching to http://loopback.io/doc/en/contrib/code-contrib.html
Not sure if it should be a section in this page or a "child" page.
## Nature of the issue

Per https://github.com/strongloop-internal/loopback-knowledge-base/pull/105, the information in the [CI branch rules](https://github.com/strongloop-internal/loopback-knowledge-base/blob/master

[2016-10-14 23:11] superkhau commented on #115
CI should have it's own section IMO, or maybe listed under a section named "Infrastructure" with Ci as subsection, GitHub, etc).

[2016-10-15 00:01] #97 closed

[2016-10-15 01:42] nuba commented on #37
Muito bom! Awesome! Really happy to see this up! The old wiki thing with the shared account and login workarounds wasn't really cutting it for a community-driven translation effort. Hope we'll get things going now! :)

[2016-10-17 15:55] crandmck commented on #97
@plug-n-play The releases are now back in the repo, so you should be able to check out the various steps as instructed by the docs.  Sorry for the inconvenience.

[2016-10-18 18:17] crandmck opened #119 "Rework internal links"
Currently, links to other doc. pages are constructed as follows (for example):
[code]

The original intent was to ensure that links go to the appropriate translation, but it is problematic for include templates (where the liquid variable `{{page.lang}}` is not allowed in a template parameter.

Also, when we duplicate the docs for the LB 3.0 release, we'll have to go through and replace `lb2` every

[2016-10-18 20:59] marc-ed-raffalli commented on #119
@crandmck I'm on it :)

[2016-10-20 23:20] crandmck commented on #119
Thanks @marc-ed-raffalli !

[2016-10-20 23:20] #119 closed

[2016-10-20 23:33] crandmck opened #130 "Problems with navgroups and README layouts"
I created two new layouts that work fine when I run Jekyll locally, but not on the site:

- [Readme layout](http://loopback.io/doc/en/contrib/readmes.html) - here is the [layout file](https://github.com/strongloop/loopback.io/blob/gh-pages/_layouts/readme.html)
- [Navgroup layout](http://loopback.io/doc/en/contrib/navgroups.html) - here is the [layout file](https://github.com/strongloop/loopback.i

[2016-10-24 22:15] #130 closed

[2016-10-24 23:01] crandmck opened #133 "Move API docs to loopback.io domain"
@bajtos suggested:

This would just be a DNS change, approved in principle by @ritch and @raymondfeng.
However, it would be strange to have non-LoopBack docs on loopback.io, so we'd want to review the status of the API docs for:
- strong-cluster-connect-store
- strong-cluster-control
- strong-cluster-tls-store
- strong-mq
- strong-store-cluster
- strong-task-emitter

(see http://apidocs.strongloop

[2016-10-25 03:45] sam-github commented on #133
@crandmck thumbs up for eliminating them from me, the READMEs are good enough, if anyone ever happens to use them.

[2016-10-25 15:48] crandmck commented on #133
@rmg What's involved with switching the DNS for http://apidocs.strongloop.com/ to http://apidocs.loopback.io/ ?

[2016-10-25 16:48] rmg commented on #133
- [ ] add `loopback.io` to out bluemix account
- [ ] add `apidocs` record to `loopback.io` zone
- [ ] add `apidocs.loopback.io` as a route for the apidocs app
- [ ] buy an SSL certificate for `apidocs.loopback.io` or `*.loopback.io`
- [ ] add SSL cert to bluemix account

All of these are trivial _except_ for buying the certificate. Unfortunately we cannot use CloudFlare's free SSL for this (policy

[2016-10-25 17:55] crandmck commented on #133
@chandadharap What's the process for getting SSL certs?

[2016-10-25 18:05] sam-github commented on #133
@rmg --^

[2016-10-27 23:53] crandmck commented on #108
I've enhanced `get-readmes` and we now have all the READMEs in the repo.  Unfortunately, there are some wrinkles:
- Some don't contain the information that they should (I made dev move it to Confluence... doh!)
- Some have formatting errors.

Work is underway to correct these.  See http://loopback.io/doc/en/lb2/tag_readme.html for list of all pages currently transcluding READMEs.

[2016-10-27 23:55] crandmck commented on #53
This is covered by #108

[2016-10-27 23:55] #53 closed

[2016-10-28 16:57] crandmck opened #138 "Add glossary / tooltips"
Add the glossary / tooltip implementation from https://github.com/ibm-apiconnect/getting-started where both are sourced from the same YAML data file.

Demo: https://ibm-apiconnect.github.io/getting-started/#demo-of-tooltips

Glossary: https://ibm-apiconnect.github.io/getting-started/glossary.html

[2016-10-28 16:58] crandmck opened #139 "Add navtabs"
Add navtabs implementation from https://ibm-apiconnect.github.io/getting-started/

Demo: https://ibm-apiconnect.github.io/getting-started/index.html#demo-of-navtabs

Here, it would be for `apic` and `slc` instead of `apic` and API Designer, but idea is the same.

[2016-10-28 17:00] crandmck commented on #107
This is really a bug, not an enhancement, because the markdown formatting issue causes content to layout incorrectly and  relative URLs break links.

[2016-10-28 17:51] crandmck commented on #107
Closed in favor of https://github.com/strongloop-internal/scrum-loopback/issues/1142.

[2016-10-28 17:51] #107 closed

[2016-10-31 17:30] crandmck opened #143 "Add Angular live set README"
Should probably add the https://github.com/strongloop/angular-live-set README.

[2016-11-02 14:10] Samox opened #145 "Add Connector REST documentation"
## URL of the page

http://loopback.io/doc/en/lb2/REST-connector.html
http://loopback.io/doc/en/lb2/Connector-hooks.html

## Nature of the issue

There is no example of an implementation of the hooks used with the REST connector

## Expected behavior

A dedicated page for the hooks with the REST connector

## Suggested resolution

I have two examples in this [article](http://www.theodo.fr/blog/201

[2016-11-02 16:58] crandmck commented on #145
Great suggestion, and thanks for offering the examples in the blog. I'll definitely add asap.

[2016-11-02 19:44] bajtos commented on #133
Makes me wonder: can we use Let's Encrypt to get a free SSL certificate?

[2016-11-03 19:51] rmg commented on #133
Let's Encrypt is based on ACME, which is a verification protocol that requires control of the host. Control of the host shifts a whole bunch of operational and policy responsibilities (aka overhead) onto our (my?) plates. Right now we are able to avoid that complexity by hosting apidocs.strongloop.com on a PaaS (Bluemix) and loopback.io on GH Pages.

Free SSL from CloudFlare is tied to terms of se

[2016-11-03 21:32] crandmck commented on #133
Cool, so what's the upshot?  Can we do this?  If so, when?

[2016-11-03 22:52] rmg commented on #133
@crandmck let's discuss the specifics elsewhere since they involve IBM resources and this is a public repo. We can summarize the results here after.

[2016-11-10 00:49] crandmck commented on #86
For item number 2 above, this Liquid code should generate the TOC for all heading levels (as currently):

[code]

To limit to head2 or higher:

[code]

To limit to head3 or higher:

[code]

[2016-11-10 18:02] #86 closed

[2016-11-10 19:20] crandmck opened #153 "TOC shouldn't display when there are no headers in the page"
https://github.com/strongloop/loopback.io/pull/151 apparently introduced a bug where the TOC is displayed even on pages that have no headers, e.g. http://loopback.io/doc/en/lb2/Installation.html.
If there are no headers, then the (empty) TOC element should not be displayed at all.

@eddiemonge

[2016-11-11 18:41] crandmck commented on #153
Fixed by https://github.com/strongloop/loopback.io/pull/154

[2016-11-11 18:41] #153 closed

[2016-11-11 19:00] crandmck commented on #37
I'm closing this issue since most of the existing content has been migrated.  If there are any more questions or issues around translation, please just open a new issue... Thanks!

[2016-11-11 19:00] #37 closed

[2016-11-11 19:04] crandmck commented on #114
Pages in the LB and APIC spaces now have targeted redirects.  In addition, the [NODE](https://docs.strongloop.com/display/NODE) space has a blanket redirect to http://loopback.io/doc/en/lb2/.

I've removed LB and APIC from the site navigation.

Still to do:
- Remove [ALLDOCS](https://docs.strongloop.com/display/ALLDOCS) and NODE spaces from site nav.
- Remove, change, and/or redirect pages re inst

[2016-11-11 21:22] crandmck commented on #143
Added by 45c9bfda695b3bea62b02788ee448a680bf5bcee.

[2016-11-11 21:22] #143 closed

[2016-11-11 22:12] crandmck opened #155 "Consolidate MS SQL connector doc"
I would like to move the information in https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb2/SQL-Server-connector.md into https://github.com/strongloop/loopback-connector-mssql/blob/master/README.md so we can have a single source for doc for this connector.

The [Basic use](https://github.com/strongloop/loopback-connector-mssql/blob/master/README.md#basic-use) section seems questio

[2016-11-11 22:25] crandmck opened #156 "Consolidate MySQL connector doc"
I would like to move the information in https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb2/MySQL-connector.md into https://github.com/strongloop/loopback-connector-mysql/blob/master/README.md so we can have a single source for doc for this connector.

The [Basic use](https://github.com/strongloop/loopback-connector-mysql/blob/master/README.md#basic-use) section seems questionable

[2016-11-11 22:33] crandmck opened #157 "Consolidate Oracle connector doc"
I would like to move the information in https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb2/Oracle-connector.md into https://github.com/strongloop/loopback-connector-oracle/blob/master/README.md so we can have a single source for doc for this connector.

Once we move the content into the connector README, I will copy the content of https://github.com/strongloop/loopback.io/blob/gh

[2016-11-11 22:48] crandmck opened #158 "Consolidate PostgreSQL connector doc"
I would like to move the information in https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb2/PostgreSQL-connector.md into https://github.com/strongloop/loopback-connector-postgresql/blob/master/README.md so we can have a single source for doc for this connector.

Once we move the content into the connector README, I will copy the content of https://github.com/strongloop/loopback.io

[2016-11-12 00:09] crandmck opened #159 "Consolidate Redis connector doc"
I would like to move the information in https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb2/Redis-connector.md into https://github.com/strongloop/loopback-connector-redis/blob/master/README.md so we can have a single source for doc for this connector.

Once we move the content into the connector README, I will copy the content of https://github.com/strongloop/loopback.io/blob/gh-p

[2016-11-12 00:13] crandmck opened #160 "Consolidate REMOTE connector doc"
I would like to move the information in https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb2/Remote-connector.md into https://github.com/strongloop/loopback-connector-remote/blob/master/README.md so we can have a single source for doc for this connector.

Once we move the content into the connector README, I will copy the content of https://github.com/strongloop/loopback.io/blob/gh

[2016-11-12 01:41] crandmck commented on #108
We need to consolidate the docs and READMEs for several connectors; here are the issues:
- [ ] #155
- [ ] #156
- [ ] #157
- [ ] #158
- [ ] #159
- [ ] #160

@Amir-61 I will do this work, but I'll ask you to review the PRs.

[2016-11-16 10:35] irislian199092 opened #163 "you have already defined this name "admin""
when I  restart the server,alwayes remind me that i have already defined this name "admin".
How can i  resolve this?

[2016-11-16 20:09] crandmck commented on #163
Issues here are for problems related specifically to the documentation--and in general we don't use issues for questions.  Please ask you question on the Google Group, Gitter, or Stack Overflow.  See http://loopback.io/doc/en/contrib/Reporting-issues.html for links.

[2016-11-16 20:09] #163 closed

[2016-11-17 19:14] crandmck commented on #114
This is done.  I'll redirect the [MSG space](https://docs.strongloop.com/display/MSG) when I address #59.

[2016-11-17 19:14] #114 closed

[2016-11-18 01:15] #59 closed

[2016-11-18 08:07] qxl1231 commented on #48
now zh/  chinese version can translate ?

[2016-11-18 18:41] crandmck commented on #48
We do have SOME old Chinese translation imported from the old site: http://loopback.io/doc/zh/lb2/
However, it may be a bit outdated.  Since I can't read Chinese, I have no idea! :-)
I do think that some of the links are broken, etc.

If you want to remove any of the old/existing Chinese articles and just replace them with new translations, that's fine.

Here is the basic translation process: http

[2016-12-02 07:27] harikrishnanp opened #184 "All links pointing to strongloop.com are broken"
## URL of the page
http://loopback.io/doc/

## Nature of the issue

All links pointing to https://strongloop.com are broken.
Eg: https://strongloop.com/strongblog/node-js-php-get-started/

## Expected behavior

The page should load fine with correct content.

## Actual behavior

`ERROR

The request could not be satisfied.

CloudFront wasn't able to connect to the origin.
Generated by cloudfront (C

[2016-12-02 23:05] crandmck commented on #184
I can't reproduce this, and I'm guessing it was a temporary issue with the strongloop site.  All these links work (as previously):
- https://strongloop.com/strongblog/node-js-java-getting-started/
- https://strongloop.com/strongblog/node-js-ruby-on-rails-getting-started/
- https://strongloop.com/strongblog/node-js-php-get-started/

[2016-12-02 23:05] #184 closed

[2016-12-03 10:42] harikrishnanp commented on #184
Yes. It was a temporary issue. It works fine now.

[2016-12-08 21:20] crandmck opened #196 "Add page of relevant videos"
e.g. https://www.youtube.com/watch?v=kthQssL_vFk

Need to find a few more before adding a page.  Could also add to http://loopback.io/resources/.

cc @superkhau

[2016-12-13 22:47] crandmck opened #200 "Add docs for creating custom AccessToken model"
Per https://github.com/strongloop/loopback/pull/2841

[2016-12-14 23:46] crandmck commented on #108
Going to close this since there are issues for the each specific connector/component.

[2016-12-14 23:46] #108 closed

[2016-12-14 23:47] crandmck opened #203 "Update 3.0 docs based on release notes"
Review http://loopback.io/doc/en/lb3/3.0-Release-Notes and make changes to the rest of the docs accordingly.

[2016-12-20 09:52] tmclouisluk opened #209 "Relations: hasMany bugs: Forces to change foreignKey to integer"
Table A:
[code]

Table B
[code]
For table A, s_id is uuid so it should be in string.
when I go to http://localhost:3000/explorer,
i found that loopback forces to change the datatype of id in table A from string to integer.

Is there any solution for this?

[2016-12-20 19:21] crandmck opened #211 "Remove use of apic tools from LB3 docs"
Currently, API Connect CLI does not support LB3; need to note this in 3.0 docs and update them to use `slc` only everywhere.

[2016-12-20 19:26] crandmck commented on #211
Addressed with 62d4e1fa05b5d1e5ff48a08ce6cadfc996a07a8b

A couple READMEs mention `apic`.  I opened PRs to indicate that it works only with 2.x:

- https://github.com/strongloop/loopback-connector-rest/pull/88
- https://github.com/strongloop/loopback-connector-soap/pull/60

[2016-12-20 19:43] superkhau commented on #209
Please post on strongloop/loopback -- I'll help move this issue there.

[2016-12-20 19:43] superkhau commented on #209
This issue was moved to strongloop/loopback#3046

[2016-12-20 19:43] #209 closed

[2016-12-21 18:51] crandmck commented on #211
This is done.

[2016-12-21 18:51] #211 closed

[2016-12-21 22:53] crandmck opened #214 "How to customize REST err handling in 3.0"
The 2.x doc explains how to [customize REST error handling](https://loopback.io/doc/en/lb2/Environment-specific-configuration.html#customizing-rest-error-handling) but with strong-error-handler, it's not clear how (or if!) one does this.

Need to update https://loopback.io/doc/en/lb3/Environment-specific-configuration.html#customizing-rest-error-handling accordingly.

@bajtos: @0candy said to chec

[2016-12-22 02:28] superkhau opened #215 "Default to simple English URLs"
As discussed in standup awhile ago, we should default the doc pages to English without the i18n modifier in the path. For example, if I want to get the to community page, it should be as simple as:

[code]

And for other languages, say Chinese:

[code]

So the country identifier isn't there for the default English URLs.

[2016-12-22 15:05] bajtos commented on #214
strong-remoting still supports `errorHandler.handler` function, as described in docs.

[code]

However, `errorHandler.disableStackTrace` was removed in favour of `errorHandler.debug`.

IMPORTANT: this applies only when `remoting.handleErrors` is not `false` (i.e. not set or set to `true`). The current project template sets `remoting.handleErrors: false` ([source](https://github.com/strongloop/loop

[2016-12-22 15:06] bajtos commented on #214
Also note that both 2.x and 3.x applications are scaffolded with `handleErrors` set to `false`, therefore the current 2.x docs is not accurate either.

[2016-12-28 20:05] crandmck commented on #215
The way we do this is to add the following (for example) in each affected page's front-matter:
[code]
I committed the above example, so now http://loopback.io/community/ redirects to http://loopback.io/doc/en/community/index.html.

Please list other pages for which you would like a redirect.  I think it's fine for some pages where it's nice to have a short easy-to-remember URL, such as the above,

[2016-12-29 00:42] superkhau commented on #215
@crandmck Great, I think we'll have to do this on a case-by-case basis then. We can close this issue since you have a way of redirecting easily. ;) I will open up new 1 point issues when those times come so we can do async. However, if you have time, here are some obvious ones off the top of my head:

- [ ] `/examples` should redirect to https://loopback.io/doc/en/lb2/Tutorials-and-examples.html
-

[2016-12-29 21:41] miroslav-grabinskiy opened #219 "Where is "MySQL" in list?"
In-memory db (supported by StrongLoop)
  IBM DB2 (supported by StrongLoop)
  IBM DashDB (supported by StrongLoop)
  IBM MQ Light (supported by StrongLoop)
  IBM Cloudant DB (supported by StrongLoop)
  IBM DB2 for z/OS (supported by StrongLoop)
  MongoDB (supported by StrongLoop)

Press the down-arrow key to highlight MySQL (supported by StrongLoop), then hit Enter.

hmm, There are not mysql in lis

[2016-12-30 11:13] ahallez opened #220 "Creating remote instance methods documentation"
http://loopback.io/doc/en/lb3/Remote-methods.html

When creating a remote method, according to the documentation the method is created non-static if the method name is preceeded by prototype.

However, when trying this out, I noted that the method is created static by default.
For creating a non-static method, you have to add isStatic: false to the method options.

[2016-12-30 18:08] crandmck commented on #219
You should be able to "down arrow" to scroll down the list and display "MySQL".

What version are you using (type `slc -v`)?  What OS are you using (Windows, Mac)?

[2016-12-30 18:20] miroslav-grabinskiy commented on #219
6.0.3, when I press arrow keys, arrow not move :(

[2016-12-30 19:57] crandmck commented on #215
http://loopback.io/examples/ is already taken.  Can you suggest another mnemonic URL for that page?
Maybe `/example-apps` ?

That's fine, though it's so simple to create a redirect that just opening a PR would also be OK and would save a bit of time.

[2016-12-30 19:59] crandmck commented on #219
What OS are you using (Windows, Mac)?

[2016-12-30 20:03] crandmck commented on #220
Yes, the migration guide states that remote methods are static by default: http://loopback.io/doc/en/lb3/Migrating-to-3.0.html#update-remote-method-definitions but we should also add that in the above doc and release notes.

Actually, I notice that it says this:

So that basically says it, but I can try to emphasize and clarify.

That's true in LoopBack 2.x, but in 3.0 (as stated in release notes

[2016-12-30 20:24] superkhau commented on #215
Even better, I don't mind submitting PRs. Can you link to an example PR here so we have something to refer to next time?

I'm proposing we move the current content (which is really a showcase of features) to another section (maybe `/features` or `/discover`) and free up `/examples` for actual examples.

For now though, how about redirecting both `/tutorials` and `/example-apps`?

[2016-12-30 21:06] crandmck commented on #220
Addressed with 17270de8a8bdc8d1609abd5a2ce4a1383d950652

[2016-12-30 21:06] #220 closed

[2016-12-30 23:02] miroslav-grabinskiy commented on #219
Windows 10.
Arrow not move, but when I press "down arrow" key, and enter, I select second element, but it's very uncomfortable, and This does not help in this menu for view other elements(

[2016-12-30 23:12] crandmck commented on #219
@smartmouse I don't think this is a doc issue, because of course this works properly (for me and others).  Can you help debug this?  Should we move the issue to another repo?

[2016-12-30 23:16] crandmck commented on #215
This is fine by me, but because the site has been around for a few years, there may be some existing links (e.g. on strongloop.com, blogs, etc) that we'll need to change accordingly.  And IAC, we'll need to check with @chandadharap and @sumitha before doing this.

Done by #221, so I'll go ahead and close this.

[2016-12-30 23:27] smartmouse commented on #219
@crandmck , do you mean a different issue?

[2016-12-30 23:57] miroslav-grabinskiy commented on #219
If mysql is on the list and pressing the button down, i can walk up to this point, yes, it's another issue

[2016-12-30 23:57] miroslav-grabinskiy commented on #219
How I can help debug this?

[2016-12-31 00:24] smartmouse commented on #219
Which node.js version are you using?
When you create the loopback project i.e. slc loopback, which template are you using?
api-server, helloworld, empty-server or notes?

I do not have windows 10 to reproduce , this is a window 7,
if I press down-arrow to mySql and then press enter to select, this is what I got.

<img width="1006" alt="screen shot 2016-12-30 at 7 19 35 pm" src="https://cloud.githu

[2016-12-31 00:30] miroslav-grabinskiy commented on #219
I tried helloworld, and api-server, and I had the same problem. 6.9.1 node -v

[2016-12-31 00:33] miroslav-grabinskiy commented on #219
I will record video with problem, when i will be in my work (on Tuesday)

[2016-12-31 00:34] smartmouse commented on #219
I am using node 4.x, let me try node6.x and see if I can reproduce on windows 7, if I cannot, then it is specific to windows 10.  In the meantime, you can see if npm install -g loopback-connector-mysql works for you on windows 10 or not.
Thank you for trying out.

[2016-12-31 00:43] miroslav-grabinskiy commented on #219
Ok, I wait your test with node6.x.

[2016-12-31 00:48] smartmouse commented on #219
I tried node6.x , no issues.
I assume you are using loopback 3.
I tried both loopback v2.x and 3  , no issue.

<img width="825" alt="screen shot 2016-12-30 at 7 49 20 pm" src="https://cloud.githubusercontent.com/assets/4519627/21574867/1bebb8f6-cec9-11e6-94cc-2f1d2672f6e0.png">

[2016-12-31 09:13] miroslav-grabinskiy commented on #219
Ok, i will record viewo with my issue on Tuesday

[2017-01-03 18:06] crandmck commented on #219
@smartmouse What I meant was the issues in this repo are specifically for documentation problems or issues related to the loopback.io site.  Issues with LoopBack software should be in the `loopback` repo or another more appropriate repo.

[2017-01-04 17:57] smartmouse commented on #219
@crandmck Do you have authority to move this issue to the loopback repo?

[2017-01-04 19:20] #219 closed

[2017-01-04 19:20] crandmck commented on #219
Issue moved to [strongloop/loopback #3069](https://github.com/strongloop/loopback/issues/3069) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-09 12:53] vipulpatel1994 opened #232 "Not return id while calling this "modelId: ctx.instance.id" in my model after save method."
Not return id while calling this "modelId: ctx.instance.id" in my model after save method. Also try "modelId: ctx.where.id" it does not work, kindly help me out.

in socket connection

[code]

[2017-01-09 21:21] crandmck commented on #232
Since this doesn't appear to be a documentation issue, moving to loopback repo.

[2017-01-09 21:22] crandmck commented on #232
Issue moved to [strongloop/loopback #3082](https://github.com/strongloop/loopback/issues/3082) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-09 21:22] #232 closed

[2017-01-10 19:39] #71 closed

[2017-01-12 16:44] doublemarked opened #239 "Clarify future of Loopback and LB tools in documentation"
## URL of the page

https://loopback.io/doc/en/lb3/Installing-StrongLoop.html

## Nature of the issue

Today in Gitter @juanmiret asked a question that is periodically asked in various forms:

![screen shot 2017-01-12 at 6 31 54 pm](https://cloud.githubusercontent.com/assets/239190/21898731/7a3d8baa-d8f6-11e6-97ea-75215ff732da.png)

He cited finding this on https://docs.strongloop.com/display/SLC/

[2017-01-12 16:57] juanmiret commented on #239
The thing that scares me out of using loopback is, right off the bat in getting started you have to use 'slc loopback', then 'slc loobpack:database', 'slc lb:model', 'slc deploy' etc etc, and then... 'slc will be deprecated', so... ok, what are the alternatives? Go use IBM APIC?

English is not my native language so excuse me if i'm not writing well 😄

[2017-01-12 21:27] ghost commented on #239
Loopback continues to grow actively and the API Connect team at IBM is dedicated to develop, support and maintain the framework. Loopback is at the core of API Connect, has an active roadmap, and we have recently added several new members to the team.

While we will indeed deprecate slc, we are in process of releasing Loopback’s own cli. You can watch its development at https://github.com/stronglo

[2017-01-12 21:38] doublemarked commented on #239
@chandadharap sure, that clarifies things. Shouldn't this be more clear in the docs?

[2017-01-12 21:50] crandmck commented on #239
As soon as `loopback-cli` is released (s/be soon IIUC) I'll update the docs.

[2017-01-13 00:51] crandmck commented on #239
Based on the discussion, I'm going to change the title of this issue so as not to alarm anyone.... :-)

[2017-01-13 00:53] crandmck commented on #203
This is largely done.

[2017-01-13 00:53] #203 closed

[2017-01-14 16:03] Jonibigoud opened #244 "404 error when querying mongo database with where clause on integer (32 or 64)"
## Nature of the issue

request API with where clause

Loopback version:
    "loopback": "^3.0.0",
    "loopback-boot": "^2.6.5",
    "loopback-component-explorer": "^4.0.0",
    "loopback-connector-mongodb": "^1.17.0",

## Expected behavior

Get an object from a query with "where" clause on integer 32 or 64 or mongodb objectId

## Actual behavior

1. property on a mongodb object is set to type in

[2017-01-16 19:56] crandmck commented on #244
Issue moved to [strongloop/loopback #3108](https://github.com/strongloop/loopback/issues/3108) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-16 19:56] #244 closed

[2017-01-17 20:44] jbrownssf opened #252 "Wrong ACL Name for deleting a record"
## URL of the page
https://loopback.io/doc/en/lb2/Controlling-data-access.html

## Nature of the issue
The ACL terms for how to define roles is inaccurate. The role for removing a record by ID is defined on the page as "destroyById" (which did not work). The one that does work for me is "deleteById".

Missing/inaccurate documentation content.

## Suggested resolution
change the text of the documen

[2017-01-18 17:01] crandmck commented on #252
@jbrownssf Thanks for reporting the issue.

`destroyById` is an alias for `deleteById` - see https://github.com/strongloop/loopback/blob/master/lib/persisted-model.js#L359
They should both work, as should `removeById`.

There is currently a bug in our API generation code that prevents the API docs from showing the aliases.

If it's not working for you, could you please provide a test case?
@smartm

[2017-01-18 17:54] ghost commented on #239
FYI loopback-cli is released on npmjs. @crandmck feel free to close this issue after documentation is updated.

[2017-01-19 06:24] zrgs opened #253 "Command line fix"
## URL of the page

http://loopback.io/doc/en/lb3/Create-AngularJS-client.html
http://loopback.io/doc/en/lb3/Create-AngularJS-client.html#copy-the-other-client-files

## Nature of the issue
The suggested way to copy the other clients file in the command line will not work as expected. I don't think you need the last part of the target path, as it will create another client subdir inside the client

[2017-01-19 07:55] zrgs commented on #253
Sorry, my bad, please discard my comment.

[2017-01-19 07:55] #253 closed

[2017-01-19 16:40] crandmck commented on #239
I should have the docs updated soon.  Will post here asap.

[2017-01-20 01:43] crandmck commented on #239
Docs are updated!

[2017-01-20 01:43] #239 closed

[2017-01-21 21:49] gamtiq opened #255 "A typo in "Use API Explorer" page"
## URL of the page

http://loopback.io/doc/en/lb3/Use-API-Explorer.html

## Nature of the issue

Inaccurate documentation content.
There is the following sentence:

But the `POST  /CoffeeShops` row is the third row in surrounding pictures.

[2017-01-23 19:19] #157 closed

[2017-01-23 19:20] #156 closed

[2017-01-23 19:20] #158 closed

[2017-01-23 19:20] #155 closed

[2017-01-24 21:28] crandmck commented on #255
Fixed by a44f15fc23f06824ef37cd5ac4c82dd4dc8b1132
Thanks, @gamtiq

[2017-01-24 21:28] #255 closed

[2017-01-24 21:39] crandmck commented on #252
I'm going to move this issue to the loopback repo, because it's not a doc issue AFAICT.

[2017-01-24 21:39] crandmck commented on #252
Issue moved to [strongloop/loopback #3133](https://github.com/strongloop/loopback/issues/3133) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-24 21:39] #252 closed

[2017-01-27 00:30] superkhau opened #260 "Update README links"
NOTE: We currently have redirects in place on docs.strongloop.com, so the below links are _not_ actually broken.  However, at some point docs.strongloop.com will go away altogether, and then we will need to fix all these links.

## P1

### loopback-example repos
- [ ] loopback-example-access-control/README.md:26:- [Getting started with LoopBack](http://docs.strongloop.com/display/LB/Getting+starte

[2017-01-27 00:58] crandmck commented on #260
NOTE: This is low-priority because docs.strongloop.com has redirects in place.  When the old site goes away, then these will be dead links, and we'll need to address this.

To do:
1. Replace any links to `docs.strongloop.com` with correct URL on `loopback.io/doc`
2. Replace link to `https://github.com/strongloop/loopback-example` with `https://loopback.io/doc/en/lb3/Tutorials-and-examples.html`

[2017-01-30 19:05] crandmck commented on #91
This is being addressed by #216.

[2017-01-30 19:08] #91 closed

[2017-01-30 19:16] crandmck commented on #214
DOes anything more need to be done in this area?

[2017-01-30 22:04] #139 closed

[2017-01-31 13:47] bajtos commented on #214
Not as far as I am concerned. Let's wait for user feedback to see if there are any more improvements to be made.

[2017-01-31 13:47] #214 closed

[2017-02-04 15:57] ahallez opened #268 "Validation problem when patching a model with embedded relation"
I have a model that includes an embedded relation (embedsMany).
The embedded model has auto generated ids.

When patching the parent model I get a validation error, saying the embedded model data shouldn't have it id's set.

Details of the models and patch below.

Is this a bug or do I have to change something to the configuration to prevent this?

The model json of the parent model
[code]
The mod

[2017-02-06 19:49] crandmck commented on #268
@superkhau I'm not sure if this is just a doc issue or if there's an underlying s/w problem.

There's an existing doc issue on "embedsMany" https://github.com/strongloop/loopback-datasource-juggler/issues/1174.

[2017-02-07 00:19] #215 closed

[2017-02-07 08:54] superkhau commented on #268
@crandmck I'm not sure off the top of my head, will have to try it out to verify the current behaviour. That said, @kjdelisle I'll leave this to you to triage.

[2017-02-07 16:33] dhmlau opened #271 "Connecting model to data source page: db2 and db2z link points to the same URL"
## URL of the page

http://loopback.io/doc/en/lb3/Connecting-models-to-data-sources.html

## Nature of the issue

Wrong URL for "loopback-connector-db2" link.

## Expected behavior

loopback-connector-db2 link in the table should point to https://www.npmjs.com/package/loopback-connector-db2

## Actual behavior

loopback-connector-db2 link in the table points to https://www.npmjs.com/package/loopba

[2017-02-09 23:49] crandmck commented on #271
This was fixed by #272

[2017-02-09 23:49] #271 closed

[2017-02-09 23:58] smartmouse commented on #159
Not a high priority .

[2017-02-15 16:00] ssh24 commented on #159
Closing this. Follow the issue here: https://github.com/strongloop-internal/scrum-apex/issues/51

[2017-02-15 16:00] #159 closed

[2017-02-15 22:36] crandmck opened #281 "Add API Connect v. 5.0.7 support for LB3"
APIC v 5.0.7 will support LB 3.0.  Need to add that back into the docs.

First, search for `<div id="lb3apic"..> ... </div>` and remove the div.  This will make those sections visible.

Then, look through the rest of the docs to ensure that APIC is covered as well as `lb` where appropriate.

[2017-02-17 09:53] fpanaget opened #284 "Clarify which Database supports the LoopBack auto upgrade-migrate feature"
The page `Creating  a database schema from models`
**https://loopback.io/doc/en/lb3/Creating-a-database-schema-from-models.html#auto-update**
lists only 4 data sources for the  auto-migration support.

Please update this this to list ALL the data sources currently available that support this feature.
There is nothing mentioned about the auto-update.  Should one assumes that if the auto-migration i

[2017-02-17 19:05] crandmck commented on #284
Thanks @fpanaget, good suggestion...

I believe that is the case, but if so we should say that explicitly.

@smartmouse Do we have a complete list of connectors that support auto-migrate/update?
And is it true that if it supports auto-migration then it also supports auto-update?

[2017-02-17 22:17] crandmck opened #286 "Fix Google Custom Search"
Google made some changes to the custom search service that seems to have messed up the display of the search field on loopback.io/doc.

Need to investigate and correct ASAP.

Meantime, I have removed the search box altogether.

[2017-02-18 03:57] smartmouse commented on #284
I do not, @0candy  do you know who work on the features and if we can obtain the information as requested?

[2017-02-18 16:44] 0candy commented on #284
This is the list where I would start with. It list the connectors and whether it supports migration.
https://github.com/strongloop/loopback-workspace/blob/master/available-connectors.json

However, the ones that have false may not mean they don't work. Like in the case above with dashdb, could just be that we haven't thoroughly tested it so we don't list it as supported yet.

It would make sense t

[2017-02-20 20:18] crandmck commented on #284
OK, I think we should have a "supported" list that comes from https://github.com/strongloop/loopback-workspace/blob/master/available-connectors.json.

We can also have a list of "should work, but not tested/supported--use at your own risk" - Who can provide me with this list?

From `available-connectors.json` for ` "migration": true`, I get the following:
- MongoDB
- MySQL
- PostgreSQL
- Oracle
-

[2017-02-20 21:57] #286 closed

[2017-02-21 00:08] smartmouse commented on #284
@0candy @raymondfeng ^^  : I like @crandmck 's suggestion.
"We haven't thoroughly tested them" => but need more information so that we can come up with what @crandmck  needs and then improve upon them as we fully tested all of them.

For -auto-migrate and auto-update features, which cases are these for each of the connectors?

1. We have testcases in CI but need to improve on coverages.
2. We do n

[2017-02-21 19:40] smartmouse commented on #284
From the information that I obtained with @jannyHou 's help

All  non-sql datasources -  5. The features will not be implemented and are not supported.
mongodb etc..

db2 connector - 3. The features should be supported but not currently working with apic.

db2 for zOS -- 5. The features are not supported at this point.

mysql/mssql/oracle/postgresql support both features.

[2017-02-21 23:37] crandmck commented on #284
mongodb etc..

That doesn't square with https://github.com/strongloop/loopback-workspace/blob/master/available-connectors.json#L242 which indicates that MongoDB connector should support it, right?

We [currently document](https://loopback.io/doc/en/lb3/Creating-a-database-schema-from-models.html#auto-migrate) that Mongo supports it, so please let me know if I should change that.

Does that mean it

[2017-02-22 00:02] jannyHou commented on #284
Sorry I didn't find the `migration.js` in noSql connectors and didn't realize that they are implemented in the main file.

We support [`autoupdate`](https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L1227) and [`automigrate`](https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L1337) in mongodb.
Mongodb will do an auto-migration whe

[2017-02-22 14:11] smartmouse commented on #284
you are right, cloudant has automigrate  and discovery.js too
https://github.com/strongloop/loopback-connector-cloudant/blob/master/lib/cloudant.js#L813

[2017-02-22 19:54] crandmck commented on #284
OK, so the upshot so far is:

- Cloudant supports automigrate (and discovery):
  - Should I add this to docs?
  - Has it been tested?
  - Why isn't this reflected in [available-connectors.json](https://github.com/strongloop/loopback-workspace/blob/master/available-connectors.json#L139) ?
- DB2 automigrate is "... supported but not currently working with apic"
  - Should I change LB docs to say the

[2017-02-22 20:20] smartmouse commented on #284
<img width="552" alt="screen shot 2017-02-22 at 9 27 59 am" src="https://cloud.githubusercontent.com/assets/4519627/23230552/767da4e6-f912-11e6-9953-9435c0c28d4d.png">
@jannyHou  Even mongodb does not make sense to me. You mention the two features depend on each other and need to work together, mongodb has true/false in the available-connectors.json

[2017-02-22 20:27] smartmouse commented on #284
@crandmck : for DB2, @jannyHou can probably explain better than me, the issue with apic side of things are  the Toolkit does not return the output from the connector properly, that is why it does not work with apic.  There is an issue opened for that already.  So I would say if the db2 connector supports the two features and works fine, we can document it as supported.
For cloudant,  will defer to

[2017-02-22 23:46] crandmck commented on #284
IMO, not urgent, since the doc as been "as is" for some time now.  But of course, I always want to make the doc as accurate as possible. :-)  Waiting for the LB3 testing in next sprint is probably fine.

[2017-02-23 13:42] fpanaget commented on #284
That seems reasonable.

[2017-02-23 17:26] crandmck commented on #284
@smartmouse Just one other thing re your comment:

I think @0candy's comment was that auto-update and auto-migration are closely related/linked; not that auto-update/migrate are linked to discovery.  The docs for [implementing auto-migrate/update](https://loopback.io/doc/en/lb3/Implementing-auto-migration.html) and [implementing discovery](https://loopback.io/doc/en/lb3/Implementing-model-discover

[2017-02-24 00:36] anodynos commented on #89
Any chance you can generarte Loopback 3.0 docs as .pdf, as we have version 2?https://docs.strongloop.com/display/ALLDOCS/PDF+version

[2017-02-24 16:39] crandmck commented on #89
Hi @anodynos I'll reopen this.  You are the first to ask for this...  If we can get a few +1's then we could justify spending some time on this.  Otherwise, it may be down to you.

In theory it shouldn't be hard, but we haven't gotten it working since the doc move to GitHub/Jekyll. If you're interested in pursuing it yourself, here are the general instructions: http://idratherbewriting.com/documen

[2017-02-27 14:32] mathewvino opened #295 "HasMany through relationship is not working when we explicitely add the id attribute"
Hi there,

Here are the three tables mapping;

Notice: If we remove the id attribute from student/course table the join relationship will work:

I am looking for the following : Give me all the courses for student:

Will work the below url if we remove the id attributes from both tables (Student/course).
http://localhost:3000/api/Students/58b43668f905fd5f7cbfc50e/courses

Will not work the below u

[2017-02-27 16:16] jannyHou commented on #284
@smartmouse This is the supported functions in mongodb and cloudant:

|                             | automigrate | autoupdate | discoverModelDefinitions | discoverSchemas |
|-----------------------------|-------------|------------|--------------------------|-----------------|
| loopback-connector-mongodb  | Y           | Y          | N                        | N               |
| loopback-connect

[2017-02-27 18:35] crandmck commented on #284
OK, I see.

As an aside, I don't think MongoDB would ever support discovery since it's not an RDB.  Instead it supports creating models by "instance introspection" instead of discovery. See http://loopback.io/doc/en/lb3/Creating-models-from-unstructured-data.html.

[2017-02-27 18:37] crandmck commented on #295
I don't think this is a documentation issue, so I'm going to move it to the loopback repo.

[2017-02-27 18:37] crandmck commented on #295
Issue moved to [strongloop/loopback #3237](https://github.com/strongloop/loopback/issues/3237) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-27 18:37] #295 closed

[2017-02-28 06:16] NaqeebSial commented on #295
You can't use "idInjection": true along with custom id property because "idInjection"  would create a same fieldname in your database so either you can use your on id in model property or "idInjection": true, in this case I would suggest you to remove id property from your model then it will work.

[2017-03-02 21:13] crandmck opened #302 "Update use of disableMethodByName"
[Authentication, authorization, and permissions](http://loopback.io/doc/en/lb3/Authentication-authorization-and-permissions.html#hiding-methods-and-rest-endpoints) still refers to `disableRemoteMethod` but in 3.0 this changes to `disableMethodByName` per http://loopback.io/doc/en/lb3/3.0-Release-Notes.html#clean-up-of-api-for-finding-and-disabling-remote-methods

Cf https://github.com/strongloop/l

[2017-03-03 23:42] #145 closed

[2017-03-06 17:14] crandmck opened #307 "Document Bluemix generator CLI"
Need to doc new command/options to generate artifacts for LB app deployment to Bluemix.

IIUC, the cmd/option will be avail with both `lb` and `apic` in 5070.

[2017-03-07 00:48] crandmck opened #309 "Document SOAP discovery CLI"
CLIs will get a new command for discovering models from a SOAP WSDL.  This will work similar to the Swagger generator.  Talk to Rashmi.

[2017-03-08 23:50] crandmck opened #315 "Make separate article for access control using multiple user models"
http://loopback.io/doc/en/lb3/Authentication-authorization-and-permissions.html#preparing-access-control-models

Pull into a separate article.

n.b. https://github.com/strongloop/loopback/pull/3231#discussion_r104117107

NOTE from bajtos:

[2017-03-09 08:03] bajtos commented on #200
@crandmck I think we can call this as done - see #297 and #304. Feel free to reopen if you disagree.

[2017-03-09 08:03] #200 closed

[2017-03-14 20:47] ebarault opened #321 "Enhance email verification doc"
## URL of the page
https://loopback.io/doc/en/lb2/Registering-users.html#verifying-email-addresses
https://loopback.io/doc/en/lb3/Registering-users.html#verifying-email-addresses

## Nature of the issue
In order to keep track of a discussion with @jsheely and @emazzu on gitter: the doc should be enhanced regarding the usage of the user.verify() method.

People who are not aware of this quite recen

[2017-03-15 09:03] AhsanAyaz commented on #268
+1.
I just tried to add a second embedsMany relation and it is breaking the same way.
I.e.

`{
  "error": {
    "statusCode": 422,
    "name": "ValidationError",
    "message": "The `Lexicon` instance is not valid. Details: `_keywords` contains invalid item: `58c900f3e1a7e26023eab0e3` (`id` can't be set) (value: [ ......`

[2017-03-15 16:09] crandmck commented on #268
@bajtos Can you say if this is a doc issue or if there's a bug?

[2017-03-15 16:28] crandmck commented on #321
Thanks @ebarault can you please provide some references for this new feature?  Or some other info that we can use to write the doc?  An example is always a good start :-)

[2017-03-15 21:04] crandmck opened #324 "Investigate site search options"
We're currently using the free, ad-supported version of Google Site Search (Google Custom Search).  Ideally, we would eliminate the ads since they are distracting, but unfortunately [Google Site Search is being discontinued](https://enterprise.google.com/search/products/gss.html).

Although there are Jekyll Plugins for search, GitHub pages only allows a small set of plugins (not including any sear

[2017-03-17 01:29] ebarault commented on #321
Actually i helped a couple of developers in gitter by going through the code in user.js... 😕
here are some excerpts:

**Missing in the doc** (raw wording)
user.verify() method generates a token that is directly attached to the user instance itself. Using such a token is required rather than creating some custom logic relying on a AccessToken instance belonging to the user, as using the latter repr

[2017-03-17 17:34] crandmck opened #327 "Document new lb CLI commands"
Need to document 3 upcoming new features in `lb-cli`:
- swagger code gen
- soap code gen - #309
- bluemix artifact generation - see #307 and  [Bluemix native tooling](https://github.com/strongloop/loopback.io/wiki/LoopBack-Bluemix-native-tooling)

[2017-03-17 17:36] crandmck commented on #321
OK, thanks for the info.  I'll work on adding this asap.  Unfortunately, I'm overbooked with other work atm...  If you want to tackle docs, that would be great.  Otherwise, I'll get to it as time permits.

Thanks again.

[2017-03-20 15:21] bajtos commented on #268
IIUC, this problem is cause by `forceId` model setting which changed the default value from `false` to `true` in LoopBack 3.0.

Now the question is, what is the correct setup of the `id` property for embedded relations? Should embedded items have any id at all?

If they do, then we should keep `forceId:true`, in order to prevent DoS attacks where e.g. the client can submit the maximum integer valu

[2017-03-20 15:54] bajtos commented on #321
That would be great!

[2017-03-20 16:06] crandmck commented on #268
OK, since this is not a doc issue, but rather a bug, I'm going to move this from `loopback.io` repo to `loopback`.

[2017-03-20 16:07] #268 closed

[2017-03-20 16:07] crandmck commented on #268
Issue moved to [strongloop/loopback #3295](https://github.com/strongloop/loopback/issues/3295) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-20 21:11] superkhau commented on #309
- [x] Tech writer needs to clean up the informal provided docs
- [x] Need example too in the docs (might need to sync up with @rashmihunt)

[2017-03-20 21:16] crandmck commented on #307
- Notes https://github.com/strongloop/loopback.io/wiki/LoopBack-Bluemix-native-tooling
- [x] Tech writer needs to clean up the informal provided docs (sync up with Yaapa)
- [x] Try out commands
  - [x] 3 Existing commands
  - [x] 1 Existing top level command
- [ ] Add examples for each command

[2017-03-21 16:29] superkhau commented on #307
Timeboxed to 2.

[2017-03-21 22:17] crandmck opened #331 "Clarify how to define datasources programmatically"
From @timlind comment in https://github.com/strongloop/loopback.io/pull/317#issuecomment-285854277:

Clarify in http://loopback.io/doc/en/lb3/Advanced-topics-data-sources.html

[2017-03-21 22:24] ebarault commented on #331
Thanks @crandmck for keeping track of this.

I've been thinking about this recently: in the tests we often define datasources programmatically, but when doing this, we then define everything else by code (e.g. attaching models to ds), we don't mix datasources defined by code and config file (json or js).

Maybe this should be the correct way to address this doc improvement (before opening another

[2017-03-21 23:26] crandmck opened #332 "Clean up datasource configuration docs"
From comment by @ebarault in #319:

.. the accessibility of this information could be improved.
As shown below there are two sections discussing the subject: "Attaching models to datasources" and "Understanding datasources", in addition "Understanding datasources" is nested in a section named "Connecting models to datasources", which is much too close to "Attaching models to datasources".

* Defin

[2017-03-22 08:20] bajtos commented on #331
To be honest, I don't really understand what is the motivation for creating datasources via JS API. loopback-boot provides many ways how to dynamically define datasource configuration, from environment variables in JSON file to the ability to provide a javascript file to build the datasource configuration, e.g. `datasources.production.js`.

---

IMO, the page http://loopback.io/doc/en/lb3/Advanced

[2017-03-22 08:31] ebarault commented on #331
@bajtos : many thanks for such a detailed answer.
(Now i'm feel guilty for your invested time)

To me the doc in http://loopback.io/doc/en/lb3/Advanced-topics-data-sources.html can only mislead LoopBack users and make them feel extra configuration is required. As you said there are many options offered that make this unnecessary.

Shouldn't this just be removed from Loopback.io and kept only in th

[2017-03-22 09:18] bajtos commented on #331
Don't feel guilty at all! I think this matter was never described comprehensively, I took this discussion as the opportunity to correct that.

[2017-03-22 17:55] crandmck opened #333 "Correct/verify data source config containing object or array values"
In a [recent PR](https://github.com/strongloop/loopback.io/pull/319#discussion_r107362193) re this statement:

@bajtos commented:

This is mentioned in:
- https://loopback.io/doc/en/lb3/Attaching-models-to-data-sources.html#using-multiple-data-source-configurations
- https://loopback.io/doc/en/lb2/Environment-specific-configuration.html#data-source-configuration

Assuming this is true, then we sho

[2017-03-22 18:11] crandmck commented on #331
I would note that @raymondfeng wrote the original content of this article (IIRC) several years ago.  It may or may not be that relevant any more.

This is the crux of the issue.  Are there any valid use-cases for doing this?

If so, we should enumerate them and note that they are (I presume) advanced or specialized cases.

If not, then we should consider:

Instead of removing it altogether, we cou

[2017-03-23 15:53] bajtos commented on #331
@raymondfeng @ritch could you please chime in and let us know your opinion?

[2017-03-23 16:29] crandmck commented on #327
#334 is initial PR for number 3 above.

[2017-03-23 16:33] crandmck commented on #307
#334 is relevant PR.  Need to add more later.

I was unable to test `lb datasource --bluemix` because the `lb datasource` command because it wouldn't run.

After installing via `npm install -g strongloop/loopback-cli#command/bluemix-beta`

[code]

[2017-03-23 18:05] crandmck opened #336 "Document how to use a global before-remote hook instead of middleware"
Per https://github.com/strongloop/loopback/issues/3286

---

You can use a global remoting hook that's triggered for any method on any model. I think the code will look like this:

[code]

(IIRC, the handler method can return a promise instead of using `next` callback too.)

See also https://loopback.io/doc/en/lb3/Remote-methods.html#formattingremote-method-responses

I think it would be great to

[2017-03-24 00:32] ebarault opened #337 "incorrect use of 'as' in polymorphic relations doc"
(cc: @crandmck, to keep track)

## URL of the page
https://loopback.io/doc/en/lb2/Polymorphic-relations.html#hasmany-polymorphic-relations

## Nature of the issue

the docs states:
[code]

while this is actually what works for me:
[code]
(also i don't know what to think about this "default to: reference", this is not clear enough)

also this is false, we don't use the "as" keyword when using JSON

[2017-03-30 08:23] ebarault opened #339 "modify examples for model hidden/protected properties"
## URL of the page

http://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#hidden-properties

## Nature of the issue

examples show the hidden/protected properties nested inside the properties object, but according to the code datasource-juggler/model.js hidden/protected should be defined as top level properties

[2017-04-03 18:14] #339 closed

[2017-04-03 22:37] #281 closed

[2017-04-03 23:31] crandmck commented on #281
Fixed by #341

[2017-04-04 17:34] karanssj4 commented on #336
hi @crandmck, i think this can be achieved via mixins too.

[code]

and then attaching this in the required models as follows:

[code]

[2017-04-05 09:57] ebarault opened #344 "broken link in Remote-methods.html#argument-descriptions"
## URL of the page
https://loopback.io/doc/en/lb3/Remote-methods.html#argument-descriptions

## Nature of the issue
![image](https://cloud.githubusercontent.com/assets/12000935/24700274/ea0ff012-19f6-11e7-8d7a-00bf0a54d9f4.png)
this link is broken

it should lead to https://loopback.io/doc/en/lb3/Remote-methods.html#http-mapping-of-input-arguments

[2017-04-05 19:53] #344 closed

[2017-04-05 19:54] crandmck commented on #344
Thanks for catching, @ebarault

[2017-04-06 04:40] bdharrington7 opened #347 "Need better examples of how to discover models from Relational DBs"
## URL of the page

http://loopback.io/doc/en/lb3/Discovering-models-from-relational-databases.html

## Nature of the issue
I'm not sure what the "other repos" being referred to are, but if this is the wrong spot I'd be happy to move this.

I've been interested in how this works and despite the really simple database I was using that had a single table and two columns, I was a little confused abou

[2017-04-06 17:51] bdharrington7 commented on #347
I'm finding that the name coming from `models.<Model>.definition.name` is coming in as Title case, and loopback doesn't like that. I originally created the model from scratch (using the CLI, which in turn created the world.**js** file (is there a way to create this programmatically as well?)), so would that have something to do with it?

[2017-04-06 22:02] crandmck commented on #347
I haven't looked at this in a while, but I believe it's referring to the output of `script.js`. That could certainly be clarified.

Yes, no one ever provided this example code. That would be a nice addition, if you want to provide the example code here, or just open a PR.

Also, I think we should add links to the discovery example code in https://github.com/strongloop/loopback-example-database/. T

[2017-04-08 18:10] bdharrington7 commented on #347
I didn't see that loopback-discovery project before, and the other options you mentioned, but I will check them out

[2017-04-11 17:23] crandmck opened #352 "Add docs for defining remote methods in JSON"
From #338:

Update https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#methods with reference info on JSON to define remote methods.

This reference info should largely duplicate what's in https://loopback.io/doc/en/lb3/Remote-methods.html#options. So instead of duplicating these tables, we can move them into the `_includes/content` and single-source them so we only have to maintain the

[2017-04-11 18:07] crandmck commented on #309
Developer doc is https://github.com/strongloop/loopback-cli/blob/master/soap/README_Soap.md

[2017-04-11 21:25] crandmck commented on #327
This task is covered by the issues noted above.  Closing this as dup.

[2017-04-11 21:25] #327 closed

[2017-04-12 18:49] crandmck commented on #324
Using Google Site Search for now.

[2017-04-12 18:49] #324 closed

[2017-04-12 18:50] crandmck opened #357 "Add docs for new lb oracle command"
Connect to https://github.com/strongloop/generator-loopback/pull/274

[2017-04-12 21:44] crandmck commented on #309
Added by https://github.com/strongloop/loopback.io/pull/353

[2017-04-18 18:03] #309 closed

[2017-04-18 18:20] crandmck commented on #352
This can be closed, since I landed the changes.

[2017-04-18 18:20] #352 closed

[2017-04-20 20:39] crandmck opened #360 "Improve docs of Bluemix CLI commands/options"
Doc for the new `lb bluemix` command and `--bluemix` option are minimal.

It would be nice to add some information on some of the artifacts, even just reference links for:
-  `manifest.yml` file
- `Dockerfile` and `.dockerignore` files
- `.bluemix` dir and toolchain files

Eventually, I'd like to add an example or perhaps a new chapter in "Getting Started" that walks through deploying to Bluemix.

[2017-04-22 17:42] aseem2625 opened #363 "Link broken"
Following link is broken.
https://loopback.io/doc/en/lb3/Model-hooks.html

The above link's anchor is given in https://loopback.io/doc/en/lb3/LoopBack-core-concepts.html#models

<img src="https://cloud.githubusercontent.com/assets/6055628/25306745/25ffc47c-27b1-11e7-92e4-a71b6fa70198.png"  width=300 />

[2017-04-24 16:24] crandmck commented on #307
This is done.

[2017-04-24 16:25] #307 closed

[2017-04-27 20:24] hennzen commented on #347
Hate to do a simple +1 on this one, but since I experienced exactly the same like @bdharrington7 and spent time on digging on how to write my rather large MySQL schema into JSON models,  I feel tempted.

[2017-04-28 18:49] #357 closed

[2017-05-09 18:01] crandmck opened #379 "Update OAuth 2 component docs"
From https://github.com/strongloop/loopback-component-oauth2/issues/19:

Also, [oauth2-loopback.js](https://github.com/strongloop/loopback-component-oauth2/blob/master/lib/oauth2-loopback.js), appears to have more options than are documented in http://loopback.io/doc/en/lb3/OAuth-2.0.html#authorization-server-options:

- generateToken
- client.tokenType ('jwt' or 'mac') // HS256 for mac token
- cl

[2017-05-09 18:15] crandmck commented on #363
Fixed by #364

[2017-05-09 18:15] #363 closed

[2017-05-12 21:57] crandmck opened #380 "Document excludeBaseProperties model property"
Per https://github.com/strongloop/loopback-datasource-juggler/pull/1371 and https://github.com/strongloop/loopback-workspace/issues/486, a new excludeBaseProperties model  property has been added, and we need to document it.

At a minimum, add the property to http://loopback.io/doc/en/lb3/Model-definition-JSON-file.html.
But look into where else it should be mentioned.

[2017-05-17 15:26] GHNewbiee opened #382 "Mistakes in documentation"
1) http://loopback.io/doc/en/lb3/LoopBack-FAQ.html

"StrongLoop also publishes a blog with topics relevant to LoopBack. See Blog posts for a list of the latest posts."

https://strongloop.com/strongblog/category/loopback-2/ **page does not exist**.

2) http://loopback.io/doc/en/lb3/Create-a-simple-API.html

"Now that you’ve scaffolded the initial project, you’re going to create create a CoffeeShop

[2017-05-17 16:13] GHNewbiee commented on #382
5. http://loopback.io/doc/en/lb3/Next-steps.html

"LoopBack documentation includes lots of tutorials and examples; also read the StrongLoop blog for great tips and information."

Substitute the following link **strongloop.com/strongblog/** with this one **strongloop.com/strongblog** w/o "/" in the end.

[2017-05-17 19:44] crandmck commented on #382
Thanks @GHNewbiee for catching these issues.  I'll fix them.  We just relaunched a new strongloop.com site yesterday, so that's the source of the issues with those links.  IAC, I'll fix the broken links.

Strictly speaking, you're correct. I will clarify this.  What it should say is that an app can use only one User-based model for login and auth; although you _can_ have multiple User-based models

[2017-05-17 20:05] crandmck commented on #382
Fixed by 66fcb5395b2925ddcb9490b97993b82b2d72f9ab.

[2017-05-17 20:05] #382 closed

[2017-05-18 07:39] GHNewbiee commented on #382
"... an app can use only one User-based model for login and auth; although you can have multiple User-based models, only one is use for generating auth tokens and the like."

**That's very disappointing!!!**

Imho, customers and employees exist in **different** schemes and should **login** and **be authenticated** through **different** channels for **security** reasons!

Please, ask coordinating t

[2017-05-18 17:04] crandmck commented on #382
@GHNewbiee Would using [realms](http://loopback.io/doc/en/lb3/Partitioning-users-with-realms.html) help at all to address your concerns?

@raymondfeng ^

[2017-05-19 09:21] GHNewbiee commented on #382
Imho,

_realms_ should be a step **ahead** of what it is supposed to be used for now.

_customer_, _employee/administrator_ (at least) and _supplier_ are two or three entities with different properties. _realms_ could be used for further partitioning of each entity.

"By default, the LoopBack User model manages all users in a global namespace." This is the **weakness.**.
There should be an option

[2017-05-19 10:26] GHNewbiee commented on #382
6. http://loopback.io/doc/en/lb3/datasources.json.html

"To connect a model to a data source, follow these steps to create a datasource."

The link https://loopback.io/doc/en/lb2/datasources.json.html#properties-for-database-connectors reffers to lb2 documentation.

7. http://loopback.io/doc/en/lb3/datasources.json.html

"  connector 	LoopBack connector to use:
    ...
    loopback-storage-service

[2017-05-19 14:34] GHNewbiee commented on #382
8. http://loopback.io/doc/en/lb3/Updating-to-the-latest-version.html

There is not any reference on the left ToC. You can only visit this page through a link on another page.

[2017-05-19 14:43] GHNewbiee commented on #382
9. http://loopback.io/doc/en/lb3/Installing-compiler-tools.html

There is not any reference on the left ToC. You can only visit this page through a link on another page.

[2017-05-20 18:47] GHNewbiee commented on #382
10. http://loopback.io/doc/en/lb3/User-management-example.html

"common/models contains the extended user files. user.js **contains user the logic ** for sending emails and password reset, while user.json contains the model definition."

Syntax error.

[2017-05-23 09:39] honestserpent opened #384 "Cannot automigrate models with change tracking enabled"
## URL of the page

[https://loopback.io/doc/en/lb3/Synchronization.html#enable-change-tracking](https://loopback.io/doc/en/lb3/Synchronization.html#enable-change-tracking)

## Nature of the issue

I want to be able to perform bulk updates and I have found out in the documentation that I need to enable change tracking.
In order to do so the documentations says I have to update the models I want to

[2017-05-23 18:28] crandmck commented on #382
Re: input on realms:
Suggest you open an issue in [loopback](https://github.com/strongloop/loopback) to start a discussion.  Since this repo is just for docs, your comment is unlikely to be noticed here.

Re: comments on http://loopback.io/doc/en/lb3/datasources.json.html and http://loopback.io/doc/en/lb3/User-management-example.html.
Yes, those are mistakes. I will correct, and thank you for find

[2017-05-25 20:35] rashmihunt commented on #380
Fixed using issue https://github.com/strongloop-internal/scrum-asteroid/issues/191
My PR for this work - https://github.com/strongloop/loopback.io/pull/386

[2017-05-25 21:50] #380 closed

[2017-05-26 19:06] dhmlau commented on #333
@crandmck, I cannot find a definite answer by quickly looking at the code.  If @bajtos or @raymondfeng can confirm, that would be great.  Otherwise,  we might need to try it out to confirm.

Putting `apex` in the label so that we won't forget.

[2017-05-26 20:29] crandmck commented on #333
OK thanks @dhmlau I went ahead and opened a PR with the doc change.  If it's not accurate, then we can just close the PR, or modify as needed.

[2017-05-28 02:11] atherdon opened #389 "Add docs for loopback-connector-mailgun"
## URL of the page
https://loopback.io/doc/en/lb3/Email-connector.html

## Nature of the issue

I came to this page and I think it can be improved by adding information about how to use MailGun connector.
For me personally, its more easy to setup a MailGun for my test purposes, rather than to use my Gmail address. It's also better, because I don't need to enable on my gmail option to send "outer"

[2017-05-29 08:32] bajtos commented on #333
I have approved the patch, thank you @crandmck for taking care of this!

See [lib/config-loader.js](
https://github.com/strongloop/loopback-boot/blob/7f14a24ed289d3385652ecd4d4f59a633788901f/lib/config-loader.js#L254-L313) in the 2.x branch for the code that's implementing the merge strategy.

[2017-05-29 13:43] dhmlau commented on #333
I guess it looks like the apex team doesn't need to do anything here?  Good to remove the `apex` label? Thanks.

[2017-05-30 18:59] crandmck commented on #333
Thanks @bajtos PR landed.

[2017-05-30 18:59] #333 closed

[2017-05-30 19:42] crandmck commented on #389
Thanks @atherdon, a PR would be great.

The [Email connector](https://loopback.io/doc/en/lb3/Email-connector.html) page is meant to explain the built-in email connector.   Rather than documenting how to use loopback-connector-mailgun there, I suggest the following:

- Add it to the table in http://loopback.io/doc/en/lb3/Community-connectors.html
- Add it to [Community Projects](http://loopback.io/

[2017-06-01 10:48] mamartins opened #390 "operation hooks info not true"
## URL of the page

https://loopback.io/doc/en/lb2/Embedded-models-and-relations.html

## Nature of the issue

The note about the operation hooks at least for the EmbedsMany relation is wrong. The hook 'before save' is not called for the embedded model when a parent one is created.

## Expected behavior

expected that a before save was called in the embedded model when a parent is created

## Actu

[2017-06-02 16:54] crandmck commented on #390
@strongloop/sq-lb-asteroid

Can someone pls determine whether:

- This is a doc issue, and embedsMany does not support op hooks on the embedded model.  If so, I'll updat docs accordingly.
- This is a bug and the op hook is not being called but should be.  If so, we should move this to another repo since it's not a doc issue.  We can add a link in doc to the issue until its resolved.
- It actually

[2017-06-02 17:58] crandmck commented on #390
@ssh24 Here is my fork with the test case: https://github.com/crandmck/loopback-example-relations

I added `before save` hook in two places, and both seem to be called when the models are created:
- Boot script [z-customer-emails.js](https://github.com/crandmck/loopback-example-relations/blob/master/server/boot/z-customer-emails.js)
- Model JS file [email-address.js](https://github.com/crandmck/lo

[2017-06-02 18:06] ssh24 commented on #390
Hi @mamartins. Could you please provide a breakdown of the steps you took to reproduce the issue you are facing? It will be helpful for us trying to reproduce and also see what you are doing (right/wrong).

[2017-06-06 19:45] f-w opened #394 "Contradictory docs on User model"
## URL of the page

https://loopback.io/doc/en/lb3/Managing-users.html

## Nature of the issue

This page stated

But everywhere else in the docs, User model is used directly. For example, see https://loopback.io/doc/en/lb3/Introduction-to-User-model-authentication.html.

Also, if I use *lb* cli to scaffold an app, the User model is created by default.

## Suggested resolution

Clearify!

[2017-06-06 20:52] crandmck commented on #394
@superkhau This is a good point.  I think all the example repos (and thus related docs) just use the User model, which is not best practice.

Yes, all the built-in models are created by default.  That's expected and I believe the docs reflect this.

[2017-06-07 00:56] superkhau commented on #394
@crandmck It is recommended to extend the builtin User model for customization. If you're OK with email and password as the only fields, then you are free to use the builtin Model.

[2017-06-07 16:34] crandmck commented on #394
Right, OK. I think the way it's stated now is too broad--we need to be more specific about why we recommend extending User, rather than using it directly.

@f-w Would clarifying above address your confusion?

[2017-06-07 16:38] f-w commented on #394
Yes. I think toning down the quoted statement is needed.

[2017-06-07 16:40] crandmck commented on #394
OK, I'll make that change, thx.

[2017-06-07 20:28] crandmck commented on #390
@mamartins If we can't get a test case to reproduce your problem, then we'll close this issue.

[2017-06-07 20:32] crandmck commented on #384
Not clear that this is a doc issue.  Sounds more like an issue with sync?
@strongloop/sq-lb-asteroid

[2017-06-08 12:49] officer-rosmarino commented on #347
This is the script I did to discover single tables. Maybe it can be useful to someone.

I'll attach the files here.

[discover-schema.txt](https://github.com/strongloop/loopback.io/files/1061007/discover-schema.txt)
Rename it to `.js`. I have this file in `/server/bin` and run it through `node discover-schema.js`.

The script requires a datasource name as specified in your `datasources.json` and a

[2017-06-08 18:21] #332 closed

[2017-06-09 08:48] bajtos commented on #384
Yes, this looks like a bug in loopback-datasource-juggler and/or loopback-connector-postgresql to me. @kjdelisle  @strongloop/sq-lb-apex could you PTAL?

[2017-06-09 15:37] #384 closed

[2017-06-09 15:37] cgole commented on #384
Issue moved to [strongloop/loopback-datasource-juggler #1403](https://github.com/strongloop/loopback-datasource-juggler/issues/1403) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-09 22:13] crandmck opened #397 "Docs for embedOne/embedsMany polymorphic relation"
Left over from #383.  Related: #381.

[2017-06-13 23:40] crandmck commented on #394
OK, I clarified the wording as above in several pages that had this note, e.g. http://loopback.io/doc/en/lb3/Using-built-in-models.html.

I'll assume that this addresses this issue; closing.

[2017-06-13 23:40] #394 closed

[2017-06-13 23:41] #390 closed

[2017-06-21 19:52] crandmck commented on #302
@bschrammibm
To disable a static remote method use [`ModelName.disableRemoteMethodByName('methodname')`](http://apidocs.strongloop.com/loopback/#model-disableremotemethodbyname) where `ModelName` is the name of the model and `methodname` is the name of the method.

To disable an instance (prototype) remote method, use: `ModelName.disableRemoteMethodByName('prototype.methodname')`

[2017-06-24 00:51] bschrammIBM commented on #302
@bajtos The old command `disableRemoteMethod` is still in the loopback api reference at the following location: [https://apidocs.strongloop.com/loopback/#model-disableremotemethod](https://apidocs.strongloop.com/loopback/#model-disableremotemethod)
Just wanted to confirm it was supposed to remain in the API reference.

[2017-06-26 13:07] bajtos commented on #302
Just wanted to confirm it was supposed to remain in the API reference.

So far, `disableRemoteMethod` has been only deprecated, it wasn't removed yet. It would be great if API docs could show the method as deprecated. Alternatively, I am fine with removing the method from API docs (but still keeping it in the public API!).

[2017-06-26 15:47] bschrammIBM commented on #302
@crandmck Is there a way to mark a method as "Deprecated" in the API docs?

[2017-06-26 16:20] crandmck commented on #302
Yes, put "deprecated" in the doc comment in the code ;-)  I'll take care of that.

[2017-06-26 19:07] bschrammIBM commented on #302
Closing this issue. The update is now posted on loopback.io/docs.

[2017-06-26 19:07] #302 closed

[2017-06-26 19:50] aharbis opened #407 "Bad link in Defining-models.html to localhost"
## URL of the page

https://loopback.io/doc/en/lb3/Defining-models.html

## Nature of the issue

Bad link on this line to `localhost`:

`relationships among models` --> `http://localhost:4001/doc/en/lb3/Creating-model-relations.html`

## Expected behavior

`relationships among models` should link to: `Creating-model-relations.html`

## Actual behavior

`relationships among models` links to: http:/

[2017-06-26 21:07] crandmck commented on #407
@aharbis Thanks for catching...
Fixed with 6cd90ec

[2017-06-26 21:07] #407 closed

[2017-07-05 02:33] atherdon commented on #389
I'm starting to doing this. Will submit PR soon

[2017-07-06 06:25] atherdon opened #414 "Small update relations tutorial"
## URL of the page

http://loopback.io/doc/en/lb3/Tutorial-model-relations.html#create-model-relations

## Nature of the issue

**slc** replace with **lb**

![tutorial model relations loopback documentation](https://user-images.githubusercontent.com/1469198/27898125-3c4548b2-61d9-11e7-94ab-ad20b9b7694e.png)

[2017-07-06 18:37] crandmck commented on #414
Thanks for the suggestion, and good catch!

To change this, please open a PR against https://github.com/strongloop/loopback-example-relations/blob/master/README.md.  The docs page is created from that README, as explained in http://loopback.io/doc/en/contrib/Including-READMEs.html.

[2017-07-06 18:44] crandmck commented on #389
Thanks!  I'll be out on vacation for the next two weeks, and I suggest @bschrammIBM review this PR when it's ready...

Also, perhaps @bajtos could take a look at a technical angle.

[2017-07-07 01:18] atherdon commented on #389
Ok, thanks @crandmck ! Have a good vacation!
I was stuck with second item( Add MailGun connector to Community projects), but I hope I'll be able to solve it too, and then I'll submit a PR with commits, related to this issue.

Arthur

[2017-07-09 03:02] atherdon commented on #414
Ok, it's done @crandmck
I created PR: https://github.com/strongloop/loopback-example-relations/pull/50
Will close this issue

[2017-07-09 03:02] #414 closed

[2017-07-19 12:13] #360 closed

[2017-07-19 12:13] hacksparrow commented on #360
https://github.com/strongloop/loopback.io/pull/421 addressed this.

[2017-07-25 23:13] crandmck opened #425 "Affix sidebar so it's always visible"
Currently, the sidebar scrolls away as you scroll down a page, but it should be "fixed" in position so it's always visible, even when you scroll down the page...

![2017-07-25_1604](https://user-images.githubusercontent.com/2925364/28597528-3a0ab65c-7153-11e7-9c6e-d9488d2f885b.png)

The sidebar is in `_layouts/default.html` and the code is:
[code]

The ostensible way to do this would be to just ad

[2017-07-28 12:59] andreas83 opened #427 "Feature Request: lb schema create/update/delete/migrate"
i wonder why the model generator don't create the db schema afterwards, feels pretty obvious...
also I miss some important cli commands like
lb schema create,update,delete,migrate

If this is not the right place to ask features request, please point me to the right location.

thx in advanced.

andreas

[2017-07-28 17:38] crandmck commented on #427
@andreas83 Feature requests should go in https://github.com/strongloop/loopback.
This repo is only for documentation and issues related to docs.

[2017-07-28 17:38] #427 closed

[2017-08-03 18:33] crandmck opened #429 "Site redesign"
This is the epic issue to track work on redesigning the loopback.io website.  In general, the time-frame for the redesign should align with the production/GA release of loopback-next (v4).

- [ ] Mock-ups - "overview" pages (#430), "doc" pages (http://loopback.io/doc/) #432
  - [ ] Mobile view
  - [ ] Desktop view
- [ ] Implementation - "overview" pages (#430), "doc" pages (http://loopback.io/doc/

[2017-08-03 18:42] crandmck opened #430 "New design for overview pages"
These are the top-level "overview" pages:
- [Home page](http://loopback.io/)
- [Getting Started](http://loopback.io/getting-started/)
- [Examples](http://loopback.io/examples)
- [Resources](http://loopback.io/resources)
- [Contributing](http://loopback.io/contributing)

![loopback io 1](https://user-images.githubusercontent.com/2925364/28937761-bf0a2664-7840-11e7-80b6-e141a31987fd.png)

[2017-08-03 18:54] DaveYVR commented on #429
(edited by @crandmck)
I created a new issue specifically for the logo discussion/work: #431.
@DaveYVR I moved this comment into that issue.

[2017-08-03 21:57] crandmck commented on #429
Yeah, perhaps just change from green to blue color scheme, rather than a complete redesign?

[2017-08-04 03:47] hacksparrow commented on #429
Let's keep the logo change consideration towards the end.

@crandmck I have formatted the list a little differently to modularize the tasks.

[2017-08-04 16:45] crandmck opened #431 "LoopBack logo - possible changes for lb-next"
Moved from #429.  Comment from @DaveYVR:

Loopback logos are below. If we do have a budget to change this, it would be great to streamline / update so it maintains a familiar feel rather than starting from scratch.
![loopback-logo-sm](https://user-images.githubusercontent.com/3076411/28938244-542e981e-7842-11e7-8383-bc8d2d13555d.png)
![loopback-logo-sm](https://user-images.githubusercontent.com/30

[2017-08-04 16:48] crandmck opened #432 "Redesign doc pages"
Per epic #429 this is the task to redesign the page layouts under http://loopback.io/doc/.

[2017-08-04 16:49] crandmck commented on #429
OK, thanks @hacksparrow I created a couple new issues to cover the rest of the tasks.  We can further break them down if needed.  I agree logo discussion can come later.

[2017-08-05 18:28] atherdon opened #434 "extend operational hook examples"
## URL of the page
https://loopback.io/doc/en/lb3/Operation-hooks.html#before-delete
This section don't have an examples, that suits to situation when you want to change things in related models (simple version of 'cascade' delete).

## Suggested resolution
I propose to extend this section with example from [link](https://stackoverflow.com/questions/28607543/how-to-access-the-modal-instances-that-

[2017-08-07 18:15] crandmck commented on #434
Yes, please open a pull request.  I think an example of a cascading delete would be great here.

[2017-08-10 08:09] Cyperwu opened #437 "APIdocs"
## URL of the page

[ACL](https://apidocs.strongloop.com/loopback/#acl)

## Nature of the issue

inaccurate documentation content.

in the **Class Properties** form, row 5, ** principalType**

original: ``` Type of the principal; one of: Application, User, Role.```

will misguide developers (such as me)

## Expected behavior

should be: ``` Type of the principal; one of: APPLICATION, USER, ROLE.``

[2017-08-10 19:59] crandmck commented on #437
Thanks @Cyperwu this is the right place to raise the issue.
Just to confirm, the only problem is that these string values should be capitalized; is that right?

[2017-08-11 02:13] Cyperwu commented on #437
@crandmck Yep, totally. spent me a few hours.

[2017-08-11 18:31] crandmck commented on #437
Fixed by https://github.com/strongloop/loopback/pull/3559
@Cyperwu If you're interested in fixing or contributing to API docs in the future, have a look at what I did (trivial PR).

Also, note that the changes won't appear on https://apidocs.strongloop.com/loopback/ until the loopback package is republished to npm.

[2017-08-11 18:31] #437 closed

[2017-08-14 07:57] Cyperwu commented on #437
@crandmck Okay, I'll check it out.

[2017-08-22 20:49] aharbis opened #440 "typo in Customizing models page"
## URL of the page

https://loopback.io/doc/en/lb2/Customizing-models.html

## Nature of the issue

Typo in the following line (79):

## Expected behavior

Line most likely was meant to be:

Note the defined base model's name is `MyBaseModel` not `mMyBaseModel`.

## Actual behavior

## Suggested resolution

Change the line to:
[code]

[2017-08-22 21:53] #440 closed

[2017-08-22 21:55] crandmck commented on #440
Thanks @aharbis
Good catch!

[2017-08-29 11:29] dvelasquez opened #443 "loopback:export-api-def hangs"
## URL of the page

https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb2/API-definition-generator.md

## Nature of the issue

Whenever im generating the definition, the cli hangs and never finish execution.
command: slc loopback:export-api-def --json -o client/models.json

File exported seems good.

## Expected behavior

CLI should close after generating the export.

## Actual beha

[2017-08-29 15:44] aharbis opened #444 "Broken link on Operation hooks page"
## URL of the page

http://loopback.io/doc/en/lb3/Operation-hooks.html

## Nature of the issue

In the `before save` section, there's a link in the below line which is broken:

This links to: http://loopback.io/doc/en/lb3/Operation-hooks-version-3.0-.html

## Expected behavior

Link should not be broken.

## Actual behavior

Link is broken.

## Suggested resolution

I looked through the page, but

[2017-08-29 18:37] crandmck commented on #444
Fixed with 5ab8d74346928f0a876db5d75343c1d898f8b4fc.
Thanks for catching!

[2017-08-29 18:37] #444 closed

[2017-08-29 18:41] crandmck commented on #443
I don't believe this is a doc issue, so moved to https://github.com/strongloop/loopback-cli/issues/53.

[2017-08-29 18:41] #443 closed

[2017-09-05 00:21] christophherr commented on #425
If you set the sidebar (.col-md-3) to position fixed, you could add margin-left: 25% to .col-md-9
or you could add the bootstrap class pull-right to the markup.

[2017-09-05 21:51] crandmck commented on #425
Thanks for the tips, @christophherr
It works well when the page is wide, but as  you make it narrower, not so much:
![2017-09-05_1448](https://user-images.githubusercontent.com/2925364/30084957-5fad6e7e-9249-11e7-9ae8-dcbbacf931bc.png)

Any ideas on how to fix this?  Check out the `fix-sidebar` branch.  You can fork it if you can fix it and then open a PR, or just tell me how... Thanks very much!

[2017-09-06 02:49] christophherr commented on #425
@crandmck Thanks for testing my suggestions.

It's probably better to go with the margin-left idea.
If you ever update to Bootstrap 4, the .pull-right class won't work anymore.

Is this what you had in mind?
https://d.pr/v/BKXTV

Here is the code used in the screencast (this is without pull-right in the markup):
[code]

Is there a preferred file to add CSS changes to?
I can open a PR tomorrow. I h

[2017-09-06 17:57] crandmck commented on #425
https://d.pr/v/BKXTV

Yes, assuming that the sidebar doesn't scroll down with the content (can't tell from the screencast).

Most of the media calls seem to be in `lavish-bootstrap.css`, but I'm not sure if modifying this would be a best practice since it's externally generated?  If not, then perhaps `theme-green.css`.  But I don't have a strong preference.

That would be awesome... tyvm!

[2017-09-08 17:39] nlgonzalez commented on #331
@crandmck I have an scenario where I use Vault to provide the configurations for the datasource of the loopback app running inside a docker container.
Im implementing this so that before I run the  boot(app) in server.js the vault client is called and create the datasource.

I know it can be done by setting Env variables but I think is better to just provide the vault token an allow the setup of t

[2017-09-11 17:18] crandmck commented on #331
Hi @nlgonzalez I'm not familiar with Vault... I presume you're referring to https://hub.docker.com/_/vault/, yes?

I'm not the best person to address this--perhaps @bajtos or @kjdelisle can do so...?

[2017-09-12 00:00] nlgonzalez commented on #331
@crandmck Exactly! We are using vault as our secret repository I can share how I implemented it to se if it makes sense. Thanks!

[2017-09-12 18:04] damache opened #455 "sidebar over extends into page content"
## URL of the page

If applicable.

## Nature of the issue
the sidebar overlaps the page content.  looks like pr #451 caused it.

## Expected behavior

What did you expect to happen?

## Actual behavior

What actually happenend, with steps to reproduce (if applicable).

## Suggested resolution

How do you think this should be resolved (optional).

[2017-09-12 19:42] crandmck commented on #455
@damache I don't see this... Can you please provide an example/screenshot or steps-to-reproduce?
You may need to do a hard refresh to ensure that all the CSS files are being reloaded.

[2017-09-12 19:45] crandmck commented on #455
nm, just saw your comment on https://github.com/strongloop/loopback.io/pull/451.  Will see if fixing the error you identify corrects it.

[2017-09-12 19:51] damache commented on #455
![screenshot from 2017-09-12 14-51-03](https://user-images.githubusercontent.com/11265811/30345207-d8d08dc4-97c9-11e7-935d-dcd529991c20.png)

I'm in FF, the IBM version

[2017-09-12 22:33] crandmck commented on #455
I tried it with IBM/FF 52.3.0 (64-bit on MacOS) and it lays out correctly for me (I usually use Chrome):
https://screencast.com/t/7proxZjIjh

Perhaps try clearing your cache?

[2017-09-13 09:01] bajtos commented on #331
@nlgonzalez The `boot` function implemented by `loopback-boot` allows callers to provide custom datasource configuration object that should be used instead of content from `datasources.json` file(s). See http://apidocs.strongloop.com/loopback-boot/#boot

Here is a mockup to illustrate my point:

[code]

[2017-09-13 15:21] damache commented on #455
doesn't fix it @crandmck .  If I zoom to 90% it renders properly.

[2017-09-18 19:15] nlgonzalez commented on #331
@bajtos thanks for the info! Works great!

[2017-09-19 14:03] bajtos commented on #331
@nlgonzalez that's great to hear! Would you mind contributing this information to our documentation, so that other users can find it more easily? See http://loopback.io/doc/en/contrib/doc-contrib.html to get you started.

cc @crandmck

[2017-09-19 18:00] crandmck commented on #331
Probably http://loopback.io/doc/en/lb3/Advanced-topics-data-sources.html#creating-a-data-source-programmatically is the best place... Or perhaps http://loopback.io/doc/en/lb3/Defining-data-sources.html.

[2017-09-20 19:33] dhmlau commented on #133
@crandmck , looks like this is done.  is it good to close? Thanks.

[2017-09-20 19:48] crandmck commented on #133
Yes! :-D

[2017-09-27 13:12] CaptainHypertext commented on #455
This happens for me too, I'm using Chrome on a Windows 10 desktop, full screen.  I keep having to inspect element and reduce the column width to 15%.  For me, zooming to 90% doesn't fix it.

[2017-09-27 23:34] crandmck commented on #455
Sorry about this, guys.  I'm still having a hard time reproducing it. Let me try when I get back to my office.

@christophherr any ideas?

[2017-09-28 12:16] CaptainHypertext commented on #455
I've got a 1920 x 1080 monitor.  I notice that it only starts to happen when the window width gets to be above 1630px or so.  If I shrink the window width a bit, it looks better.

Happens in Edge too.

[2017-09-28 16:53] crandmck commented on #455
OK, I remember now: https://github.com/strongloop/loopback.io/pull/451#issuecomment-329256127  Its happens for me in FF, but not Chrome.

So, there should be a way to address this "super wide window" situation...Someone who knows Bootstrap/CSS could probably fix it easily.  Unfortunately, I don't.... Anyone want to take a stab at it?

[2017-09-28 17:13] christophherr commented on #455
@crandmck @CaptainHypertext Could you give the media queries in  https://github.com/strongloop/loopback.io/pull/451#issuecomment-329009405
a try? I don't have a 1920x1080 monitor to test.

[2017-09-28 17:30] crandmck commented on #455
Thanks @christophherr I forgot/overlooked that!

It fixed the problem for me, but it would be great if someone else could test as well.  See [wide-window-fix](https://github.com/strongloop/loopback.io/tree/wide-window-fix) branch.

@CaptainHypertext @damache want to give it a try?

[2017-09-28 18:01] CaptainHypertext commented on #455
@crandmck Looks good on my end

[2017-10-02 22:37] crandmck commented on #455
AFAICT #472 fixed this.
If it still occurs, please reopen with details.

[2017-10-02 22:37] #455 closed

[2017-10-02 22:37] crandmck commented on #425
This has been addressed.

[2017-10-02 22:37] #425 closed

[2017-10-02 22:38] crandmck commented on #434
@atherdon ping...?

[2017-10-03 00:27] damache commented on #455
sorry missed the email, was out sick last week.  just checked and it renders properly.  good job.

[2017-10-03 13:32] landervs opened #473 "Partitioned application"
I have an scalable application, which is being used by different groups of users. One group is NOT allowed to see the data from another group, so I have to partition up my application.

(With realm of the build-in User model this is not possible, this is to partition models, but i want to partition my whole application, each group is able to use all the models, only the data (read: returned rows)

[2017-10-03 16:29] #473 closed

[2017-10-03 16:29] crandmck commented on #473
Issue moved to [strongloop/loopback-next #615](https://github.com/strongloop/loopback-next/issues/615) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-10 21:08] monster910 opened #482 "Create documentation or write article or improve doc on Change and Checkpoint"
## URL of the page

Not applicable

## Nature of the issue

Lack of documentation of  major models when using cli 'lb model'

## Expected behavior

Better documentation about the use of the base models and why they exist.

## Actual behavior

Not applicable.

## Suggested resolution

Write some more doc in the tutorial or document the classes better directly in API Docs.

[2017-10-10 21:21] crandmck commented on #482
Have you read [Synchronization](https://loopback.io/doc/en/lb2/Synchronization.html), particular the [Understanding Replication](https://loopback.io/doc/en/lb2/Synchronization.html#understanding-replication) section?  It explains the Checkpoint and Change models.

The [loopback-example-offline-sync tutorial](https://loopback.io/doc/en/lb2/Tutorial-Offline-Synchronization.html) also provides some r

[2017-10-12 13:18] buokae opened #485 "fix unsafe scripts warning when accessed from google"
## URL of the page

For instance: https://loopback.io/doc/en/lb2/Creating-models.html but it happens site wide.
Go there by googling for "loopback model" and click on the first link in the results.

## Nature of the issue

The site generates an error in Chrome: "This page is trying to load scripts from an unauthenticated source". This happens when following a link from google results. Page is then

[2017-10-12 13:18] buokae commented on #485
Another suggested resolution is to make a site wide search engine.

[2017-10-12 21:41] crandmck commented on #485
I checked in a change this morning that should fix it.  Currently, the page displays fine for me, and there's nothing in Chrome dev console either.

Please have another look and see if this still happens for you.

[2017-10-13 14:32] dhmlau opened #488 "Make LB4 GitHub repo + Welcome Contributors messages visible"
Follow on discussion from https://github.com/strongloop/loopback.io/pull/487#issuecomment-336450889

related to: https://github.com/strongloop/loopback.io/pull/487

/cc @bajtos

[2017-10-13 19:15] dhmlau commented on #488
For the github link on loopback.io, I'm thinking whether it would be good to put the github link icon somewhere inside "COMING SOON" message box.
Don't know if it's going to confuse people because we have the github link to `loopback` repo at the top right corner of the page.

[2017-10-13 22:08] crandmck commented on #488
I think it would be better to direct them to the doc page (http://loopback.io/doc/en/lb4/index.html) then add a link on that page to the lb-next repo.  The doc page will give them a bit more context and the opportunity to dig into the docs if they want.

[2017-10-18 00:05] crandmck commented on #488
I was going to open a PR, but I accidentally committed my edits: http://loopback.io/doc/en/lb4/
I didn't think it was worth it to back out the change and do it via PR, since we can just refine it on the site IMO since we're still pre-beta.

I added the right-aligned "box" with a link to the repo, and I also thought it worth a brief mention  that we're using a "mono repo" instead of many repos as b

[2017-10-18 12:19] bajtos commented on #488
👏

I am not sure if this is true. For example, `@loopback/authentication` is living inside mono repo.

We haven't discussed this yet in depth, but I think all components maintained by us should live in the main mono repo too, for the same reasons why we moved core components to the mono repo - we want to have most of the code we are maintaining in one repo to make cross-project changes easier. Onl

[2017-10-18 17:48] crandmck commented on #488
How about "Examples and externally-developed components will be in separate repositories" ?

[2017-10-19 08:00] hyderaliafzal opened #494 "is there a way to make the connector use mongo database and cache it"

[2017-10-19 12:56] bajtos commented on #488
Sounds good 👍

[2017-10-19 17:13] crandmck commented on #494
Please don't use issues to ask questions: http://loopback.io/doc/en/contrib/Reporting-issues.html#dont-use-an-issue-to-ask-a-question

[2017-10-19 17:13] #494 closed

[2017-10-19 17:17] crandmck commented on #488
OK, I made that change to http://loopback.io/doc/en/lb4/.
Can we close this now?

[2017-10-20 22:22] dhmlau commented on #488
LGTM. thanks.

[2017-10-23 17:40] #488 closed

[2017-10-26 11:35] buokae commented on #485
That fixed it form me too, everything displays fine now.

[2017-10-31 17:56] crandmck opened #509 "Global vs local install of TypeScript"
@bajtos @raymondfeng @dhmlau Please let me know your preference...

From https://github.com/strongloop/loopback.io/pull/505#issuecomment-340767687:

While I understand the reasoning behind this approach, I can see two issues:
- [TypeScript docs](https://www.typescriptlang.org/docs/handbook/typescript-in-5-minutes.html)  and [README](https://www.npmjs.com/package/typescript) say to install it globa

[2017-10-31 18:25] dhmlau commented on #509
Here are my thoughts:

I don't think it make sense to tell the users to install typescript globally and locally.
If installing globally is anti-pattern as @bajtos mentioned, perhaps we can recommend the users to do it locally?  At least that's our recommendation to our users who first install typescript because of loopback4?  Also, setting typescript as devDependencies will make typescript to be i

[2017-10-31 19:52] raymondfeng commented on #509
I wonder if we should promote https://github.com/strongloop/loopback-next/tree/master/packages/build.

See https://github.com/strongloop/loopback4-example-getting-started/blob/master/package.json#L10 for an example.

Please note that `@loopback/build` already has dependency on typescript. It first tries to use the one from the project and fall back to its own dependency.

I think the bottom line i

[2017-11-01 23:51] crandmck commented on #509
OK, I removed `ts-node` from the process altogether, so now you compile the TypeScript with `./node_modules/typescript/bin/tsc` and run it with `node index.js` (I gave user the choice of entering those commands directly or putting them in `package.json`.

Since the user creates the JS and TS code in the same project, I decided to use `app.js` for the main JS program file, so it doesn't get over-wr

[2017-11-02 00:35] raymondfeng commented on #509
TypeScript should be a `devDependency`. Use `npm i typescript --save-dev`.

[2017-11-02 13:50] dhmlau commented on #509
In http://loopback.io/doc/en/lb4/Installation.html#install-loopback-core-package, since it's a devDependency, the snippet should look like:
[code]

[2017-11-02 20:49] #133 closed

[2017-11-02 21:35] crandmck commented on #509
OK, but just to clarify, Raymond said @loopback/core should be regular (not dev) dependency.

[2017-11-02 23:14] crandmck commented on #509
Updated Installation and GS again to make TypeScript a dev dep.

It occurred to me that we don't really need to do that for the JavaScript-based project, but I left it as a first step for either JS or TS devs.

[2017-11-06 20:59] bschrammIBM opened #518 "docs: Find out how to re-use ProductBaseSchema for the model definition"
## http://loopback.io/doc/en/lb4/Thinking-in-LoopBack.html#define-product-model-repository-and-data-source

## Nature of the issue

TO Do Tag for @bajtos
TODO(bajtos) Find out how to re-use ProductBaseSchema for the model definition

[2017-11-06 21:32] bschrammIBM opened #519 "docs: missing content Preparing your API for consumption"
## http://loopback.io/doc/en/lb4/Thinking-in-LoopBack.html#preparing-your-api-for-consumption

Need to provide content for this topic or indicated that it is not available for beta.

[2017-11-06 21:40] bschrammIBM opened #520 "docs: missing content - Calling other APIs and web services"
http://loopback.io/doc/en/lb4/Calling-other-APIs-and-web-services.html

Your API implementation often needs to interact with REST APIs, SOAP Web Services or other forms of APIs.
How to:
•	Set up a Service
•	Use services with controllers
•	Reuse models between services and controllers
 Work-in-progress: This section is not yet complete.

[2017-11-07 18:17] crandmck commented on #509
I'm going to close this for now.  If we want to change the procedure to use `@loopback/build`, suggest we open a new issue.

[2017-11-07 18:17] #509 closed

[2017-11-07 22:26] crandmck commented on #160
Fixed with 70d5d5650ffb695820791db752fb0431e5459d34

[2017-11-07 22:26] #160 closed

[2017-11-14 19:54] bschrammIBM commented on #337
This code sample was changed in lb3, so no update was required.
I updated the code sample in Polymorphic-relations.md for lb2 as follows:
Reader.hasMany("imageables", {
    model: Picture
    polymorphic: {
      foreignKey: 'imageableId', // defaults to 'as - Id'
      discriminator: 'imageableType' // defaults to 'as - Type'
  }
});

[2017-11-14 19:54] #337 closed

[2017-11-15 04:48] dhmlau commented on #519
That's done through https://github.com/strongloop/loopback.io/pull/536.
Here is the doc page: http://loopback.io/doc/en/lb4/Preparing-the-API-for-consumption.html

Closing it. Thanks.

[2017-11-15 04:48] #519 closed

[2017-11-16 12:51] jhonToni opened #540 "Docs: USING CONFIG.JSON IN LOOPBACK 4"
In `Loopback 4` can you use the file `server/config.json`?
How do I load the configuration from this file?
Help me please ! 👍

[2017-11-16 16:27] b-admike commented on #540
Hi @jhonToni, how do you want to use `server/config.json` and what is in it? Nonetheless, you can use a similar approach as [here](https://github.com/strongloop/loopback4-example-getting-started/blob/master/src/datasources/db.datasource.ts#L5-L14).

[2017-11-16 16:41] kjdelisle commented on #540
@jhonToni LoopBack 4 does not have a `config.json` concept in the same way that LoopBack 3 does.

Since LoopBack 4 makes use of the concept of Servers as distinct objects that you configure separately from the top-level Application context, we can't have a "master" config location to setup your server details, because you can have any number of them.

http://loopback.io/doc/en/lb4/Application.html

[2017-11-16 16:45] bschrammIBM commented on #540
I am tagging this for a doc update as it provides a good use case.

[2017-11-16 20:53] simoroshka opened #541 "The links to scripts are going nowhere"
## URL of the page

http://loopback.io/doc/en/lb3/Connecting-to-PostgreSQL.html

## Nature of the issue

If I want to see the contents of the model.json and the automigrate script, I get to a 404 page.

[2017-11-17 13:04] daniDevKr commented on #540
How can I set   the accepted  `content-types` of the  `post requests`  ??

[2017-11-17 16:01] dhmlau commented on #541
@simoroshka , that's interesting.  I just tried it with Chrome and Firefox, the link is working.
If it still doesn't work for you, could you please provide with OS with version, and the browser you're using?  thanks.

[2017-11-18 11:48] simoroshka commented on #541
I am on Mac Sierra 10.12.6, Chrome browser 61.0.3163.10.

<img width="727" alt="screen shot 2017-11-18 at 13 47 51" src="https://user-images.githubusercontent.com/7287215/32979966-26e484bc-cc67-11e7-81cf-9fb5ce84c85f.png">

<img width="562" alt="screen shot 2017-11-18 at 13 48 05" src="https://user-images.githubusercontent.com/7287215/32979965-26c744d8-cc67-11e7-9f1f-9e59f4fd545c.png">

[2017-11-20 03:00] dhmlau commented on #541
@simoroshka, I thought you have problem accessing the Connecting-to-PostgreSQL.html page.  Sorry about that.
This page is actually coming from the `README.md` in the `loopback-example-database` repo, therefore, the path should be relative to that repo.  i.e.
https://github.com/strongloop/loopback-example-database/blob/master/common/models/account.js
https://github.com/strongloop/loopback-example-d

[2017-11-20 21:16] bschrammIBM commented on #541
I suggest accessing the script from the above links provided by @dhmlau for now.
There are some web site production issues I need to sort through to figure out how to fix the links on http://loopback.io/doc/en/lb3/Connecting-to-PostgreSQL.html.

[2017-11-21 20:54] dhmlau opened #545 "Change in docs referring Bluemix (currently known as IBM Cloud)"
With the name of Bluemix has changed to IBM Cloud (https://www.ibm.com/blogs/bluemix/2017/10/bluemix-is-now-ibm-cloud/), we might want to change the Bluemix references to `IBM Cloud`.

Examples of pages that need to be changed:
https://loopback.io/doc/en/lb2/LoopBack-on-Bluemix.html
https://loopback.io/doc/en/lb3/Bluemix-config-generator.html
https://loopback.io/doc/en/lb3/Command-line-tools.html

[2017-11-22 17:17] dhmlau commented on #545
@bschrammIBM , do you think you could help us with the renaming?  Thanks.

[2017-11-27 17:04] bschrammIBM commented on #545
Yes will do - here are some clarification points:
1) Does this need to be done in LB2?
Due to time constraints for me, might be best to update LB3 only to accommodate the name change from Bluemix to IBM Cloud.
2) I do not plan to change any filenames and also the links that contain the term 'Bluemix'; only when the term is used in the text.

[2017-11-28 08:04] Debanjan123 opened #550 "using middleware.json in loopback 4"
In loopback 4 ,how do we use to host folder with the same port.In version 3 i use
 "files": {
    "loopback#static": {
      "params": "$!../client"
    }
  },
to host client folder.
Now is there any option available to host client folder

[2017-11-28 16:22] shimks commented on #550
Hi @Debanjan123, the feature for LoopBack's REST component to support static file hosting is currently being planned, and you can keep a track of its progress in this issue: https://github.com/strongloop/loopback-next/issues/691. Thanks for letting us know that users are actively looking for this feature. I'll be closing this issue for now.

[2017-11-28 16:22] #550 closed

[2017-11-29 16:19] LubosBaja opened #553 "Application generator --explorer switch behaviour inconsistency"
## URL of the page
http://loopback.io/doc/en/lb3/Application-generator
http://loopback.io/doc/en/lb3/Create-a-simple-API.html

## Nature of the issue
I am new to loopback, trying to follow chapter Getting started with Loopback 3.0 I have found the inconsistency in documentation or behaviour of application generator.
It is stated that apic loopback command creates application with API explorer. But

[2017-11-29 23:35] bschrammIBM commented on #545
this has been completed in commit 71744eddb514faea3c5110a50b197c5f1a1a5de1
completed in LB3 only
closing this

[2017-11-29 23:35] #545 closed

[2017-11-30 22:09] bschrammIBM commented on #553
Hi, thank you for pointing this out. I will ask the team and get a resolution within a few days.

[2017-12-01 15:24] dhmlau commented on #553
@LubosBaja, the expected behavior is:
- if `lb [app] [options] [<name>]` is used, API explorer will be created by default
- if `apic loopback --type api [options]` is used, API explorer will *not* be created by default

I'll submit a PR to clarify this in the documentation.  Thanks for reporting this.

[2017-12-01 20:02] bschrammIBM commented on #553
Closing because the docs have been updated per docs: clarify API Explorer default #557

[2017-12-01 20:02] #553 closed

[2017-12-02 02:20] Vacster commented on #347
Great script by @honestserpent, it does exactly what one wants.

If anyone get an error saying

try adding `{flag: 'w'}` as a parameter to the writeFileSync function on line 39 (which should be that by default but it wasn't working for me). This is done so one doesn't have to create an empty file for it to write on.

[2017-12-05 18:37] wzup opened #560 "SyntaxError: C:\loopback-getting-started\server\middleware.json: Unexpected token / in JSON at position 884"
[Here ](https://loopback.io/doc/en/lb3/Defining-middleware.html#middleware-configuration-properties)you write

This is wrong and it throws!

I'm setting a regex in an array, but your framework throws:
[code]

It throws:
[code]

How to pass regex in an array in `middleware.json`?

[2017-12-05 18:42] bschrammIBM commented on #560
Thank you for pointing out this error. We are taking a look at it now.

[2017-12-05 18:52] wzup commented on #560
@bschrammIBM , a string also doesn't work

[code]

[2017-12-05 18:55] wzup commented on #560
On SO too
https://stackoverflow.com/questions/47660626/unexpected-token-in-json-how-to-include-a-regex-in-an-array-in-a-json

[2017-12-07 19:45] dhmlau commented on #560
@b-admike , could you please take a look? thanks.

[2017-12-07 21:57] bschrammIBM commented on #560
We are looking at this issue and will be in touch in a few days.

[2017-12-18 21:50] artcoders27 commented on #347
Please,
Can i get a little explanation for the next:
"The script requires a datasource name as specified in your datasources.json and a table name you want to discover."
I understood datasource in datasource.js but where to put  table name?

Thanks!

[2017-12-19 02:55] lancedouglas1 commented on #560
Does this require the "/" and "/g" added to be valid JSON?

`"paths": /[/^\/(?!css|js|img).+$/ig]/g`
or simply
`"paths": /^\/(?!css|js|img).+$/ig`

[2017-12-19 03:13] lancedouglas1 commented on #434
Submitted a PR with a simple "see also" link: https://github.com/strongloop/loopback.io/pull/570

[2017-12-19 07:38] officer-rosmarino commented on #347
Just run the script, it will tell you what to do.

I put it in a gist: https://gist.github.com/honestserpent/a09f8a625aa1b142d31b62f22fef747b

[2017-12-19 20:18] artcoders27 commented on #347
honestserpent, thanks a lot.

I do not know what i am doing wrong, when i run the script, i got this:
"Usage: node discover-schema.js [-ds datasource -sn db_schema_name]
        -ds datasource: name of the datasource as specified in datasources.json
        -sn db_schema_name: name of the table in the db"

[2017-12-20 07:51] officer-rosmarino commented on #347
@artcoders27 Make sure you use the script I provided in the [gist](https://gist.github.com/honestserpent/a09f8a625aa1b142d31b62f22fef747b).

How are you running the script. You should just be able to run it from the console by running:

`node discover-schema.js -ds [datasource] -tn [table_name]`

Say for instance that you named a datasource `hello-world-db` and you have a table in that db named `t

[2018-01-04 19:25] drlukeangel opened #576 "possible documentation improvement"
## URL of the page

If applicable.

## Nature of the issue
documentation improvement
Is this an issue with the layout/behavior/UX of the site or a problem with missing/inaccurate documentation content?

**documentation content**

## Expected behavior
on the page:
https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb3/Introducing-the-Coffee-Shop-Reviews-app.md

issue 1:
for reviewers

[2018-01-04 19:39] bschrammIBM commented on #576
Thank you for your issue. Our technical team will review this shortly.

[2018-01-09 19:00] dhmlau commented on #431
Closing this in favor of https://github.com/strongloop/loopback-next/issues/189

[2018-01-09 19:00] #431 closed

[2018-01-10 14:50] eisverticker opened #582 "Missing docs for LoopBack type "file""
## URL of the page

https://loopback.io/doc/en/lb3/LoopBack-types.html

## Nature of the issue

Missing documentation content

## Expected behavior

I expected to find the _file_ type on this page [see this issue](https://github.com/strongloop/loopback-swagger/issues/34)

## Actual behavior

_file_ type was missing in the type listing

[2018-01-10 22:59] bschrammIBM commented on #582
Thank you for this comment. I am waiting for confirmation from the Eng team and will make the necessary update.

[2018-01-12 14:23] bajtos commented on #582
@eisverticker thank you for reporting the issue. The status of "file" support is complicated - see my comment https://github.com/strongloop/loopback-swagger/issues/34#issuecomment-357250305, it's not enough to add "file" entry to the doc page you mentioned.

I personally consider "file" type as an immature feature not ready for prime time, intended for advanced users only, and therefore I think it

[2018-02-02 23:19] LeCoupa commented on #89
Would be really useful 👍

[2018-02-05 20:03] bschrammIBM opened #605 "Broken link on https://loopback.io/doc/en/lb4/Decorators.html"
## URL of the page

https://loopback.io/doc/en/lb4/Decorators.html

## Nature of the issue
There is a broken link to: https://loopback.io/lb3/Model-definition-JSON-file.html
The link is in italics below.

Model Decorator
Syntax: @model(definition?: ModelDefinitionSyntax)

Model decorator is a Class decorator. In LoopBack 4, we inherit the model definition format from LoopBack 3, you can find it in

[2018-02-05 20:17] bschrammIBM commented on #605
I found the topic in LB3, this is the correct url: https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html
Need to check why the link doesn't work
The url needs to updated. Wrong url: https://loopback.io/lb3/Model-definition-JSON-file.html

[2018-02-07 12:03] uldissturms opened #611 "Typo in testing strategy - arrange/act/assert (wrong: act/arrange/assert)"
## URL of the page

http://loopback.io/doc/en/lb4/Testing-your-application.html

## Nature of the issue

Typo in describing testing strategies

## Expected behavior

Correctly typed testing strategy - arrange/act/assert

## Actual behavior

Incorrectly typed testing strategy - act/arrange/assert

## Suggested resolution

Please see PR to be linked shortly.

[2018-02-07 18:54] #611 closed

[2018-02-14 15:42] shimks commented on #605
Issue is solved with #606

[2018-02-14 15:42] #605 closed

[2018-02-16 22:17] jpmyob commented on #347
@honestserpent - thx dude. I think this is gonna do what I needed, but im getting

 error: '[node-ibm_db] SQL_ERROR',
  message: '[IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  "LIVE.TBLADDRESS" is not valid in the context where it is used.  SQLSTATE=42703\r\n',
  state: '42S22'

Where I'm connecting to a DB2 where "live" is the schema and "tbladdress" is the table name.

I have tried w/ and w/o the

[2018-02-16 22:48] jpmyob opened #623 "DB2 table schemas break API"
## Nature of the issue
Following the discovery process, and creating a model from that discovery,
I have a model in the common/models dir. it was read using discovery-and-build.js which specified a "schema"

My db2 database makes wide use of table schemas for organization, so the table in question is @ LIVE.TBLADDRESS  - when I add the model to model-config.json using

,"Tbladdress": {
	"dataSourc

[2018-02-18 03:58] dhmlau commented on #623
@jpmyob , I believe the format would be something like:
"Tbladdress": {
"options": {
    "x3": {
      "schema": "LIVE"
    }
  }
}

Please see http://loopback.io/doc/en/lb3/Model-definition-JSON-file.html for details.
Another way is to specify it in the datasources.json, see this [DB2 connector README](https://github.com/strongloop/loopback-connector-db2)

[2018-02-18 05:05] jpmyob commented on #623
I'll try it.

[2018-02-18 05:38] jpmyob commented on #623
No change - it looks like the "options" was already in the model...

	"options": {
		"idInjection": false,
		"db2": {
			"schema": "LIVE",
			"table": "TBLADDRESS"
		}

I tried adding it to the /model-config.json - but saw no change or difference in behavior so I took it out.

This is what I "see" using DB Viewer...so you have an idea what I'm referring to.
DEV - host:50000/DEV
-schemas
|-AAA
|-BB

[2018-02-19 07:41] officer-rosmarino commented on #347
Can you provide both the exact command you ran and your db structure?

[2018-02-19 18:08] jpmyob commented on #347
@honestserpent - srry honest, this appears to be an issue with the API generator, not your discovery script. - I've got my model correct, I think, even if I do it manually - the API doesn't identify the correct table schema - I've logged a bug - https://github.com/strongloop/loopback.io/issues/623
but It doesn't have anything to do with your code.

[2018-02-20 07:36] officer-rosmarino commented on #347
@jpmyob aight!

[2018-02-20 16:18] jpmyob commented on #623
I did reference that article, and that's where I got the info on how to 'discover' - and I got past the discovery - I have the model - but the API is choking /failing on the models "schema" designation....
I don't think it's a discovery issue, If I code my model by hand it would look the same - and throw the same error.

The issues, as best I can tell is the API generator, NOT correctly using the

[2018-02-20 20:19] jpmyob commented on #347
@honestserpent - circling back around, because I'm not getting any responses to my bug/post on numerous boards... When I run your script, I get a very similar error. So I'm hoping you might have some input -

I'm connected to a DB2 (v10) database with multiple Schema. So when I run your code
I'm a bit confussed by your -tn (table name) reference (above)... and -sn (schema name)
When I ran the scri

[2018-02-21 08:12] officer-rosmarino commented on #347
@jpmyob my code does not support multiple schemas.. The only 2 accepted options are `-ds` (database source) and `-tn` (table name).
Unfortunately, I never had the need to support multiple schemas so I didn't even think about it.. Plus, it's a very old script that I have implemented during my first period with Node.js and Javascript...

Now I don't even use loopback anymore so I am not supporting i

[2018-02-21 20:08] jpmyob commented on #623
Added Info - DB2X happens to be the login's default schema - which is most likely WHY it's being selected.

This reinforces my suspicions that the "schema" option of the model is being ignored. But I don't know if it happens at the loopback-connector-db2 / db2.js or the loopback-connector sql.js or somewhere else in the chain.... I've been trying to track it down, it looks like "options" just gets

[2018-02-28 21:42] jpmyob commented on #623
OK - this works -

{
	"db": {
		"name": "db",
		"connector": "memory"
	},
	"x3": {
		"name": "x3",
		"connector": "db2",
		"username": "...",
		"password": "...",
		"database": "...",
		"hostname": "...",
		"port":     50000
                "schema": "LIVE"
	}
}

Granted - I now have to specify a separate datasource entry for each schema (40 and counting...) but at least it's a solution, I still d

[2018-02-28 21:42] #623 closed

[2018-03-02 11:30] dhmlau commented on #576
@drlukeangel, thanks for your comments.  Would you mind to submit a PR?  Thanks!

[2018-03-12 20:09] dhmlau commented on #520
related to: https://github.com/strongloop/loopback.io/pull/641

[2018-04-06 19:08] dhmlau commented on #138
https://github.com/ibm-apiconnect/getting-started is an archived repo already.  There won't be any active development on it unless it is really necessary.  Closing this ticket.

[2018-04-06 19:08] #138 closed

[2018-04-06 19:09] dhmlau commented on #429
Closing in favor of https://github.com/strongloop/loopback-next/issues/817.
We got the design team created the blueprint for us.

[2018-04-06 19:09] #429 closed

[2018-04-06 19:09] dhmlau commented on #430
Closing in favor of https://github.com/strongloop/loopback-next/issues/817

[2018-04-06 19:09] #430 closed

[2018-04-10 05:05] hacksparrow opened #661 "Add warning about using other form parsers with LoopBack"
## URL of the page

http://loopback.io/doc/en/lb3/Storage-component.html

[2018-04-12 03:40] hacksparrow commented on #661
Changes not reflected on website, re-opening.

[2018-04-13 10:42] al-k21 commented on #347
Hello,

I am hitting the same issue.

Could someone help?

[2018-04-18 08:45] bajtos commented on #347
@al-k21 the documentation page is rather confusing, I'll take a look on improving it.

Meanwhile: If you want to discover a model definition (schema) and save it to a JSON file, then you need to use `dataSource.discoverSchema()` API.

For example, when discovering [sample MySQL employees database](https://github.com/datacharmer/test_db), one can write the following code to obtain the definition of

[2018-04-18 10:39] bajtos commented on #347
Hello, I opened a pull request to improve this part of our documentation, see https://github.com/strongloop/loopback.io/pull/670.

I'd love to hear your feedback - is the new content clear enough? Did I miss any important information?

[2018-04-18 14:55] Fever905 commented on #347
Is there any way to discoverSchema from an mssql stored procedure?  I am able to discover any table I feed it but I need to get the schema from a stored proc.  I'm open to a kludge :)

[2018-04-19 09:18] bajtos commented on #347
@Fever905 AFAIK, LoopBack can discover only tables and views, this applies to all connectors.

I am not familiar with MSSQL stored procedures. Is there an SQL extension API allowing clients to introspect the output type of a stored procedure? If there is one, then it may be possible to build discovery of stored procedures on top of the existing code handling conversion from MS SQL types to LoopBac

[2018-04-24 20:46] carloslfu opened #673 "The demo.strongloop.com link is down"
## URL of the page

https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb3/Create-new-data-source.md

Line 57

## Nature of the issue

The demo.strongloop.com link is down

[2018-04-26 14:31] #347 closed

[2018-04-28 21:29] dhmlau commented on #673
@carloslfu , thanks for reporting this issue.  Given that we can easily start a mongodb docker image, I think it's better to change this documentation to ask the user to use their own mongodb database (in docker container or not).

Would you be interested to submit a PR to fix this?  Some useful info can be found here: https://github.com/strongloop/loopback-connector-mongodb/blob/master/README.md

[2018-04-30 00:56] carloslfu commented on #673
Hi @dhmlau. Of course, I will submit a PR fixing this. Thanks for the info.

[2018-05-04 03:11] dhmlau commented on #661
@hacksparrow , are the changes propagated properly now?

[2018-05-04 03:11] hacksparrow commented on #661
Yes
On Fri, 4 May 2018 at 8:41 AM, Diana Lau <notifications@github.com> wrote:

[2018-05-06 01:10] dhmlau commented on #661
Closing it as resolved.

[2018-05-06 01:10] #661 closed

[2018-05-10 18:31] bschrammIBM opened #678 "Customer request regarding kafka connector"
Customer wants to know which connector to use for Kafka:
"Which npm package should I use: "loopback-connector-kafka" or "kafka-node"?"
In LB 2.0 docs, we list loopback-connector-kafka (see https://loopback.io/doc/en/lb2/Community-connectors.html). But we do not list a kafka connector in the LB 3.0 docs.

Shall I tell the customer to use  loopback-connector-kafka?
Or are we not recommending a Kafka

[2018-05-10 18:44] jannyHou commented on #678
@bschrammIBM "loopback-connector-kafka" is a connector maintained by community, loopback team doesn't officially support it, we could do best effort help.
"kafka-node" is the node driver for Kafka, has nothing to do the loopback REST model operations, user need to write the underneath logic as the connector to implement those loopback REST operations.

[2018-05-10 18:54] bschrammIBM commented on #678
Thanks I will tell them to try loopback-connector-kafka, but that it is a community maintained connector. Closing

[2018-05-10 18:54] #678 closed

[2018-05-18 17:09] dhmlau opened #686 "List of connectors that support transaction is not complete"
## URL of the page
https://loopback.io/doc/en/lb3/Using-database-transactions.html

## Nature of the issue
The above link shows only MySQL, Prostgreql, MSSQL and Oracle connectors have transaction support.  However, this list is not complete, at least DB2 connector support transactions.

## Expected behavior
The documentation shows a complete list of connectors that support transactions.

## Accep

[2018-05-18 17:35] dhmlau commented on #284
There seems to be 2 problems:
1. the docs does not have a complete list of which connectors support automigrate or discovery or both. https://loopback.io/doc/en/lb3/Creating-a-database-schema-from-models.html#auto-update
2. the [available-connectors.json](https://github.com/strongloop/loopback-workspace/blob/master/available-connectors.json) does not provide the correct information, and thus canno

[2018-05-18 18:07] jannyHou commented on #686
@dhmlau

From my experience of SQL connectors, yes we can safely assume it, usually the transaction related methods are written in a single file `transaction.js`, like the one in dashdb connector https://github.com/strongloop/loopback-connector-dashdb/blob/master/lib/transaction.js

We also have a bunch of db2 connectors for other platforms:

- loopback-connector-db2
- loopback-connector-dashdb
-

[2018-05-18 18:10] dhmlau commented on #686
thanks @jannyHou. What about non-sql connectors?

[2018-05-18 18:18] jannyHou commented on #686
@dhmlau I am not aware of any non-sql connectors has transaction, at least mongodb, cloudant, cassandra doesn't have it.

We can go through all the connectors list in https://github.com/strongloop/loopback-workspace/blob/master/available-connectors.json in case we miss some.

[2018-05-21 11:00] JuergenSimon opened #687 "Getting "Invalid target model for scope" on logging in with User.js subclass"
## Nature of the issue

I have a model `Customer`, which inherits from `User` (built-in model). It uses a polymorphic relationship to share `AccessToken` with `User`. When simply starting loopback and running things normally, there is no problem.

Now we have a test setup for integration tests, in which the following happens:
* A test data source is created
* The models are attached (using the `at

[2018-05-21 11:14] JuergenSimon commented on #687
Note: the following things made no difference whatsoever:
* Moving the polymorphic relationship definitions from model-config.json into the model.json files
* Removing one of two subclasses of 'user' we are using and turning the relationship into a 'normal' (aka non-polymorphic) one.
* It seems that as soon as we attach models to the test data source, the `accessTokens` relationship is screwed up.

[2018-06-07 20:31] dhmlau commented on #520
It's been updated with relevant information.  Closing this issue.

[2018-06-07 20:31] #520 closed

[2018-06-08 23:14] dhmlau commented on #284
Fixed in https://github.com/strongloop/loopback.io/pull/702.  Closing this issue.

[2018-06-08 23:14] #284 closed

[2018-06-09 01:02] dhmlau commented on #432
Closing as resolved.  We got the design team to design the doc pages.  The next step is to get some free cycle to implement it!

[2018-06-09 01:02] #432 closed

[2018-06-09 02:44] dhmlau commented on #196
nice enhancement, however, we won't have the bandwidth to do it.  Closing as `won't fix`.

[2018-06-09 02:44] #196 closed

[2018-06-09 02:58] dhmlau commented on #115
PR has already merged.  Closing this issue.

[2018-06-09 02:58] #115 closed

[2018-07-04 14:32] aharbis opened #706 "Updated 3.20.0 apidocs is missing PersistedModel documentation"
## URL of the page

http://apidocs.loopback.io/loopback/v/3.20.0/

## Nature of the issue

It appears that in the update from version `3.19.3` to `3.20.0` the documentation for the class `PersistedModel` is missing.

## Expected behavior

The `PersistedModel` class documentation should exist at the above URL.

## Actual behavior

The `PersistedModel` class documentation is missing from the above U

[2018-07-13 13:54] virkt25 commented on #706
Fixed.

[2018-07-13 13:54] #706 closed

[2018-07-16 19:28] bschrammIBM opened #708 "Update lb3 docs with zosconnectee"
## URL of the page

https://loopback.io/doc/en/lb3/Command-line-tools.html

## Nature of the issue

Update the cli reference with zosconnectee https://github.com/strongloop/loopback-connector-zosconnectee#create-a-datasource

There may be other places in the docs that require updates to support zosconnectee command.

## Expected behavior

What did you expect to happen?

## Actual behavior

What ac

[2018-07-21 15:03] sdruckerfig commented on #347
What would be the syntax for discovering multiple specified views?

I tried:

let views = ["customerUser","adminOrders"];

  for (var i=0; i<views.length; i++) {

    dataSource.discoverAndBuildModels(
      views[i],
      {
        relations: false,
        views: true
      },
      function(err, models) {
        if (err) return callback(err);

        // expose all new models via REST API

[2018-07-24 16:51] hajdun opened #713 "Documentation missing/outdated"
## URL of the page
https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb3/Connecting-to-SOAP.md

## Nature of the issue
Among others, the mentioned soap service (http://www.webservicex.net/periodictable.asmx) is NOT available. The example code based on this page is not working.

Worst of all is that the step-by-step guide did result in a not-working mess.
Some of the plugins breaks t

[2018-07-25 12:32] JuergenSimon opened #714 "Handling of AccessTokens when logging in from multiple browsers"
I need some help in understanding how loopback handles AccessTokens. We have a setup where it's ok for the user to log in from multiple contexts / devices. They always log in with the same email/password combination. How is this handled in loopback? Will loopback create a new AccessToken each time? How does it handle re-use of AccessToken? Will this present a problem for us if we have to rely on e

[2018-08-06 12:08] bisonfoutu opened #722 "REST connector example: broken links"
## URL of the page

https://loopback.io/doc/en/lb2/REST-connector-example.html

## Nature of the issue

Broken links.

## Expected behavior

Multiple links should point to example source files on Github.

## Actual behavior

The links actually point to a deleted repository.

## Suggested resolution

Depending on the files having been moved or actually deleted, the links should be updated in the fi